.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html body header {
  height: 177px;
}
html body header .topo {
  height: 120px;
  margin-bottom: 2px;
  background-color: #9BADB7;
}
html body header .topo .vermelho {
  background-color: #c61a1a;
  padding-top: 42px;
  width: 250px;
  float: left;
  height: 78px;
  padding-left: 5000px;
  margin-left: -5000px;
}
html body header .topo .vermelho a#link-home {
  float: right;
  margin-right: 13px;
}
html body header .topo .anuncio-placeholder {
  float: right;
  width: 830px;
  height: 90px;
  margin: 15px 0 15px 15px;
}
html body header nav {
  font-size: 0;
  margin: 0 0 15px 0;
  background-color: #698291;
  height: 40px;
  overflow: hidden;
}
html body header nav .centro {
  position: relative;
}
html body header nav .social {
  position: absolute;
  right: 0;
  top: 3px;
  width: 60px;
  height: 40px;
  text-align: right;
  padding-top: 5px;
  font-size: 0;
  height: 50px;
}
html body header nav .social a {
  margin-left: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body header nav ul {
  min-width: 792px;
  list-style: none;
  text-align: center;
  margin: 0 auto 15px auto;
  display: block;
  height: 40px;
}
html body header nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 40px;
}
html body header nav ul li a {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 14px;
  line-height: 14px;
  display: block;
  padding: 13px 10px;
  margin: 0px 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header nav ul li a:active,
html body header nav ul li a:visited {
  color: #fff;
}
html body header nav ul li a:hover,
html body header nav ul li a.ativo {
  color: #c61a1a;
}
html body .main {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
  font-size: 0;
}
html body footer {
  background-color: #698291;
  padding-top: 22px;
  height: 90px;
  margin-top: 50px;
  border-top: 3px #FFF solid;
  position: relative;
}
html body footer:before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: -24px;
  width: 100%;
  height: 1px;
  background-color: #698291;
}
html body footer .contato {
  width: 125px;
  float: left;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
html body footer .contato h3 {
  border-bottom: 1px #fff solid;
  margin-bottom: 4px;
}
html body footer .assinatura {
  float: right;
  width: 260px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
html body footer .assinatura a {
  display: block;
  margin-top: 4px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .assinatura a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px transparent dotted;
}
html body footer .assinatura a img {
  vertical-align: -4px;
  margin-left: 5px;
}
html body footer .assinatura a:active,
html body footer .assinatura a:visited {
  color: #fff;
}
html body footer .assinatura a:hover span {
  border-bottom: 1px #fff dotted;
}
