@import 'vars.less';

html{
	body{
		header{
			height: 177px;
			.topo{
				height:120px;
				margin-bottom:2px;
				background-color:#9BADB7;
				.vermelho{
					background-color:@vermelho;
					padding-top:42px;
					width:250px;
					float:left;
					height:78px;
					padding-left:5000px;
					margin-left:-5000px;
					a#link-home{
						float:right;
						margin-right:13px;
					}
				}
				.anuncio-placeholder{
					float:right;
					width:830px;
					height:90px;
					margin:15px 0 15px 15px;					
				}
			}
			nav{
				font-size:0;
				margin:0 0 15px 0;
				background-color: @chumbo;
				height:40px;
				overflow:hidden;
				.centro{position:relative;}
				.social{
					position:absolute;
					right:0;
					top:3px;
					width:60px;
					height:40px;
					text-align:right;
					padding-top:5px;
					font-size:0;
					height:50px;
					a{
						margin-left:5px;
						.inline;
					}
				}
				ul{
					min-width:792px;
					list-style:none;
					text-align:center;
					margin:0 auto 15px auto;
					display:block;
					height:40px;
					li{
						.inline;
						height:40px;
						a{
							.oxygen(14px);
							height:14px;
							line-height:14px;
							display: block;
							padding:13px 10px;
							margin:0px 5px;
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{
								color:@vermelho;
							}
						}
					}
				}
			}
		}
		.main{
			.centralizar;
			font-size:0;
		}
		footer{
			background-color: @chumbo;
			padding-top:22px;
			height:90px;
			margin-top:50px;
			border-top:3px #FFF solid;
			position:relative;
			&:before{
				content:"";
				display:block;
				position:relative;
				left:0;
				top:-24px;
				width:100%;
				height:1px;
				background-color:@chumbo;				
			}
			.contato{
				width:125px;
				float:left;
				.oxygen(11px);
				color:#fff;
				line-height:140%;
				h3{
					border-bottom:1px #fff solid;
					margin-bottom:4px;
				}
			}
			.assinatura{
				float:right;
				width:260px;
				.oxygen(11px);
				color:#fff;
				a{
					display: block;
					margin-top:4px;
					color:#fff;
					span{
						.transition;
						border-bottom:1px transparent dotted;						
					}
					img{ vertical-align:-4px; margin-left:5px; }
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						span{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}