.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main {
  font-size: 0;
}
.main .coluna {
  width: 550px;
  margin-right: 50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .coluna:nth-child(2) {
  width: 500px;
  margin-right: 0;
}
.main .coluna.semmargem {
  width: 500px;
  margin-right: 0;
}
.main .coluna h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #698291;
  margin-top: 15px;
  line-height: 100%;
  margin-bottom: 25px;
}
.main .coluna h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
  color: #333333;
  margin-bottom: 25px;
}
.main .coluna p {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #4E4E4E;
  line-height: 120%;
  margin-bottom: 15px;
}
.main .coluna small a {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-top: 3px;
}
.main .coluna small a:hover {
  color: #c61a1a;
}
.main .coluna form {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #4E4E4E;
}
.main .coluna form label {
  display: block;
  margin-bottom: 12px;
}
.main .coluna form label input[type="text"],
.main .coluna form label input[type="email"],
.main .coluna form label textarea {
  background-color: #CBD3D9;
  border: 0;
  margin: 0;
  padding: 3px 6px;
  width: 488px;
  height: 24px;
  line-height: 24px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #c61a1a;
}
.main .coluna form label textarea {
  line-height: 130%;
  height: 224px;
  resize: none;
  overflow: auto;
}
.main .coluna form input[type="submit"] {
  text-align: center;
  width: 500px;
  color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #698291;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .coluna form input[type="submit"]:hover {
  background-color: #c61a1a;
}
