@import 'vars.less';

.main{
	font-size:0;
	.coluna{
		width:550px;
		margin-right:50px;
		.inline;
		&:nth-child(2){ width:500px; margin-right:0; }
		&.semmargem{ width:500px; margin-right:0; }
		h1{
			.opensans(26px);
			color:@chumbo;
			margin-top:15px;
			line-height:100%;
			margin-bottom:25px;
		}
		h2{
			.opensans(18px);
			line-height:100%;
			color:#333333;
			margin-bottom:25px;
		}
		p{
			.oxygen(14px);
			color:#4E4E4E;
			line-height: 120%;
			margin-bottom:15px;
		}
		small a{
			font-size:10px;
			.oxygen(10px);
			.transition;
			margin-top:3px;
			&:hover{color:@vermelho;}
		}
		form{
			.oxygen(13px);
			color:#4E4E4E;
			label{
				display:block;
				margin-bottom:12px;
				input[type="text"],
				input[type="email"],
				textarea{
					background-color:#CBD3D9;
					border:0;
					margin:0;
					padding:3px 6px;
					width:488px;
					height:24px;
					line-height:24px;
					.oxygen(16px);
					color:@vermelho;
				}
				textarea{
					line-height:130%;
					height:224px;
					resize:none;
					overflow:auto;
				}
			}
			input[type="submit"]{
				text-align:center;
				width:500px;
				color:#fff;
				border:0;
				padding:0;
				margin:0;
				background-color: #698291;
				cursor:pointer;
				height:30px;
				line-height:30px;
				.opensans(16px);
				.transition;
				&:hover{background-color:@vermelho;}
			}
		}
	}
}