.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main {
  background: url('../_imgs/empresa/infografico-empresa.png') right 125px no-repeat;
  min-height: 880px;
}
.main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #698291;
  margin-top: 15px;
  line-height: 100%;
}
.main h2 {
  line-height: 100%;
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin: 40px 0;
}
.main h3 {
  width: 415px;
  color: #504D4E;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 3px;
}
.main p {
  width: 415px;
  color: #504D4E;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 140%;
  margin-bottom: 20px;
}
