@import 'vars.less';

.main{
	background:url('../_imgs/empresa/infografico-empresa.png') right 125px no-repeat;
	min-height:880px;
	h1{
		.opensans(26px);
		color:@chumbo;
		margin-top:15px;
		line-height:100%;
	}
	h2{
		line-height:100%;
		color:@vermelho;
		.opensans(32px);
		margin:40px 0;
	}
	h3{
		width:415px;
		color:#504D4E;
		.opensans(14px);
		line-height: 100%;
		margin-bottom:3px;
	}
	p{
		width:415px;
		color:#504D4E;
		.oxygen(13px);
		line-height: 140%;
		margin-bottom:20px;
	}
}