.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main {
  font-size: 0;
}
.main section.texto-evento {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 700px;
  margin-right: 50px;
}
.main section.texto-evento img {
  display: block;
  margin-bottom: 15px;
}
.main section.texto-evento h1 {
  color: #4A4748;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main section.texto-evento h2 {
  color: #c61a1a;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0;
}
.main section.texto-evento p {
  color: #4A4748;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
  margin-bottom: 20px;
}
.main section.texto-evento .box {
  margin-top: 30px;
  padding: 10px 10px 10px 20px;
  background-color: #E6E6E6;
  height: 204px;
  position: relative;
}
.main section.texto-evento .box h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #808080;
}
.main section.texto-evento .box .links-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 190px;
}
.main section.texto-evento .box .links-container a {
  padding: 8px;
  min-height: 44px;
  width: 234px;
  display: block;
  margin-bottom: 5px;
  color: #808080;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section.texto-evento .box .links-container a.regulamento,
.main section.texto-evento .box .links-container a.modelo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  background: url('../_imgs/layout/icone-pdf.png') #cccccc 202px 4px no-repeat;
}
.main section.texto-evento .box .links-container a.regulamento span,
.main section.texto-evento .box .links-container a.modelo span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.main section.texto-evento .box .links-container a.regulamento:hover,
.main section.texto-evento .box .links-container a.modelo:hover {
  background-color: #c61a1a;
  color: #fff;
}
.main section.texto-evento .box .links-container a.ficha {
  margin-bottom: 0;
  background-color: #c61a1a;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}
.main section.texto-evento .box .links-container a.ficha:active,
.main section.texto-evento .box .links-container a.ficha:visited {
  color: #fff;
}
.main section.texto-evento .box .links-container a.ficha:hover {
  background-color: #698291;
}
.main section.texto-evento .box .links-container a:active,
.main section.texto-evento .box .links-container a:visited {
  color: #808080;
}
.main section.texto-evento .coluna {
  width: 260px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .coluna.larga {
  width: 400px;
  margin-right: 40px;
}
.main section.texto-evento .full {
  text-align: center;
}
.main section.texto-evento .full h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 130%;
  color: #4A4748;
  margin: 10px 0;
}
.main section.texto-evento .full h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 130%;
  color: #4A4748;
  margin: 10px 0;
}
.main section.texto-evento .full h3 {
  color: #000;
  line-height: 140%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.main section.texto-evento .full p {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 35px 0;
  color: #4A4748;
  line-height: 150%;
}
.main section.texto-evento .full p.vermelho,
.main section.texto-evento .full p .vermelho {
  color: #c61a1a;
}
.main section.texto-evento .full p.bold,
.main section.texto-evento .full p .bold {
  font-weight: bold;
}
.main section.texto-evento .full p.semmargem {
  margin: 0;
}
.main section.texto-evento .full p.semmargem-t {
  margin-top: 0;
}
.main section.texto-evento .full p.semmargem-b {
  margin-bottom: 0;
}
.main section.texto-evento .full p.w600 {
  width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.main section.texto-evento .full p.olho {
  padding: 15px 20px;
  color: #fff;
  background-color: #698291;
}
.main section.texto-evento .full p a {
  color: #c61a1a;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section.texto-evento .full p a:active,
.main section.texto-evento .full p a:visited {
  color: #c61a1a;
}
.main section.texto-evento .full p a:hover {
  color: #ffcc00;
}
.main section.texto-evento .full .fundo-cinza {
  background-color: #E6E6E6;
  text-align: left;
  padding: 15px;
  margin-top: 50px;
}
.main section.texto-evento .full .fundo-cinza p {
  margin: 2px 0;
}
.main section.texto-evento .full .aguarde {
  height: 60px;
  line-height: 60px;
  background-color: #c61a1a;
  color: #fff;
  margin-top: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main section.texto-evento .full .aguarde.galeria {
  min-height: 60px;
  height: auto;
  padding: 0 20px 20px 20px;
}
.main section.texto-evento .full .aguarde.galeria .thumbs-galeria {
  font-size: 0;
  text-align: left;
}
.main section.texto-evento .full .aguarde.galeria .thumbs-galeria a {
  margin: 10px 0 10px 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .full .aguarde.galeria .thumbs-galeria a:nth-child(4n + 1) {
  margin-left: 0;
}
.main section.texto-evento .full .aguarde.galeria .thumbs-galeria a img {
  margin: 0;
}
.main section.texto-evento .full a.vermelho {
  margin-top: 20px;
  text-align: center;
  display: block;
  height: 60px;
  line-height: 60px;
  background-color: #c61a1a;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section.texto-evento .full a.vermelho:active,
.main section.texto-evento .full a.vermelho:visited {
  color: #fff;
}
.main section.texto-evento .full a.vermelho:hover {
  background-color: #698291;
}
.main section.texto-evento .form-inscricao {
  background-color: #E6E6E6;
  padding: 18px 18px 30px 18px;
}
.main section.texto-evento .form-inscricao img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 20px;
}
.main section.texto-evento .form-inscricao h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #808080;
}
.main section.texto-evento .form-inscricao .aviso-form {
  width: 600px;
  margin: 20px auto 30px auto;
  padding: 15px 20px;
  border-top: 1px #B6B6B6 solid;
  border-bottom: 1px #B6B6B6 solid;
  text-align: center;
  color: #423F40;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 120%;
}
.main section.texto-evento .form-inscricao .aviso-form h3 {
  line-height: 150%;
  font-size: 25px;
}
.main section.texto-evento .form-inscricao .aviso-form h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #c61a1a;
}
.main section.texto-evento .form-inscricao .aviso-form.noborder-t {
  border-top: 0;
}
.main section.texto-evento .form-inscricao form {
  padding: 0 10px;
  font-size: 0;
}
.main section.texto-evento .form-inscricao form label,
.main section.texto-evento .form-inscricao form .label {
  display: block;
  text-align: right;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #423F40;
  margin-bottom: 4px;
}
.main section.texto-evento .form-inscricao form label input[type="text"],
.main section.texto-evento .form-inscricao form .label input[type="text"],
.main section.texto-evento .form-inscricao form label input[type="email"],
.main section.texto-evento .form-inscricao form .label input[type="email"] {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #423F40;
  margin: 0 0 0 5px;
  padding: 3px 5px;
  border: 0;
  height: 16px;
  line-height: 16px;
  width: 490px;
}
.main section.texto-evento .form-inscricao form label input[type="text"].w178,
.main section.texto-evento .form-inscricao form .label input[type="text"].w178,
.main section.texto-evento .form-inscricao form label input[type="email"].w178,
.main section.texto-evento .form-inscricao form .label input[type="email"].w178 {
  width: 178px;
  margin-right: 312px;
}
.main section.texto-evento .form-inscricao form label input[type="text"].w365,
.main section.texto-evento .form-inscricao form .label input[type="text"].w365,
.main section.texto-evento .form-inscricao form label input[type="email"].w365,
.main section.texto-evento .form-inscricao form .label input[type="email"].w365 {
  width: 353px;
}
.main section.texto-evento .form-inscricao form label input[type="text"].w323,
.main section.texto-evento .form-inscricao form .label input[type="text"].w323,
.main section.texto-evento .form-inscricao form label input[type="email"].w323,
.main section.texto-evento .form-inscricao form .label input[type="email"].w323 {
  width: 323px;
}
.main section.texto-evento .form-inscricao form label input[type="text"].menor.uf,
.main section.texto-evento .form-inscricao form .label input[type="text"].menor.uf,
.main section.texto-evento .form-inscricao form label input[type="email"].menor.uf,
.main section.texto-evento .form-inscricao form .label input[type="email"].menor.uf {
  width: 20px;
  margin-left: 0;
  margin-right: 103px;
}
.main section.texto-evento .form-inscricao form label.metade,
.main section.texto-evento .form-inscricao form .label.metade {
  width: 264px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .form-inscricao form label.metade.w349,
.main section.texto-evento .form-inscricao form .label.metade.w349 {
  width: 345px;
}
.main section.texto-evento .form-inscricao form label.metade input[type="text"],
.main section.texto-evento .form-inscricao form .label.metade input[type="text"],
.main section.texto-evento .form-inscricao form label.metade input[type="email"],
.main section.texto-evento .form-inscricao form .label.metade input[type="email"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0;
  width: 157px;
}
.main section.texto-evento .form-inscricao form label.metade input[type="text"].menor,
.main section.texto-evento .form-inscricao form .label.metade input[type="text"].menor,
.main section.texto-evento .form-inscricao form label.metade input[type="email"].menor,
.main section.texto-evento .form-inscricao form .label.metade input[type="email"].menor {
  width: 20px;
  margin: 0 4px 0 5px;
}
.main section.texto-evento .form-inscricao form label.w75,
.main section.texto-evento .form-inscricao form .label.w75 {
  width: 443px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .form-inscricao form label.w75 input,
.main section.texto-evento .form-inscricao form .label.w75 input {
  margin: 0 0 0 5px;
  width: 289px;
}
.main section.texto-evento .form-inscricao form label.w25,
.main section.texto-evento .form-inscricao form .label.w25 {
  width: 166px;
  margin-left: 7px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .form-inscricao form label.w25 input,
.main section.texto-evento .form-inscricao form .label.w25 input {
  margin: 0 0 0 8px;
  width: 100px;
}
.main section.texto-evento .form-inscricao form label.w25 input.menor,
.main section.texto-evento .form-inscricao form .label.w25 input.menor {
  width: 20px;
  margin-right: 34px;
}
.main section.texto-evento .form-inscricao form label.separador,
.main section.texto-evento .form-inscricao form .label.separador {
  margin-top: 30px;
}
.main section.texto-evento .form-inscricao form label select,
.main section.texto-evento .form-inscricao form .label select {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #423F40;
  width: 500px;
  height: 22px;
  margin-left: 10px;
}
.main section.texto-evento .form-inscricao form label .texto,
.main section.texto-evento .form-inscricao form .label .texto {
  width: 131px;
  float: left;
  line-height: 120%;
}
.main section.texto-evento .form-inscricao form label .texto span,
.main section.texto-evento .form-inscricao form .label .texto span {
  font-size: 12px;
}
.main section.texto-evento .form-inscricao form label textarea,
.main section.texto-evento .form-inscricao form .label textarea {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #423F40;
  margin: 0 0 0 5px;
  border: 0;
  padding: 3px 5px;
  width: 490px;
  resize: none;
  overflow: auto;
  height: 100px;
}
.main section.texto-evento .form-inscricao form label.file,
.main section.texto-evento .form-inscricao form .label.file {
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  white-space: nowrap;
  text-indent: -11px;
}
.main section.texto-evento .form-inscricao form label.file #observacao,
.main section.texto-evento .form-inscricao form .label.file #observacao {
  height: 29px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #423F40;
  width: 200px;
  padding-top: 3px;
  line-height: 130%;
  text-align: left;
  margin-right: 135px;
  text-indent: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .form-inscricao form label.sem-marginb,
.main section.texto-evento .form-inscricao form .label.sem-marginb {
  margin-bottom: 0;
}
.main section.texto-evento .form-inscricao form label #fileinput,
.main section.texto-evento .form-inscricao form .label #fileinput {
  width: 152px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main section.texto-evento .form-inscricao form label #fileinput input[type="file"],
.main section.texto-evento .form-inscricao form .label #fileinput input[type="file"],
.main section.texto-evento .form-inscricao form label #fileinput .fakeinput,
.main section.texto-evento .form-inscricao form .label #fileinput .fakeinput {
  position: absolute;
  top: 0;
  width: 152px;
  height: 32px;
  left: 0;
}
.main section.texto-evento .form-inscricao form label #fileinput input[type="file"],
.main section.texto-evento .form-inscricao form .label #fileinput input[type="file"] {
  z-index: 1;
}
.main section.texto-evento .form-inscricao form label #fileinput .fakeinput,
.main section.texto-evento .form-inscricao form .label #fileinput .fakeinput {
  background-color: #CCCCCC;
  z-index: 2;
  color: #808080;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section.texto-evento .form-inscricao form label #fileinput .fakeinput:hover,
.main section.texto-evento .form-inscricao form .label #fileinput .fakeinput:hover {
  background-color: #808080;
  color: #c61a1a;
}
.main section.texto-evento .form-inscricao form label.check,
.main section.texto-evento .form-inscricao form .label.check {
  clear: both;
  line-height: 130%;
  padding-left: 164px;
  text-align: left;
  text-indent: -24px;
}
.main section.texto-evento .form-inscricao form p.atencao {
  font-size: 14px;
  margin: 40px 0 30px 0;
}
.main section.texto-evento .form-inscricao form p.atencao .vermelho {
  color: #c61a1a;
}
.main section.texto-evento .form-inscricao form input[type="submit"] {
  height: 50px;
  line-height: 50px;
  margin: 25px 0 0 0;
  display: block;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  background-color: #808080;
  color: #c61a1a;
  width: 100%;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section.texto-evento .form-inscricao form input[type="submit"]:hover {
  color: #fff;
}
.main aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 350px;
}
.main aside .ad {
  margin-bottom: 15px;
  display: block;
}
.main aside .agenda-interna {
  padding: 5px 5px 0 5px;
  width: 340px;
}
.main aside .agenda-interna.amarelo {
  background-color: #ffcc00;
}
.main aside .agenda-interna.cinza {
  background-color: #E6E6E6;
  padding: 30px;
  width: 290px;
}
.main aside .agenda-interna.cinza img {
  display: block;
  margin: 0 auto 25px auto;
}
.main aside .agenda-interna.cinza a {
  padding: 8px;
  min-height: 44px;
  width: 234px;
  display: block;
  margin: 5px auto 5px auto;
  color: #808080;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside .agenda-interna.cinza a.regulamento,
.main aside .agenda-interna.cinza a.modelo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  background: url('../_imgs/layout/icone-pdf.png') #cccccc 202px 4px no-repeat;
}
.main aside .agenda-interna.cinza a.regulamento span,
.main aside .agenda-interna.cinza a.modelo span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.main aside .agenda-interna.cinza a.regulamento:hover,
.main aside .agenda-interna.cinza a.modelo:hover {
  background-color: #c61a1a;
  color: #fff;
}
.main aside .agenda-interna.cinza h1 {
  height: 105px;
  text-align: center;
  color: #808080;
  line-height: 173px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.main aside .agenda-interna h2 {
  margin: 15px 0 10px 0;
  padding-left: 8px;
  line-height: 100%;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main aside .agenda-interna .lista a {
  display: block;
  padding: 5px 5px 30px 5px;
  background-color: #fff;
  position: relative;
}
.main aside .agenda-interna .lista a .data {
  background: url('../_imgs/layout/setinha-cinza.png') #ffcc00 3px center no-repeat;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 1px 0 1px 22px;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside .agenda-interna .lista a .local {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  padding-left: 22px;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside .agenda-interna .lista a .titulo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #666666;
  padding-left: 22px;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside .agenda-interna .lista a .linha {
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  bottom: 10px;
  height: 1px;
  left: 9px;
  width: 320px;
  background-color: #ffcc00;
}
.main aside .agenda-interna .lista a:active .data,
.main aside .agenda-interna .lista a.visited .data {
  color: #000;
}
.main aside .agenda-interna .lista a:active .local,
.main aside .agenda-interna .lista a.visited .local,
.main aside .agenda-interna .lista a:active .titulo,
.main aside .agenda-interna .lista a.visited .titulo {
  color: #666666;
}
.main aside .agenda-interna .lista a:hover {
  background-color: #ffcc00;
}
.main aside .agenda-interna .lista a:hover .data {
  background-color: #fff;
}
.main aside .agenda-interna .lista a:hover .local,
.main aside .agenda-interna .lista a:hover .titulo {
  background-color: #ffcc00;
  color: #fff;
}
.main aside .agenda-interna .lista a:hover .linha {
  background-color: #fff;
}
.main aside .agenda-interna a.link-voltar {
  background-color: #fff;
  display: block;
  margin-left: -5px;
  width: 335px;
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside .agenda-interna a.link-voltar:active,
.main aside .agenda-interna a.link-voltar:visited {
  color: #666666;
}
.main aside .agenda-interna a.link-voltar:hover {
  color: #c61a1a;
}
.main.main-eventos-index h1 {
  background-color: #ffcc00;
  height: 43px;
  line-height: 43px;
  color: #fff;
  padding-left: 18px;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
}
.main.main-eventos-index ul.lista-proximos-eventos {
  font-size: 0;
  margin-bottom: 60px;
}
.main.main-eventos-index ul.lista-proximos-eventos li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 230px;
  height: 210px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main.main-eventos-index ul.lista-proximos-eventos li a {
  display: block;
  background-color: #698291;
  color: #fff;
  padding: 10px;
  width: 210px;
  height: 190px;
  line-height: 135%;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main.main-eventos-index ul.lista-proximos-eventos li a:active,
.main.main-eventos-index ul.lista-proximos-eventos li a:visited {
  color: #fff;
}
.main.main-eventos-index ul.lista-proximos-eventos li a:hover {
  background-color: #c61a1a;
}
.main.main-eventos-index ul.lista-ultimos-eventos {
  font-size: 0;
  margin-bottom: 60px;
}
.main.main-eventos-index ul.lista-ultimos-eventos li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 470px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main.main-eventos-index ul.lista-ultimos-eventos li a {
  display: block;
  background-color: #698291;
  color: #fff;
  padding: 10px;
  width: 450px;
  height: 60px;
  line-height: 135%;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main.main-eventos-index ul.lista-ultimos-eventos li a:active,
.main.main-eventos-index ul.lista-ultimos-eventos li a:visited {
  color: #fff;
}
.main.main-eventos-index ul.lista-ultimos-eventos li a:hover {
  background-color: #c61a1a;
}
.main.main-eventos-index ul.lista-ultimos-eventos li a img {
  height: 60px;
  float: left;
  margin-right: 10px;
}
