.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
body #modal {
  width: 998px;
  height: 630px;
}
body #modal .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body #modal .coluna.coluna-cinza {
  width: 230px;
  padding: 15px;
  min-height: 600px;
  background-color: #E6E6E6;
  position: relative;
}
body #modal .coluna.coluna-cinza .imagem {
  background-color: #fff;
  width: 230px;
  margin-bottom: 15px;
}
body #modal .coluna.coluna-cinza .imagem img {
  width: 230px;
  margin: 10px auto;
}
body #modal .coluna.coluna-cinza p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #757374;
  line-height: 120%;
  margin-bottom: 30px;
}
body #modal .coluna.coluna-cinza p a {
  color: #757374;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #modal .coluna.coluna-cinza p a:active,
body #modal .coluna.coluna-cinza p a:visited {
  color: #757374;
}
body #modal .coluna.coluna-cinza p a:hover {
  color: #c61a1a;
}
body #modal .coluna.coluna-cinza p.apresentacao {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #373737;
}
body #modal .coluna.coluna-cinza .solicitacoes {
  position: absolute;
  bottom: 10px;
  width: 230px;
}
body #modal .coluna.coluna-cinza .solicitacoes a {
  display: block;
  background-color: transparent;
  color: #698291;
  border: 1px #698291 solid;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #modal .coluna.coluna-cinza .solicitacoes a:active,
body #modal .coluna.coluna-cinza .solicitacoes a:visited {
  color: #698291;
}
body #modal .coluna.coluna-cinza .solicitacoes a:hover,
body #modal .coluna.coluna-cinza .solicitacoes a.ativo {
  color: #fff;
  background-color: #698291;
  border-color: #698291;
}
body #modal .coluna.coluna-cinza .varios-fornecedores h1 {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body #modal .coluna.coluna-cinza .varios-fornecedores ul {
  margin-top: 10px;
  list-style: none;
}
body #modal .coluna.coluna-cinza .varios-fornecedores ul li {
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body #modal .coluna.coluna-centro {
  margin-left: 20px;
  width: 450px;
}
body #modal .coluna.coluna-centro #ampliada {
  padding: 30px 0;
  background-color: #E6E6E6;
  width: 450px;
  min-height: 250px;
}
body #modal .coluna.coluna-centro #ampliada img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
body #modal .coluna.coluna-centro #legenda {
  background-color: #E6E6E6;
  margin-top: 2px;
  color: #698291;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 10px;
}
body #modal .coluna.coluna-centro .thumbs {
  padding-top: 10px;
}
body #modal .coluna.coluna-centro .thumbs .thumb {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 71px;
}
body #modal .coluna.coluna-centro .thumbs .thumb:nth-child(6n) {
  margin-right: 0;
}
body #modal .coluna.coluna-centro .thumbs .thumb img {
  max-width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #modal .coluna.coluna-centro .thumbs .thumb:hover img,
body #modal .coluna.coluna-centro .thumbs .thumb.thumb-ativo img {
  opacity: .6;
}
body #modal .coluna.coluna-produtos {
  width: 240px;
  margin-left: 20px;
}
body #modal .coluna.coluna-produtos h2 {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
body #modal .coluna.coluna-produtos ul {
  list-style: none;
  margin-top: 20px;
}
body #modal .coluna.coluna-produtos ul li {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body #modal .coluna.coluna-extendida {
  width: 734px;
}
body #modal .coluna.coluna-extendida h1 {
  padding-top: 30px;
  padding-left: 20px;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
body #modal .coluna.coluna-extendida form {
  padding-left: 20px;
  margin-top: 15px;
}
body #modal .coluna.coluna-extendida form label {
  display: block;
  margin: 10px 0;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
body #modal .coluna.coluna-extendida form label input[type="text"],
body #modal .coluna.coluna-extendida form label input[type="email"] {
  border: none;
  background: #E6E6E6;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 5px 6px;
  width: 702px;
  height: 20px;
  line-height: 20px;
}
body #modal .coluna.coluna-extendida form label textarea {
  border: none;
  background: #E6E6E6;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 5px 6px;
  width: 702px;
  height: 177px;
  line-height: 20px;
  resize: none;
  overflow: hidden;
}
body #modal .coluna.coluna-extendida form label.file-label {
  position: relative;
  height: 40px;
  cursor: pointer;
  width: 350px;
}
body #modal .coluna.coluna-extendida form label.file-label .texto {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  width: 228px;
  text-align: center;
  border: 1px #698291 solid;
  background: #fff;
  color: #698291;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body #modal .coluna.coluna-extendida form label.file-label .texto:hover {
  color: #c61a1a;
  border-color: #c61a1a;
}
body #modal .coluna.coluna-extendida form label.file-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 40px;
  width: 230px;
}
body #modal .coluna.coluna-extendida form label.file-label #aviso {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  float: right;
  line-height: 40px;
}
body #modal .coluna.coluna-extendida form input[type="submit"] {
  display: block;
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #698291;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #modal .coluna.coluna-extendida form input[type="submit"]:hover {
  background: #c61a1a;
}
body #modal h1#efetuada {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #c61a1a;
  margin: 40px 0;
  text-align: center;
}
body #modal .btn-close-modal {
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: 1px #698291 solid;
  padding: 4px 7px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #modal .btn-close-modal:active,
body #modal .btn-close-modal:visited {
  color: #698291;
}
body #modal .btn-close-modal:hover {
  color: #c61a1a;
  border: 1px #c61a1a solid;
}
