.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html .main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #c61a1a;
  margin: 20px 0;
}
html .main h1 span {
  color: #698291;
  font-size: 14px;
  font-weight: normal;
}
html .main h1 .btn-voltar {
  float: right;
  padding: 2px 10px;
  color: #fff;
  background-color: #c61a1a;
  font-size: 14px;
  margin-top: 12px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main h1 .btn-voltar:active,
html .main h1 .btn-voltar:visited {
  color: #fff;
}
html .main h1 .btn-voltar:hover {
  color: #ffcc00;
}
html .main .main-container {
  mergin-top: 40px;
  font-size: 0;
}
html .main .main-container aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 200px;
  margin-right: 20px;
}
html .main .main-container aside h2 {
  padding: 20px;
  line-height: 145%;
  background-color: #e6e6e6;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
html .main .main-container aside a {
  display: block;
  text-align: center;
  height: 65px;
  line-height: 50px;
  margin-bottom: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .main-container aside a.link-mobiliario {
  background: url('../_imgs/layout/setinha-branca.png') #eb7722 center 36px no-repeat;
}
html .main .main-container aside a.link-componentes {
  background: url('../_imgs/layout/setinha-branca.png') #b5c943 center 36px no-repeat;
}
html .main .main-container aside a.link-arquishow {
  background: url('../_imgs/layout/setinha-branca.png') #1784b3 center 36px no-repeat;
}
html .main .main-container aside a.link-hr {
  background: url('../_imgs/layout/setinha-branca.png') #dc0000 center 36px no-repeat;
}
html .main .main-container aside a.link-construtoras {
  background: url('../_imgs/layout/setinha-branca.png') #3eb261 center 36px no-repeat;
}
html .main .main-container aside a.link-arquitetos {
  background: url('../_imgs/layout/setinha-branca.png') #3d4a52 center 36px no-repeat;
}
html .main .main-container aside a:active,
html .main .main-container aside a:visited {
  color: #fff;
}
html .main .main-container section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 880px;
}
html .main .main-container section #barra-busca {
  padding: 20px;
  line-height: 145%;
  background-color: #e6e6e6;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
html .main .main-container section #barra-busca form {
  font-size: 0;
  width: 374px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main .main-container section #barra-busca form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background-color: #FFF;
  border: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 315px;
  padding: 3px 5px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
}
html .main .main-container section #barra-busca form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: url('../_imgs/layout/lupa.png') #c61a1a center center no-repeat;
  width: 28px;
  height: 28px;
  text-indent: -9000px;
}
html .main .main-container section #barra-busca a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 28px;
  width: 200px;
  line-height: 28px;
  color: #698291;
}
html .main .main-container section #barra-busca a:active,
html .main .main-container section #barra-busca a:visited {
  color: #698291;
}
html .main .main-container section #barra-busca a:hover {
  color: #c61a1a;
}
html .main .main-container section .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 219px;
  margin-right: 1px;
}
html .main .main-container section .coluna a {
  background-color: #fff;
  display: block;
  color: #698291;
  margin-bottom: 2px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px 20px 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .main-container section .coluna a:active,
html .main .main-container section .coluna a:visited {
  color: #698291;
}
html .main .main-container section .coluna a:hover {
  color: #fff;
  background-color: #c61a1a;
}
html .main .main-container section .coluna a img {
  max-width: 200px;
  max-height: 133px;
  display: block;
  margin: 0 auto 5px auto;
}
html .main .main-container section .coluna.mobiliario a {
  border: 2px #eb7722 solid;
}
html .main .main-container section .coluna.componentes a {
  border: 2px #b5c943 solid;
}
html .main .main-container section .coluna.arquishow a {
  border: 2px #1784b3 solid;
}
html .main .main-container section .coluna.hospitais a {
  border: 2px #dc0000 solid;
}
html .main .main-container section .coluna.arquitetos a {
  border: 2px #3d4a52 solid;
}
html .main .main-container section h2.categoria-titulo {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  padding-left: 20px;
  height: 65px;
  line-height: 65px;
  margin-bottom: 30px;
}
html .main .main-container section h2.categoria-titulo.mobiliario {
  background-color: #eb7722;
}
html .main .main-container section h2.categoria-titulo.componentes {
  background-color: #b5c943;
}
html .main .main-container section h2.categoria-titulo.arquishow {
  background-color: #1784b3;
}
html .main .main-container section h2.categoria-titulo.hr {
  background-color: #dc0000;
}
html .main .main-container section h2.categoria-titulo.construtoras {
  background-color: #3eb261;
}
html .main .main-container section h2.categoria-titulo.arquitetos {
  background-color: #3d4a52;
}
html .main .main-container section h2.categoria-titulo.todos {
  background-color: #cecece;
}
html .main .main-container section .lista-keywords {
  width: 33%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main .main-container section .lista-keywords h3.letra {
  padding-left: 15px;
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
html .main .main-container section .lista-keywords li a {
  display: block;
  max-width: 250px;
  padding-left: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .main-container section .lista-keywords li a:active,
html .main .main-container section .lista-keywords li a:visited {
  color: #698291;
}
html .main .main-container section .lista-keywords li a:hover {
  background-color: #c61a1a;
  color: #fff;
}
html .main .main-container h1.lined {
  margin-top: 50px;
  border-top: 1px #698291 solid;
}
html .main .main-container h1.lined span {
  display: block;
  text-align: center;
  width: 340px;
  background-color: #fff;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin: -23px auto 0 auto;
}
html .main .main-container .top {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 215px;
  margin-left: 1px;
  padding: 2px 0 3px 0;
}
html .main .main-container .top a.vertodos {
  display: block;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .main-container .top.mobiliario {
  border: 2px #eb7722 solid;
}
html .main .main-container .top.mobiliario a.vertodos {
  color: #eb7722;
}
html .main .main-container .top.mobiliario a.vertodos:active,
html .main .main-container .top.mobiliario a.vertodos:visited {
  color: #eb7722;
}
html .main .main-container .top.mobiliario a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top.componentes {
  border: 2px #b5c943 solid;
}
html .main .main-container .top.componentes a.vertodos {
  color: #b5c943;
}
html .main .main-container .top.componentes a.vertodos:active,
html .main .main-container .top.componentes a.vertodos:visited {
  color: #b5c943;
}
html .main .main-container .top.componentes a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top.arquishow {
  border: 2px #1784b3 solid;
}
html .main .main-container .top.arquishow a.vertodos {
  color: #1784b3;
}
html .main .main-container .top.arquishow a.vertodos:active,
html .main .main-container .top.arquishow a.vertodos:visited {
  color: #1784b3;
}
html .main .main-container .top.arquishow a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top.hospitais {
  border: 2px #dc0000 solid;
}
html .main .main-container .top.hospitais a.vertodos {
  color: #dc0000;
}
html .main .main-container .top.hospitais a.vertodos:active,
html .main .main-container .top.hospitais a.vertodos:visited {
  color: #dc0000;
}
html .main .main-container .top.hospitais a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top.construtoras {
  border: 2px #3eb261 solid;
}
html .main .main-container .top.construtoras a.vertodos {
  color: #3eb261;
}
html .main .main-container .top.construtoras a.vertodos:active,
html .main .main-container .top.construtoras a.vertodos:visited {
  color: #3eb261;
}
html .main .main-container .top.construtoras a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top.arquitetos {
  border: 2px #3d4a52 solid;
}
html .main .main-container .top.arquitetos a.vertodos {
  color: #3d4a52;
}
html .main .main-container .top.arquitetos a.vertodos:active,
html .main .main-container .top.arquitetos a.vertodos:visited {
  color: #3d4a52;
}
html .main .main-container .top.arquitetos a.vertodos:hover {
  color: #c61a1a;
}
html .main .main-container .top ul {
  padding: 5px 0 15px 0;
}
html .main .main-container .top ul li a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .main-container .top ul li a:active,
html .main .main-container .top ul li a:visited {
  color: #698291;
}
html .main .main-container .top ul li a:hover {
  color: #c61a1a;
}
html .main #busca-efetuada {
  margin-top: 10px;
}
html .main #busca-efetuada .buscado {
  width: 620px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: bottom;
  margin-right: 20px;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  font-weight: normal;
}
html .main #busca-efetuada .buscado .palavra {
  margin-top: 5px;
  background-color: #698291;
  color: #fff;
  padding: 22px 0 22px 20px;
  line-height: 130%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  font-weight: normal;
}
html .main #busca-efetuada #barra-busca {
  padding: 20px 20px 10px 20px;
  width: 420px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: bottom;
  line-height: 145%;
  background-color: #e6e6e6;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
html .main #busca-efetuada #barra-busca form {
  font-size: 0;
  width: 420px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main #busca-efetuada #barra-busca form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background-color: #FFF;
  border: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 382px;
  padding: 3px 5px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
}
html .main #busca-efetuada #barra-busca form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: url('../_imgs/layout/lupa.png') #c61a1a center center no-repeat;
  width: 28px;
  height: 28px;
  text-indent: -9000px;
}
html .main #busca-efetuada #barra-busca a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 28px;
  float: right;
  width: 200px;
  line-height: 28px;
  color: #698291;
}
html .main #busca-efetuada #barra-busca a:active,
html .main #busca-efetuada #barra-busca a:visited {
  color: #698291;
}
html .main #busca-efetuada #barra-busca a:hover {
  color: #c61a1a;
}
html .main .buscas {
  margin: 30px 0;
}
html .main .buscas .coluna {
  width: 33%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main .buscas .coluna h2 {
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html .main .buscas .coluna.produto a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  font-weight: normal;
  float: right;
  margin-right: 10px;
  color: #698291;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .buscas .coluna.produto a:active,
html .main .buscas .coluna.produto a:visited {
  color: #698291;
}
html .main .buscas .coluna.produto a:hover {
  color: #c61a1a;
}
html .main .buscas .coluna.categoria h2,
html .main .buscas .coluna.categoria form {
  margin-left: 20px;
}
html .main .buscas .coluna.empresa a {
  background-color: #c61a1a;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 26px auto 0 auto;
  display: block;
  width: 255px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .buscas .coluna.empresa a:active,
html .main .buscas .coluna.empresa a:visited {
  color: #fff;
}
html .main .buscas .coluna.empresa a:hover {
  color: #ffcc00;
}
html .main .buscas .coluna form {
  font-size: 0;
}
html .main .buscas .coluna form select,
html .main .buscas .coluna form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background-color: #E6E6E6;
  border: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 315px;
  padding: 3px 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
}
html .main .buscas .coluna form select {
  height: 28px;
  line-height: 22px;
  background-image: none;
  outline: none;
  -webkit-appearance: none;
}
html .main .buscas .coluna form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: url('../_imgs/layout/lupa.png') #c61a1a center center no-repeat;
  width: 28px;
  height: 28px;
  text-indent: -9000px;
}
html .main .resultados {
  margin-top: 5px;
  min-height: 400px;
}
html .main .resultados p {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html .main .resultados p.bold {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
html .main .resultados .link-solicitacao {
  width: 540px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #698291 solid;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 15px 0;
}
html .main .resultados .link-solicitacao:active,
html .main .resultados .link-solicitacao:visited {
  color: #698291;
}
html .main .resultados .link-solicitacao:hover {
  color: #c61a1a;
  border: 1px #c61a1a solid;
}
html .main .resultados .link-solicitacao.cotacao {
  margin-right: 10px;
}
html .main .resultados .miolo {
  padding: 20px 0;
  font-size: 0px;
  width: 1108px;
  margin-left: -4px;
}
html .main .resultados .miolo .select {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 220px;
  margin: 0 2px 2px 0;
}
html .main .resultados .miolo .select:nth-child(5n) {
  margin-right: 0;
}
html .main .resultados .miolo .select.mobiliario {
  background-color: #eb7722;
}
html .main .resultados .miolo .select.mobiliario a:hover,
html .main .resultados .miolo .select.mobiliario.selecionado {
  background-color: #eb7722;
}
html .main .resultados .miolo .select.componentes {
  background-color: #b5c943;
}
html .main .resultados .miolo .select.componentes a:hover,
html .main .resultados .miolo .select.componentes.selecionado {
  background-color: #b5c943;
}
html .main .resultados .miolo .select.arquishow {
  background-color: #1784b3;
}
html .main .resultados .miolo .select.arquishow a:hover,
html .main .resultados .miolo .select.arquishow.selecionado {
  background-color: #1784b3;
}
html .main .resultados .miolo .select.hr {
  background-color: #dc0000;
}
html .main .resultados .miolo .select.hr a:hover,
html .main .resultados .miolo .select.hr.selecionado {
  background-color: #dc0000;
}
html .main .resultados .miolo .select.construtoras {
  background-color: #3eb261;
}
html .main .resultados .miolo .select.construtoras a:hover,
html .main .resultados .miolo .select.construtoras.selecionado {
  background-color: #3eb261;
}
html .main .resultados .miolo .select.arquitetos {
  background-color: #3d4a52;
}
html .main .resultados .miolo .select.arquitetos a:hover,
html .main .resultados .miolo .select.arquitetos.selecionado {
  background-color: #3d4a52;
}
html .main .resultados .miolo .select a {
  width: 206px;
  margin: 2px auto 0 auto;
  padding: 5px;
  display: block;
  background-color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .resultados .miolo .select a .imagem-produto {
  width: 204px;
  height: 136px;
  overflow: hidden;
  border: 1px #698291 solid;
  border-bottom: 0;
  background-color: #fff;
}
html .main .resultados .miolo .select a .imagem-produto img {
  display: block;
  margin: 0 auto;
  max-width: 204px;
  max-height: 136px;
}
html .main .resultados .miolo .select a .imagem-marca {
  width: 204px;
  height: 45px;
  overflow: hidden;
  margin-bottom: 2px;
  border: 1px #698291 solid;
}
html .main .resultados .miolo .select a .imagem-marca img {
  display: block;
  margin: 0;
  width: 204px;
  max-height: 45px;
}
html .main .resultados .miolo .select a .legenda {
  min-height: 40px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #698291;
}
html .main .resultados .miolo .select label {
  color: #fff;
  display: block;
  cursor: pointer;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0 3px 5px;
}
html .main .resultados .miolo .select label input {
  vertical-align: -3px;
}
html .main .resultados h3.nenhum-resultado {
  color: #c61a1a;
  text-align: center;
  margin: 40px 0;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
html .main .resultados h3.nenhum-resultado.hid {
  display: none;
}
html .main .busca-empresas {
  font-size: 0;
  margin-top: 40px;
}
html .main .busca-empresas .caixa-letra {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #E6E6E6;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  width: 650px;
  margin-right: 10px;
}
html .main .busca-empresas .caixa-letra a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-align: center;
}
html .main .busca-empresas .caixa-letra a:active,
html .main .busca-empresas .caixa-letra a:visited {
  color: #fff;
}
html .main .busca-empresas .caixa-letra a:hover,
html .main .busca-empresas .caixa-letra a.ativo {
  background-color: #c61a1a;
}
html .main .busca-empresas .caixa-termo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 360px;
  background: #E6E6E6;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
}
html .main .busca-empresas .caixa-termo div {
  font-size: 0;
}
html .main .busca-empresas .caixa-termo div input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background-color: #FFF;
  border: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 315px;
  padding: 3px 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
}
html .main .busca-empresas .caixa-termo div input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: url('../_imgs/layout/lupa.png') #c61a1a center center no-repeat;
  width: 28px;
  height: 28px;
  text-indent: -9000px;
}
html .main .detalhes {
  margin: 30px 0;
  min-height: 400px;
}
html .main .detalhes .coluna-cinza {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 230px;
  padding: 15px 15px 60px 15px;
  background-color: #E6E6E6;
}
html .main .detalhes .coluna-cinza img {
  width: 230px;
  margin-bottom: 10px;
}
html .main .detalhes .coluna-cinza p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #757374;
  line-height: 120%;
  margin-bottom: 30px;
}
html .main .detalhes .coluna-cinza p a {
  color: #757374;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .detalhes .coluna-cinza p a:active,
html .main .detalhes .coluna-cinza p a:visited {
  color: #757374;
}
html .main .detalhes .coluna-cinza p a:hover {
  color: #c61a1a;
}
html .main .detalhes .coluna-cinza p.apresentacao {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #373737;
}
html .main .detalhes .coluna-maior {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 800px;
  margin-left: 40px;
}
html .main .detalhes .coluna-maior .botao-voltar {
  float: right;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 2px 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  background-color: #c61a1a;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .detalhes .coluna-maior .botao-voltar:active,
html .main .detalhes .coluna-maior .botao-voltar:visited {
  color: #fff;
}
html .main .detalhes .coluna-maior .botao-voltar:hover {
  color: #ffcc00;
}
html .main .detalhes .coluna-maior h1 {
  color: #c61a1a;
}
html .main .detalhes .coluna-maior #ampliada {
  float: left;
  background-color: #E6E6E6;
  width: 445px;
  height: 298px;
  overflow: hidden;
  margin: 0 30px 2px 0;
}
html .main .detalhes .coluna-maior #ampliada img {
  display: block;
  margin: auto;
  max-height: 298px;
  max-width: 445px;
}
html .main .detalhes .coluna-maior hr {
  clear: both;
  height: 1px;
  border: 0;
  background-color: #698291;
  margin: 30px 0 10px 0;
}
html .main .detalhes .coluna-maior .thumb {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0 18px 12px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .detalhes .coluna-maior .thumb img {
  max-height: 50px;
  display: block;
}
html .main .detalhes .coluna-maior .thumb.thumb-ativo,
html .main .detalhes .coluna-maior .thumb:hover {
  outline: 2px #c61a1a solid;
}
html .main .detalhes .coluna-maior .lista-links-keywords {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #698291;
}
html .main .detalhes .coluna-maior .lista-links-keywords a {
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .detalhes .coluna-maior .lista-links-keywords a:active,
html .main .detalhes .coluna-maior .lista-links-keywords a:visited {
  color: #698291;
}
html .main .detalhes .coluna-maior .lista-links-keywords a:hover {
  color: #c61a1a;
}
html .main .listaprodutos h2 {
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}
html .main .listaprodutos .caixa-cinza {
  background-color: #E6E6E6;
  padding: 20px;
  margin: 20px 0;
  display: block;
}
html .main .listaprodutos .caixa-cinza h2 {
  padding: 0;
  margin-bottom: 15px;
}
html .main .listaprodutos .caixa-cinza a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main .listaprodutos .caixa-cinza a:active,
html .main .listaprodutos .caixa-cinza a:visited {
  color: #698291;
}
html .main .listaprodutos .caixa-cinza a:hover {
  color: #c61a1a;
}
