@import 'vars.less';

@cor_mobiliario:#EB7722;
@cor_componentes:#B5C943;
@cor_arquishow:#1784B3;
@cor_hospitais:#DC0000;
@cor_construtoras:#3EB261;
@cor_arquitetos:#3d4a52;
@cor_todos:#CECECE;

html{
	.main{
		h1{
			.opensans(32px, bold);
			color:@vermelho;
			margin:20px 0;
			span{
				color:@chumbo;
				font-size:14px;
				font-weight: normal;
			}
			.btn-voltar{
				float:right;
				padding:2px 10px;
				color:#fff;
				background-color: @vermelho;
				font-size:14px;
				margin-top:12px;
				&:active, &:visited{color:#fff;}
				&:hover{color:@amarelo;}
				.transition;
			}
		}
		.main-container{
			mergin-top:40px;
			font-size:0;
			aside{
				.inline;
				width:200px;
				margin-right:20px;
				h2{
					padding:20px;
					line-height:145%;
					background-color:@cinza_claro;
					color:@chumbo;
					.opensans(20px);
					margin-bottom:10px;
				}
				a{
					display:block;
					text-align:center;
					height:65px;
					line-height:50px;
					margin-bottom:2px;
					.opensans(16px);
					color:#fff;
					&.link-mobiliario{
						background:url('../_imgs/layout/setinha-branca.png') @cor_mobiliario center 36px no-repeat;
					}
					&.link-componentes{
						background:url('../_imgs/layout/setinha-branca.png') @cor_componentes center 36px no-repeat;
					}
					&.link-arquishow{
						background:url('../_imgs/layout/setinha-branca.png') @cor_arquishow center 36px no-repeat;
					}
					&.link-hr{
						background:url('../_imgs/layout/setinha-branca.png') @cor_hospitais center 36px no-repeat;
					}
					&.link-construtoras{
						background:url('../_imgs/layout/setinha-branca.png') @cor_construtoras center 36px no-repeat;
					}
					&.link-arquitetos{
						background:url('../_imgs/layout/setinha-branca.png') @cor_arquitetos center 36px no-repeat;	
					}
					&:active, &:visited{color:#fff;}
					&:hover{}
					.transition;
				}
			}
			section{
				.inline;
				width:880px;
				#barra-busca{
					padding:20px;
					line-height:145%;
					background-color:@cinza_claro;
					color:@chumbo;
					.opensans(20px);
					margin-bottom:10px;
					form{
						font-size:0;
						width:374px;
						.inline;
						input[type="text"]{
							.inline;
							background-color:#FFF;
							border:0;
							margin:0;
							height:22px;
							line-height:22px;
							width:315px;
							padding:3px 5px;
							.oxygen(16px);
							color:@chumbo;
						}
						input[type="submit"]{
							.inline;
							border:0;
							cursor:pointer;
							background:url('../_imgs/layout/lupa.png') @vermelho center center no-repeat;
							width:28px;
							height:28px;
							text-indent: -9000px
						}
					}
					a{
						&:active, &:visited{color:@chumbo;}
						&:hover{color:@vermelho;}
						.transition;
						.inline;
						.calibri(11px, bold);
						height:28px;
						width:200px;
						line-height: 28px;
						color:@chumbo;
					}
				}
				.coluna{
					.inline;
					width:219px;
					margin-right:1px;
					a{
						background-color:#fff;
						display:block;
						color:@chumbo;
						margin-bottom:2px;
						.calibri(12px, bold);
						text-align:center;
						padding:10px 5px 20px 5px;
						&:active, &:visited{color:@chumbo;}
						&:hover{color:#fff; background-color:@vermelho;}
						.transition;
						img{
							max-width:200px;
							max-height:133px;
							display:block;
							margin:0 auto 5px auto;
						}
					}
					&.mobiliario{
						a{
							border:2px @cor_mobiliario solid;
						}
					}
					&.componentes{
						a{
							border:2px @cor_componentes solid;
						}
					}
					&.arquishow{
						a{
							border:2px @cor_arquishow solid;
						}
					}
					&.hospitais{
						a{
							border:2px @cor_hospitais solid;
						}
					}
					&.arquitetos{
						a{
							border:2px @cor_arquitetos solid;
						}	
					}
				}
				h2.categoria-titulo{
					color:#fff;
					.opensans(22px);
					padding-left:20px;
					height:65px;
					line-height:65px;
					margin-bottom:30px;
					&.mobiliario{ background-color:@cor_mobiliario; }
					&.componentes{ background-color:@cor_componentes; }
					&.arquishow{ background-color:@cor_arquishow; }
					&.hr{ background-color:@cor_hospitais; }
					&.construtoras{ background-color:@cor_construtoras; }
					&.arquitetos{ background-color:@cor_arquitetos; }
					&.todos{ background-color:@cor_todos; }
				}
				.lista-keywords{
					width:33%;
					.inline;
					h3.letra{
						padding-left: 15px;
						color:@vermelho;
						.opensans(20px);
					}
					li{
						a{
							display:block;
							max-width:250px;
							padding-left: 15px;
							.opensans(16px);
							color:@chumbo;
							&:active, &:visited{color:@chumbo;}
							&:hover{background-color: @vermelho;color:#fff;}
							.transition;
						}
					}
				}
			}
			h1.lined{
				margin-top:50px;
				border-top:1px @chumbo solid;
				span{
					display:block;
					text-align:center;
					width:340px;
					background-color:#fff;
					color:@chumbo;
					.opensans(26px);
					margin:-23px auto 0 auto;
				}
			}
			.top{
				.inline;
				width:215px;
				margin-left:1px;
				a.vertodos{
					display:block;
					text-align: center;
					.opensans(22px, bold);
					.transition;
				}
				&.mobiliario{
					border:2px @cor_mobiliario solid;
					a.vertodos{
						color:@cor_mobiliario;
						&:active, &:visited{color:@cor_mobiliario;}
						&:hover{color:@vermelho;}
					}
				}
				&.componentes{
					border:2px @cor_componentes solid;
					a.vertodos{
						color:@cor_componentes;
						&:active, &:visited{color:@cor_componentes;}
						&:hover{color:@vermelho;}
					}
				}
				&.arquishow{
					border:2px @cor_arquishow solid;
					a.vertodos{
						color:@cor_arquishow;
						&:active, &:visited{color:@cor_arquishow;}
						&:hover{color:@vermelho;}
					}
				}
				&.hospitais{
					border:2px @cor_hospitais solid;
					a.vertodos{
						color:@cor_hospitais;
						&:active, &:visited{color:@cor_hospitais;}
						&:hover{color:@vermelho;}
					}
				}
				&.construtoras{
					border:2px @cor_construtoras solid;
					a.vertodos{
						color:@cor_construtoras;
						&:active, &:visited{color:@cor_construtoras;}
						&:hover{color:@vermelho;}
					}
				}
				&.arquitetos{
					border:2px @cor_arquitetos solid;
					a.vertodos{
						color:@cor_arquitetos;
						&:active, &:visited{color:@cor_arquitetos;}
						&:hover{color:@vermelho;}
					}
				}
				padding:2px 0 3px 0;
				ul{
					padding:5px 0 15px 0;
					li{
						a{
							.opensans(14px, bold);
							display:block;
							text-align:center;
							color:@chumbo;
							&:active, &:visited{color:@chumbo;}
							&:hover{color:@vermelho;}
							.transition;
						}
					}
				}				
			}			
		}
		#busca-efetuada{
			margin-top:10px;
			.buscado{
				width:620px;
				.inline;
				vertical-align: bottom;
				margin-right:20px;
				color:@chumbo;
				.opensans(21px);
				.palavra{
					margin-top:5px;
					background-color: @chumbo;
					color:#fff;
					padding:22px 0 22px 20px;
					line-height: 130%;
					.opensans(21px);
				}
			}
			#barra-busca{
				padding:20px 20px 10px 20px;
				width:420px;
				.inline;
				vertical-align: bottom;
				line-height:145%;
				background-color:@cinza_claro;
				color:@chumbo;
				.opensans(20px);
				form{
					font-size:0;
					width:420px;
					.inline;
					input[type="text"]{
						.inline;
						background-color:#FFF;
						border:0;
						margin:0;
						height:22px;
						line-height:22px;
						width:382px;
						padding:3px 5px;
						.oxygen(16px);
						color:@chumbo;
					}
					input[type="submit"]{
						.inline;
						border:0;
						cursor:pointer;
						background:url('../_imgs/layout/lupa.png') @vermelho center center no-repeat;
						width:28px;
						height:28px;
						text-indent: -9000px
					}
				}
				a{
					&:active, &:visited{color:@chumbo;}
					&:hover{color:@vermelho;}
					.transition;
					.inline;
					.calibri(11px, bold);
					height:28px;
					float:right;
					width:200px;
					line-height: 28px;
					color:@chumbo;
				}
			}
		}
		.buscas{
			margin:30px 0;
			.coluna{
				width:33%;
				.inline;
				h2{
					color:@vermelho;
					.opensans(18px);
				}
				&.produto{
					a{
						.opensans(10px);
						float:right;
						margin-right:10px;
						color:@chumbo;
						text-decoration:underline;
						.transition;
						&:active, &:visited{color:@chumbo;}
						&:hover{color:@vermelho;}
					}
				}
				&.categoria{
					h2, form{margin-left:20px;}
				}
				&.empresa{
					a{
						background-color: @vermelho;
						color:#fff;
						text-align: center;
						.opensans(20px);
						margin:26px auto 0 auto;
						display:block;
						width:255px;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@amarelo;}
					}
				}
				form{
					font-size:0;
					select,
					input[type="text"]{
						.inline;
						background-color:#E6E6E6;
						border:0;
						margin:0;
						height:22px;
						line-height:22px;
						width:315px;
						padding:3px 5px;
						.opensans(16px);
						color:@chumbo;
					}
					select{
						height:28px;
						line-height:22px;
						background-image:none;
						outline:none;
						-webkit-appearance: none;
					}
					input[type="submit"]{
						.inline;
						border:0;
						cursor:pointer;
						background:url('../_imgs/layout/lupa.png') @vermelho center center no-repeat;
						width:28px;
						height:28px;
						text-indent: -9000px
					}
				}
			}
		}
		.resultados{
			margin-top:5px;
			min-height:400px;
			p{
				color:@chumbo;
				.opensans(14px);
				&.bold{
					margin-top:15px;
					font-size:18px;
					font-weight:bold;
				}
			}
			.link-solicitacao{
				width:540px;
				height:50px;
				line-height:50px;
				text-align:center;
				.inline;
				border:1px @chumbo solid;
				.opensans(20px);
				color:@chumbo;
				&:active, &:visited{color:@chumbo;}
				&:hover{
					color:@vermelho;
					border:1px @vermelho solid;
				}
				.transition;
				margin:15px 0;
				&.cotacao{
					margin-right:10px;
				}
				&.catalogo{}
			}
			.miolo{
				padding:20px 0;
				font-size:0px;
				width:1108px;
				margin-left:-4px;
				.select{
					.inline;
					width:220px;
					margin:0 2px 2px 0;
					&:nth-child(5n){margin-right:0;}
					&.mobiliario{
						background-color:@cor_mobiliario;
						a:hover, &.selecionado{
							background-color:@cor_mobiliario;
						}
					}
					&.componentes{
						background-color:@cor_componentes;
						a:hover, &.selecionado{
							background-color:@cor_componentes;
						}
					}
					&.arquishow{
						background-color:@cor_arquishow;
						a:hover, &.selecionado{
							background-color:@cor_arquishow;
						}
					}
					&.hr{
						background-color:@cor_hospitais;
						a:hover, &.selecionado{
							background-color:@cor_hospitais;
						}
					}
					&.construtoras{
						background-color:@cor_construtoras;
						a:hover, &.selecionado{
							background-color:@cor_construtoras;
						}
					}
					&.arquitetos{
						background-color:@cor_arquitetos;
						a:hover, &.selecionado{
							background-color:@cor_arquitetos;
						}
					}
					a{
						width:206px;
						margin:2px auto 0 auto;
						padding:5px;
						display:block;
						background-color:#fff;
						text-align:center;
						.transition;
						.imagem-produto{
							width:204px;
							height:136px;
							overflow:hidden;
							border:1px @chumbo solid;
							border-bottom:0;
							background-color:#fff;
							img{
								display:block;
								margin:0 auto;
								max-width: 204px;
								max-height:136px;
							}
						}
						.imagem-marca{
							width:204px;
							height:45px;
							overflow:hidden;
							margin-bottom:2px;
							border:1px @chumbo solid;
							img{
								display:block;
								margin:0;
								width: 204px;
								max-height:45px;
							}
						}
						.legenda{
							min-height:40px;
							.calibri(13px);
							color:@chumbo;
						}				
					}
					label{
						color:#fff;
						display:block;
						cursor: pointer;
						.calibri(12px);
						padding:3px 0 3px 5px;
						input{
							vertical-align: -3px;
						}
					}
				}
			}
			h3.nenhum-resultado{
				color:@vermelho;
				text-align: center;
				margin:40px 0;
				display:block;
				.opensans(20px);
				&.hid{
					display:none;
				}
			}
		}
		.busca-empresas{
			font-size:0;
			margin-top:40px;
			.caixa-letra{
				.inline;
				background:#E6E6E6;
				color:@chumbo;
				.opensans(20px);
				padding:20px;
				width:650px;
				margin-right:10px;
				a{
					.opensans(16px);
					width:20px;
					height:20px;
					line-height:20px;
					color:#fff;
					background-color: @chumbo;
					.transition;
					.inline;
					text-align:center;
					&:active, &:visited{color:#fff;}
					&:hover, &.ativo{background-color: @vermelho; }
				}
			}
			.caixa-termo{
				.inline;
				width:360px;
				background:#E6E6E6;
				color:@chumbo;
				.opensans(20px);
				padding:20px;
				div{
					font-size:0;
					input[type="text"]{
						.inline;
						background-color:#FFF;
						border:0;
						margin:0;
						height:22px;
						line-height:22px;
						width:315px;
						padding:3px 5px;
						.opensans(16px);
						color:@chumbo;
					}
					input[type="submit"]{
						.inline;
						border:0;
						cursor:pointer;
						background:url('../_imgs/layout/lupa.png') @vermelho center center no-repeat;
						width:28px;
						height:28px;
						text-indent: -9000px
					}
				}
			}
		}
		.detalhes{
			margin:30px 0;
			min-height:400px;
			.coluna-cinza{
				.inline;
				width:230px;
				padding:15px 15px 60px 15px;
				background-color: #E6E6E6;
				img{
					width:230px;
					margin-bottom:10px;
				}
				p{
					.opensans(15px);
					color:#757374;
					line-height: 120%;
					margin-bottom:30px;
					a{
						color:#757374;
						.transition;
						&:active, &:visited{color:#757374;}
						&:hover{color:@vermelho;}
					}
					&.apresentacao{
						.oxygen(14px);
						color:#373737;
					}
				}
			}
			.coluna-maior{
				.inline;
				width:800px;
				margin-left:40px;
				.botao-voltar{
					float:right;
					color:#fff;
					height:20px;
					line-height:20px;
					padding:2px 15px;
					.opensans(13px);
					background-color: @vermelho;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@amarelo;}
				}
				h1{
					color:@vermelho;
				}
				#ampliada{
					float:left;
					background-color:#E6E6E6;
					width:445px;
					height:298px;
					overflow:hidden;
					margin:0 30px 2px 0;
					img{
						display:block;
						margin:auto;
						max-height: 298px;
						max-width: 445px;
					}
				}
				hr{
					clear:both;
					height:1px;
					border:0;
					background-color:@chumbo;
					margin:30px 0 10px 0;
				}
				.thumb{
					width:50px;
					height:50px;
					overflow: hidden;
					margin:0 18px 12px 0;
					.inline;
					img{
						//max-width:50px;
						max-height:50px;
						display:block;
					}
					.transition;
					&.thumb-ativo, &:hover{outline:2px @vermelho solid;}
				}
				.lista-links-keywords{
					.opensans(15px);
					color:@chumbo;
					a{
						color:@chumbo;
						.transition;
						&:active, &:visited{color:@chumbo;}
						&:hover{color:@vermelho;}
					}
				}
			}
		}
		.listaprodutos{
			h2{
				color:@vermelho;
				.opensans(18px);
				padding-left:20px;
			}
			.caixa-cinza{
				background-color: #E6E6E6;
				padding:20px;
				margin:20px 0;
				display:block;
				h2{padding:0;margin-bottom:15px;}
				a{
					.inline;
					width:33%;
					.opensans(14px);
					color:@chumbo;
					.transition;
					&:active, &:visited{color:@chumbo;}
					&:hover{color:@vermelho;}
				}
			}
		}
	}
}