@import 'vars.less';

body{
	#modal{
		width:998px;
		height:630px;
		.coluna{
			.inline;
			&.coluna-cinza{
				width:230px;
				padding:15px;
				min-height:600px;
				background-color: #E6E6E6;
				position:relative;
				.imagem{
					background-color:#fff;
					width:230px;
					margin-bottom:15px;
					img{
						width:230px;
						margin:10px auto;
					}
				}
				p{
					.opensans(15px);
					color:#757374;
					line-height: 120%;
					margin-bottom:30px;
					a{
						color:#757374;
						.transition;
						&:active, &:visited{color:#757374;}
						&:hover{color:@vermelho;}
					}
					&.apresentacao{
						.oxygen(14px);
						color:#373737;
					}
				}
				.solicitacoes{
					position:absolute;
					bottom:10px;
					width:230px;
					a{
						display:block;
						background-color:transparent;
						color:@chumbo;
						border:1px @chumbo solid;
						height:40px;
						line-height:40px;
						text-align: center;
						margin-bottom:5px;
						.opensans(18px);
						.transition;
						&:active, &:visited{color:@chumbo;}
						&:hover, &.ativo{color:#fff; background-color:@chumbo; border-color:@chumbo;}
					}
				}
				.varios-fornecedores{
					h1{
						color:@chumbo;
						.opensans(14px, bold);
					}
					ul{
						margin-top:10px;
						list-style:none;
						li{
							color:#000;
							.oxygen(12px);
						}
					}
				}
			}
			&.coluna-centro{
				margin-left:20px;
				width:450px;
				#ampliada{
					padding:30px 0;
					background-color: #E6E6E6;
					width:450px;
					min-height:250px;
					img{
						max-width:100%;
						max-height:250px;
						display:block;
						margin:0 auto;
					}
				}
				#legenda{
					background-color: #E6E6E6;
					margin-top:2px;
					color:@chumbo;
					.calibri(12px);
					padding:8px 10px;
				}
				.thumbs{
					padding-top:10px;
					.thumb{
						&:nth-child(6n){ margin-right:0; }
						.inline;
						width:71px;
						img{
							max-width: 100%;
							opacity:1;
							.transition;
						}
						&:hover, &.thumb-ativo{
							img{
								opacity:.6;
							}
						}
					}
				}
			}
			&.coluna-produtos{
				width:240px;
				margin-left:20px;
				h2{
					color:@chumbo;
					.opensans(16px);
				}
				ul{
					list-style: none;
					margin-top:20px;
					li{
						color:@chumbo;
						.opensans(15px);
					}
				}
			}
			&.coluna-extendida{
				width:734px;
				h1{
					padding-top:30px;
					padding-left:20px;
					color:@chumbo;
					.opensans(22px, bold);
				}
				form{
					padding-left:20px;
					margin-top:15px;
					label{
						display:block;
						margin:10px 0;
						.oxygen(14px);
						color:#000;
						input[type="text"],
						input[type="email"]{
							border:none;
							background:#E6E6E6;
							color:#000;
							.oxygen(18px);
							margin:0;
							padding:5px 6px;
							width:702px;
							height:20px;
							line-height:20px;
						}
						textarea{
							border:none;
							background:#E6E6E6;
							color:#000;
							.oxygen(18px);
							margin:0;
							padding:5px 6px;
							width:702px;
							height:177px;
							line-height:20px;
							resize:none;
							overflow:hidden;
						}
						&.file-label{
							position:relative;
							height:40px;
							cursor:pointer;
							width:350px;
							.texto{
								position:absolute;
								top:0;
								left:0;
								z-index:1;
								height:40px;
								line-height:40px;
								width:228px;
								text-align:center;
								border:1px @chumbo solid;
								background:#fff;
								color:@chumbo;
								padding:0 10px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								.transition;
								.opensans(18px);
								&:hover{
									color:@vermelho;
									border-color:@vermelho;
								}
							}
							input[type="file"]{
								position:absolute;
								top:0;
								left:0;
								z-index:0;
								height:40px;
								width:230px;
							}
							#aviso{
								.oxygen(13px);
								color:#000;
								float:right;
								line-height: 40px;
							}
						}
					}
					input[type="submit"]{
						display:block;
						border:0;
						width:100%;
						height:40px;
						line-height:40px;
						color:#fff;
						text-align: center;
						.opensans(18px, bold);
						background:@chumbo;
						cursor:pointer;
						.transition;
						&:hover{background:@vermelho;}
					}
				}
			}
		}
		h1#efetuada{
			.opensans(20px);
			color:@vermelho;
			margin:40px 0;
			text-align:center;
		}
		.btn-close-modal{
			margin:0 auto;
			display:block;
			width:60px;
			height:30px;
			line-height:30px;
			border:1px @chumbo solid;
			padding:4px 7px;
			text-align:center;
			.opensans(16px);
			color:@chumbo;
			background-color:#fff;
			.transition;
			&:active, &:visited{color:@chumbo;}
			&:hover{
				color:@vermelho;
				border:1px @vermelho solid;
			}
		}
	}
}