.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main .chamadas-home .chamada-grande {
  width: 635px;
  margin-right: 2px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .chamadas-home .chamada-grande a {
  position: absolute;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .chamadas-home .chamada-grande a img {
  margin-bottom: 2px;
  width: 635px;
  height: 310px;
}
.main .chamadas-home .chamada-grande a .texto {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 17px;
  background: url('../_imgs/layout/setinha-branca.png') #c61a1a 605px 10px no-repeat;
  width: 601px;
  height: 76px;
  overflow: hidden;
}
.main .chamadas-home .chamada-grande a .texto h1 {
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main .chamadas-home .chamada-grande a .texto p {
  color: #fff;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 125%;
}
.main .chamadas-home .chamada-grande a:hover .texto {
  background-color: #698291;
}
.main .chamadas-home .chamadas-pequenas {
  width: 463px;
  min-height: 422px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .chamadas-home .chamadas-pequenas .anuncio-placeholder {
  width: 455px;
  height: 297px;
  padding: 0 0 13px 8px;
  font-size: 0;
}
.main .chamadas-home .chamadas-pequenas .anuncio-placeholder .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 220px;
}
.main .chamadas-home .chamadas-pequenas .anuncio-placeholder .coluna:first-child {
  margin-right: 15px;
}
.main .chamadas-home .chamadas-pequenas .anuncio-placeholder .coluna .ad-halfbanner:first-child {
  display: block;
  margin-bottom: 10px;
}
.main .chamadas-home .chamadas-pequenas a.link-chamada {
  line-height: 115%;
  display: block;
  background-color: #698291;
  background: url('../_imgs/layout/setinha-branca.png') #698291 98% center no-repeat;
  padding: 10px;
  width: 443px;
  height: 34px;
  color: #fff;
  overflow: hidden;
  margin-top: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .chamadas-home .chamadas-pequenas a.link-chamada:active,
.main .chamadas-home .chamadas-pequenas a.link-chamada:visited {
  color: #fff;
}
.main .chamadas-home .chamadas-pequenas a.link-chamada:hover {
  background: url('../_imgs/layout/setinha-branca.png') #c61a1a 98% center no-repeat;
}
.main .publicacoes {
  padding: 20px 0 35px 0;
  font-size: 0;
}
.main .publicacoes .chamada {
  width: 145px;
  margin-right: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .publicacoes .chamada h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #698291;
  line-height: 120%;
  margin-bottom: 7px;
}
.main .publicacoes .chamada p {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #698291;
  line-height: 120%;
}
.main .publicacoes .chamada a {
  margin-top: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  background-color: #698291;
  padding: 7px 10px;
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .publicacoes .chamada a:active,
.main .publicacoes .chamada a:visited {
  color: #fff;
}
.main .publicacoes .chamada a:hover {
  background-color: #c61a1a;
}
.main .publicacoes .publicacao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 20px;
  width: 165px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  line-height: 115%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .publicacoes .publicacao img {
  width: 165px;
  margin-bottom: 4px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .publicacoes .publicacao:hover {
  color: #c61a1a;
}
.main .publicacoes .publicacao:hover img {
  -webkit-box-shadow: 0px 0px 8px 0px #C61A1A;
  box-shadow: 0px 0px 8px 0px #C61A1A;
}
.main .chamadas-noticias {
  width: 710px;
  margin-right: 40px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .chamadas-noticias a.noticia {
  width: 208px;
  height: 175px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 5px #698291 solid;
  border-top: 40px #698291 solid;
  border-right: 1px #698291 solid;
  border-left: 1px #698291 solid;
  padding: 0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #698291;
  line-height: 120%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .chamadas-noticias a.noticia:nth-child(3n) {
  margin-right: 0;
}
.main .chamadas-noticias a.noticia.semmargem,
.main .chamadas-noticias a.noticia.nthchild(3n) {
  margin-right: 0;
}
.main .chamadas-noticias a.noticia img {
  width: 208px;
  display: block;
  margin: -30px auto 10px auto;
}
.main .chamadas-noticias a.noticia:active,
.main .chamadas-noticias a.noticia:visited {
  color: #698291;
}
.main .chamadas-noticias a.noticia:hover {
  border-color: #c61a1a;
  color: #c61a1a;
}
.main .chamadas-noticias .barra {
  height: 40px;
  line-height: 40px;
  background-color: #698291;
  display: block;
  padding-right: 8px;
  color: #fff;
  text-align: right;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .chamadas-noticias .barra.semhover:hover {
  background-color: #698291;
}
.main .chamadas-noticias .barra:active,
.main .chamadas-noticias .barra:visited {
  color: #fff;
}
.main .chamadas-noticias .barra:hover {
  background-color: #c61a1a;
}
.main .coluna-agenda {
  width: 350px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .coluna-agenda .anuncio-placeholder {
  width: 340px;
  min-height: 90px;
  margin-bottom: 15px;
}
.main .coluna-agenda .anuncio-placeholder.hide-agenda + .chamada-agenda {
  display: none;
}
.main .coluna-agenda .chamada-agenda {
  background-color: #ffcc00;
  padding: 5px;
}
.main .coluna-agenda .chamada-agenda h2 {
  margin: 15px 0 10px 0;
  padding-left: 8px;
  line-height: 100%;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main .coluna-agenda .chamada-agenda .lista {
  padding-bottom: 10px;
  background-color: #fff;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda {
  padding: 15px 8px 13px 8px;
  display: block;
  position: relative;
  background: url('../_imgs/layout/setinha-cinza.png') #ffffff 315px 90% no-repeat;
  color: #666666;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda .local {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda .titulo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 130%;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda .data {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda .linha {
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 1px;
  background-color: #ffcc00;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda:active,
.main .coluna-agenda .chamada-agenda .lista a.agenda:visited {
  color: #666666;
}
.main .coluna-agenda .chamada-agenda .lista a.agenda:hover {
  background-color: #ffcc00;
  color: #fff;
}
.main .parceiros {
  border-top: 1px #c61a1a solid;
  margin: 15px 0;
  padding: 15px 0;
}
.main .parceiros h2 {
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  font-weight: normal;
  margin-bottom: 15px;
}
.main .parceiros .ad {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 160px;
  height: 90px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.main .parceiros .ad:nth-of-type(6n) {
  margin-right: 0;
}
