@import 'vars.less';

.main{
	.chamadas-home{
		.chamada-grande{
			width:635px;
			margin-right:2px;
			position:relative;
			.inline;
			a{
				position:absolute;
				display: block;
				img{
					margin-bottom:2px;
					width:635px;
					height:310px;
				}
				.texto{
					.transition;
					padding:17px;
					background:url('../_imgs/layout/setinha-branca.png') @vermelho 605px 10px no-repeat;
					width:601px;
					height:76px;
					overflow: hidden;
					h1{
						color:#fff;
						.oxygen(16px);
					}
					p{
						color:#fff;
						.oxygen(14px);
						line-height:125%;
					}
				}
				.transition;
				&:hover{
					.texto{
						background-color:@chumbo;
					}
				}
			}
		}
		.chamadas-pequenas{
			width:463px;
			min-height: 422px;
			.inline;
			.anuncio-placeholder{
				width:455px;
				height:297px;
				padding:0 0 13px 8px;
				font-size:0;
				.coluna{
					.inline;
					width:220px;
					&:first-child{margin-right:15px}
					.ad-halfbanner:first-child{
						display:block;
						margin-bottom:10px
					}
				}
			}
			a.link-chamada{
				line-height:115%;
				display:block;
				background-color:@chumbo;
				background:url('../_imgs/layout/setinha-branca.png') @chumbo 98% center no-repeat;
				padding:10px;
				width:443px;
				height:34px;
				color:#fff;
				overflow:hidden;
				margin-top:2px;
				.opensans(16px);
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{
					background:url('../_imgs/layout/setinha-branca.png') @vermelho 98% center no-repeat;
				}
			}
		}
	}
	.publicacoes{
		padding:20px 0 35px 0;
		font-size:0;
		.chamada{
			width:145px;
			margin-right:30px;
			.inline;
			h2{
				.opensans(26px);
				color:@chumbo;
				line-height:120%;
				margin-bottom:7px;
			}
			p{
				.oxygen(14px);
				color:@chumbo;
				line-height:120%;
			}
			a{
				margin-top:20px;
				.inline;
				.opensans(14px);
				color:#fff;
				background-color: @chumbo;
				padding:7px 10px;
				line-height:100%;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{
					background-color: @vermelho;
				}
			}
		}
		.publicacao{
			.inline;
			margin-left:20px;
			width:165px;
			.opensans(14px);
			color:@cinza;
			line-height: 115%;
			.transition;
			img{
				width:165px;
				margin-bottom:4px;
				.transition;
			}
			&:hover{
				color:@vermelho;
				img{
					-webkit-box-shadow: 0px 0px 8px 0px #C61A1A;
					box-shadow: 0px 0px 8px 0px #C61A1A;
				}
			}
		}
	}
	.chamadas-noticias{
		width:710px;
		margin-right:40px;
		font-size:0;
		.inline;
		a.noticia{
			width:208px;
			height:175px;
			margin-right:10px;
			margin-bottom:10px;
			border-bottom:5px @chumbo solid;
			border-top:40px @chumbo solid;
			border-right:1px @chumbo solid;
			border-left:1px @chumbo solid;
			padding:0 10px;
			.opensans(12px);
			color:@chumbo;
			line-height:120%;
			.transition;
			.inline;
			&:nth-child(3n){ margin-right:0;}
			&.semmargem, &.nthchild(3n){ margin-right:0;}
			img{
				width:208px;
				display:block;
				margin:-30px auto 10px auto;
			}
			.transition;
			&:active, &:visited{color:@chumbo;}
			&:hover{
				border-color:@vermelho;
				color:@vermelho;
			}
		}
		.barra{
			height:40px;
			line-height:40px;
			background-color:@chumbo;
			display:block;
			padding-right:8px;
			color:#fff;
			text-align:right;
			.oxygen(12px);
			.transition;
			&.semhover:hover{background-color:@chumbo;}
			&:active, &:visited{color:#fff;}
			&:hover{ background-color:@vermelho; }
		}
	}
	.coluna-agenda{
		width:350px;
		.inline;
		.anuncio-placeholder{
			width:340px;
			min-height:90px;
			margin-bottom:15px;
			&.hide-agenda + .chamada-agenda{
				display:none;
			}
		}
		.chamada-agenda{
			background-color:@amarelo;
			padding:5px;
			h2{
				margin:15px 0 10px 0;
				padding-left:8px;
				line-height:100%;
				color:#fff;
				.opensans(16px);
			}
			.lista{
				padding-bottom:10px;
				background-color:#fff;
				a.agenda{
					padding:15px 8px 13px 8px;
					display: block;
					position:relative;
					background:url('../_imgs/layout/setinha-cinza.png') #fff 315px 90% no-repeat;
					color:@cinza;
					.local{ .oxygen(16px);line-height:140%; }
					.titulo{ .opensans(22px);line-height:130%; }
					.data{ .opensans(14px);line-height:130%; }
					.linha{
						position:absolute;
						bottom:0;
						width:320px;
						height:1px;
						background-color:@amarelo;
					}
					.transition;
					&:active, &:visited{color:@cinza;}
					&:hover{
						background-color:@amarelo;
						color:#fff;
					}
				}
			}
		}
	}
	.parceiros{
		border-top:1px @vermelho solid;
		margin:15px 0;
		padding:15px 0;
		h2{
			color:@vermelho;
			.opensans(19px);
			margin-bottom: 15px;
		}
		.ad{
			.inline;
			width:160px;
			height:90px;
			margin-right:15px;
			margin-bottom:15px;
			&:nth-of-type(6n){margin-right: 0;}
		}
	}
}