.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
body {
  background: #698291;
}
body #aviso {
  width: 600px;
  height: 400px;
  margin: 160px auto 0 auto;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  behavior: url('PIE.htc');
  -webkit-box-shadow: 0 0 3px 1px #CCC;
  box-shadow: 0 0 3px 1px #CCC;
  text-align: center;
}
body #aviso #marca {
  height: 80px;
  background: #c61a1a;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  behavior: url('PIE.htc');
  overflow: hidden;
}
body #aviso #marca img {
  display: block;
  margin: 20px auto;
}
body #aviso h1 {
  margin-top: 50px;
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
}
body #aviso h2 {
  margin-top: 40px;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
body #aviso p {
  border-top: 1px #698291 solid;
  display: block;
  padding: 10px;
  margin: 55px 4px 50px 4px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #698291;
}
