@import 'vars.less';

body{
	background:@chumbo;
	#aviso{
		width:600px;
		height:400px;
		margin:160px auto 0 auto;
		background-color:#fff;
		.arredondada(10px);
		-webkit-box-shadow: 0 0 3px 1px #CCC;
		box-shadow: 0 0 3px 1px #CCC;
		text-align:center;
		#marca{
			height:80px;
			background:@vermelho;
			.arredondada(10px 10px 0 0);
			overflow:hidden;
			img{
				display:block;
				margin:20px auto;
			}
		}
		h1{
			margin-top:50px;
			color:@vermelho;
			.opensans(22px);
		}
		h2{
			margin-top:40px;
			color:@chumbo;
			.opensans(16px);	
		}
		p{
			border-top:1px @chumbo solid;
			display:block;
			padding:10px;
			margin:55px 4px 50px 4px;
			.oxygen(15px);
			color:@chumbo;
		}
	}
}