@import 'vars.less';

.main{
	.materia{
		width:800px;
		margin-right:70px;
		.inline;
		section{
			.inline;
			padding:40px;
			width:720px;
			background-color:#E6E6E6;
			h1{
				.opensans(28px);
				color:#373435;
				line-height:100%;
			}
			h2{
				margin:20px 0;
				.opensans(18px);
				color:#373435;
				line-height:145%;
			}
			img{width:720px;}
			p{
				&:first-child{margin-top:38px;}
				&:last-child{margin-bottom:20px;}
				margin-top:20px;
				margin-bottom:20px;
				color:#373435;
				.oxygen(14px);
				a{
					.transition;
					color:@chumbo;
					&:active, &:visited{color:@chumbo;}
					&:hover{color:@vermelho;}
				}
			}
		}
		.download-materia{
			clear:both;
			width:800px;
			background-color:#CCCCCC;
			height:60px;
			margin-top: 10px;
			line-height:60px;
			.botao-topo{
				float:left;
				height:60px;
				line-height:60px;
				.opensans(18px);
				color:#808080;
				padding:0 15px;
				.transition;
				&:active, &:visited{color:#808080;}
				&:hover{ color:@vermelho;}
			}
			.download{
				float:right;
				height:60px;
				line-height: 60px;
				padding:0 60px 0 15px;
				.opensans(18px);
				color:#fff;
				.transition;
				background:url('../_imgs/layout/icone-pdf.png') @vermelho 276px no-repeat;
				&:active, &:visited{color:#fff;}
				&:hover{
					background-color:#808080;
					color:@vermelho;
				}
			}
		}
	}
	aside{
		.inline;
		width:230px;
		.ad{
			display:block;
			width:230px;
			height:230px;
			overflow:hidden;
			margin-bottom: 10px;
		}
		a.noticia{
			width:208px;
			height:175px;
			margin-right:10px;
			margin-bottom:10px;
			border-bottom:5px @chumbo solid;
			border-top:40px @chumbo solid;
			border-right:1px @chumbo solid;
			border-left:1px @chumbo solid;
			padding:0 10px;
			.opensans(12px);
			color:@chumbo;
			line-height:120%;
			.transition;
			.inline;
			&:nth-child(3n){ margin-right:0;}
			img{
				width:208px;
				display:block;
				margin:-30px auto 10px auto;
			}
			.transition;
			&:active, &:visited{color:@chumbo;}
			&:hover{
				border-color:@vermelho;
				color:@vermelho;
			}
		}
		a.noticialista {
			width: 100%;
			margin: 10px 0 20px 0;
			padding-bottom: 5px;
			border-bottom: 1px solid #698291;
			display: block;
			.opensans(12px);
			font-weight: normal;
			color: #698291;
			line-height: 120%;
			.transition;
			&:active, &:visited{color: #698291;}
			&:hover {
				color: #c61a1a;
			    border-color: #c61a1a;
			}
		}
	}
	h1{
		.opensans(28px);
		color:@chumbo;
		margin-bottom: 20px;
	}
	.destaque{
		.inline;
		width:723px;
		margin-right:30px;
		height:480px;
		a{
			position:relative;
			display: block;
			height:480px;
			&:hover .barra,
			&:hover .data .dia,
			&:hover .data .mes,
			&:hover .pre h2,
			&:hover .pre p{color:@amarelo;}
			img{
				position:absolute;
				z-index:1;
				top:0;
				left:0;
			}
			.data{
				position:absolute;
				top:0;
				left:18px;
				width:95px;
				height:115px;
				padding-top:10px;
				z-index:2;
				background-color:@chumbo;
				color:#fff;
				text-align:center;
				.dia{
					line-height:100%;
					.transition;
					.opensans(60px, bold);
				}
				.mes{
					line-height:100%;
					.transition;
					.opensans(40px);
				}
			}
			.pre{
				background: url('rgba.php/rgba(0,0,0,0.7)');
				background: rgba(0,0,0,.7);
				height:78px;
				padding:20px 20px 17px 30px;
				overflow:hidden;
				color:#fff !important;
				position:absolute;
				left:0;
				bottom:30px;
				z-index:3;
				width:673px;
				h2{
					.transition;
					.opensans(20px);
					line-height:120%;
				}
				p{
					.transition;
					.opensans(14px);
				}
			}
			.barra{
				.transition;
				position:absolute;
				bottom:0;
				left:0;
				width:701px;
				z-index:999999;
				background-color:@chumbo;
				color:#fff;
				text-align:right;
				height:30px;
				line-height:30px;
				padding-right:22px;
				.opensans(13px);
			}
		}
	}
	ul.destaque-lateral{
		.inline;
		width:346px;
		li{
			width:346px;
			display:block;
			height:228px;
			&:first-child{margin-bottom:24px;}
			a{
				display:block;
				width:342px;
				height:228px;
				position:relative;
				.transition;
				&:hover .data .dia,
				&:hover .data .mes,
				&:hover .pre h2{color:@amarelo;}
				img{
					position:absolute;
					z-index:1;
					top:0;
					left:0;
					max-height: 228px;
				}
				.data{
					position:absolute;
					top:0;
					left:10px;
					width:46px;
					height:58px;
					padding-top:5px;
					z-index:2;
					background-color:@chumbo;
					color:#fff;
					text-align:center;
					.dia{
						line-height:110%;
						.transition;
						.opensans(25px, bold);
					}
					.mes{
						line-height:110%;
						.transition;
						.opensans(20px);
					}
				}
				.pre{
					background: url('rgba.php/rgba(0,0,0,0.7)');
					background: rgba(0,0,0,.7);
					height:46px;
					padding:12px;
					overflow:hidden;
					color:#fff !important;
					position:absolute;
					left:0;
					bottom:0;
					z-index:3;
					width:318px;
					h2{
						.opensans(20px);
						.transition;
						line-height:125%;
					}
					p{
						.opensans(14px);
					}
				}
			}
		}
	}
	ul.lista-noticias{
		margin-top:60px;
		display:block;
		clear: both;
		font-size: 0;
		li{
			width:254px;
			display:block;
			height:169px;
			margin-right:28px;
			margin-bottom:28px;
			.inline;
			&:nth-child(4n){margin-right:0;}
			a{
				display:block;
				width:254px;
				height:169px;
				position:relative;
				.transition;
				&:hover .data .dia,
				&:hover .data .mes,
				&:hover .pre h2{color:@amarelo;}
				img{
					position:absolute;
					z-index:1;
					top:0;
					left:0;
					max-height: 169px;
				}
				.data{
					position:absolute;
					top:0;
					left:5px;
					width:32px;
					height:41px;
					padding-top:3px;
					z-index:2;
					background-color:@chumbo;
					color:#fff;
					text-align:center;
					.dia{
						line-height:110%;
						.transition;
						.opensans(18px, bold);
					}
					.mes{
						line-height:110%;
						.transition;
						.opensans(14px);
					}
				}
				.pre{
					background: url('rgba.php/rgba(0,0,0,0.7)');
					background: rgba(0,0,0,.7);
					height:46px;
					padding:12px;
					overflow:hidden;
					color:#fff !important;
					position:absolute;
					left:0;
					bottom:0;
					z-index:3;
					width:230px;
					h2{
						.opensans(14px);
						.transition;
					}
				}
			}
		}
	}
}