.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main .materia {
  width: 800px;
  margin-right: 70px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .materia section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 40px;
  width: 720px;
  background-color: #E6E6E6;
}
.main .materia section h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #373435;
  line-height: 100%;
}
.main .materia section h2 {
  margin: 20px 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #373435;
  line-height: 145%;
}
.main .materia section img {
  width: 720px;
}
.main .materia section p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #373435;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .materia section p:first-child {
  margin-top: 38px;
}
.main .materia section p:last-child {
  margin-bottom: 20px;
}
.main .materia section p a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #698291;
}
.main .materia section p a:active,
.main .materia section p a:visited {
  color: #698291;
}
.main .materia section p a:hover {
  color: #c61a1a;
}
.main .materia .download-materia {
  clear: both;
  width: 800px;
  background-color: #CCCCCC;
  height: 60px;
  margin-top: 10px;
  line-height: 60px;
}
.main .materia .download-materia .botao-topo {
  float: left;
  height: 60px;
  line-height: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #808080;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .materia .download-materia .botao-topo:active,
.main .materia .download-materia .botao-topo:visited {
  color: #808080;
}
.main .materia .download-materia .botao-topo:hover {
  color: #c61a1a;
}
.main .materia .download-materia .download {
  float: right;
  height: 60px;
  line-height: 60px;
  padding: 0 60px 0 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../_imgs/layout/icone-pdf.png') #c61a1a 276px no-repeat;
}
.main .materia .download-materia .download:active,
.main .materia .download-materia .download:visited {
  color: #fff;
}
.main .materia .download-materia .download:hover {
  background-color: #808080;
  color: #c61a1a;
}
.main aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 230px;
}
.main aside .ad {
  display: block;
  width: 230px;
  height: 230px;
  overflow: hidden;
  margin-bottom: 10px;
}
.main aside a.noticia {
  width: 208px;
  height: 175px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 5px #698291 solid;
  border-top: 40px #698291 solid;
  border-right: 1px #698291 solid;
  border-left: 1px #698291 solid;
  padding: 0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #698291;
  line-height: 120%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside a.noticia:nth-child(3n) {
  margin-right: 0;
}
.main aside a.noticia img {
  width: 208px;
  display: block;
  margin: -30px auto 10px auto;
}
.main aside a.noticia:active,
.main aside a.noticia:visited {
  color: #698291;
}
.main aside a.noticia:hover {
  border-color: #c61a1a;
  color: #c61a1a;
}
.main aside a.noticialista {
  width: 100%;
  margin: 10px 0 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #698291;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #698291;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main aside a.noticialista:active,
.main aside a.noticialista:visited {
  color: #698291;
}
.main aside a.noticialista:hover {
  color: #c61a1a;
  border-color: #c61a1a;
}
.main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #698291;
  margin-bottom: 20px;
}
.main .destaque {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 723px;
  margin-right: 30px;
  height: 480px;
}
.main .destaque a {
  position: relative;
  display: block;
  height: 480px;
}
.main .destaque a:hover .barra,
.main .destaque a:hover .data .dia,
.main .destaque a:hover .data .mes,
.main .destaque a:hover .pre h2,
.main .destaque a:hover .pre p {
  color: #ffcc00;
}
.main .destaque a img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.main .destaque a .data {
  position: absolute;
  top: 0;
  left: 18px;
  width: 95px;
  height: 115px;
  padding-top: 10px;
  z-index: 2;
  background-color: #698291;
  color: #fff;
  text-align: center;
}
.main .destaque a .data .dia {
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.main .destaque a .data .mes {
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
}
.main .destaque a .pre {
  background: url('rgba.php/rgba(0,0,0,0.7)');
  background: rgba(0, 0, 0, 0.7);
  height: 78px;
  padding: 20px 20px 17px 30px;
  overflow: hidden;
  color: #fff !important;
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 3;
  width: 673px;
}
.main .destaque a .pre h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
}
.main .destaque a .pre p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .destaque a .barra {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 701px;
  z-index: 999999;
  background-color: #698291;
  color: #fff;
  text-align: right;
  height: 30px;
  line-height: 30px;
  padding-right: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.main ul.destaque-lateral {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 346px;
}
.main ul.destaque-lateral li {
  width: 346px;
  display: block;
  height: 228px;
}
.main ul.destaque-lateral li:first-child {
  margin-bottom: 24px;
}
.main ul.destaque-lateral li a {
  display: block;
  width: 342px;
  height: 228px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main ul.destaque-lateral li a:hover .data .dia,
.main ul.destaque-lateral li a:hover .data .mes,
.main ul.destaque-lateral li a:hover .pre h2 {
  color: #ffcc00;
}
.main ul.destaque-lateral li a img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-height: 228px;
}
.main ul.destaque-lateral li a .data {
  position: absolute;
  top: 0;
  left: 10px;
  width: 46px;
  height: 58px;
  padding-top: 5px;
  z-index: 2;
  background-color: #698291;
  color: #fff;
  text-align: center;
}
.main ul.destaque-lateral li a .data .dia {
  line-height: 110%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.main ul.destaque-lateral li a .data .mes {
  line-height: 110%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main ul.destaque-lateral li a .pre {
  background: url('rgba.php/rgba(0,0,0,0.7)');
  background: rgba(0, 0, 0, 0.7);
  height: 46px;
  padding: 12px;
  overflow: hidden;
  color: #fff !important;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 318px;
}
.main ul.destaque-lateral li a .pre h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 125%;
}
.main ul.destaque-lateral li a .pre p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main ul.lista-noticias {
  margin-top: 60px;
  display: block;
  clear: both;
  font-size: 0;
}
.main ul.lista-noticias li {
  width: 254px;
  display: block;
  height: 169px;
  margin-right: 28px;
  margin-bottom: 28px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main ul.lista-noticias li:nth-child(4n) {
  margin-right: 0;
}
.main ul.lista-noticias li a {
  display: block;
  width: 254px;
  height: 169px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main ul.lista-noticias li a:hover .data .dia,
.main ul.lista-noticias li a:hover .data .mes,
.main ul.lista-noticias li a:hover .pre h2 {
  color: #ffcc00;
}
.main ul.lista-noticias li a img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-height: 169px;
}
.main ul.lista-noticias li a .data {
  position: absolute;
  top: 0;
  left: 5px;
  width: 32px;
  height: 41px;
  padding-top: 3px;
  z-index: 2;
  background-color: #698291;
  color: #fff;
  text-align: center;
}
.main ul.lista-noticias li a .data .dia {
  line-height: 110%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.main ul.lista-noticias li a .data .mes {
  line-height: 110%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main ul.lista-noticias li a .pre {
  background: url('rgba.php/rgba(0,0,0,0.7)');
  background: rgba(0, 0, 0, 0.7);
  height: 46px;
  padding: 12px;
  overflow: hidden;
  color: #fff !important;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 230px;
}
.main ul.lista-noticias li a .pre h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
