@import 'vars.less';

.main{
	font-size:0;
	section.texto-evento{
		.inline;
		width:700px;
		margin-right:50px;
		img{
			display: block;
			margin-bottom:15px;
		}
		h1{
			color:#4A4748;
			.opensans(18px);
		}
		h2{
			color:@vermelho;
			.oxygen(14px);
			margin:20px 0;
		}
		p{
			color:#4A4748;
			.oxygen(14px);
			line-height:140%;
			margin-bottom:20px;
		}
		.box{
			margin-top:30px;
			padding:10px 10px 10px 20px;
			background-color:#E6E6E6;
			height:204px;
			position:relative;
			h1{
				.opensans(24px);
				color:#808080;
				max-width:400px;
				margin-bottom: 10px;
				line-height:130%;
			}
			.links-container{
				position: absolute;
				top:10px;
				right:10px;
				width:250px;
				height:190px;
				a{
					padding:8px;
					min-height:44px;
					width:234px;
					display: block;
					margin-bottom:5px;
					color:#808080;
					&.regulamento,
					&.modelo{
						.opensans(16px);
						line-height:120%;
						background:url('../_imgs/layout/icone-pdf.png') #CCC 202px 4px no-repeat;
						span{ .opensans(12px); }
						&:hover{
							background-color:@vermelho;
							color:#fff;
						}
						&.download-zip{
							background:url('../_imgs/layout/icone-download.png') #CCC 202px 4px no-repeat;
						}
					}
					&.ficha{
						margin-bottom:0;
						background-color:@vermelho;
						color:#fff;
						&:active, &:visited{ color:#fff; }
						text-align: center;
						.opensans(16px);
						line-height:140%;
						&:hover{ background-color:@chumbo;}
					}
					.transition;
					&:active, &:visited{color:#808080;}
					&:hover{}
				}
			}
		}
		.coluna{
			&.larga{
				width:400px;
				margin-right:40px;
				.texto{
					margin-top:15px;
				}
			}
			width:260px;
			.inline;
			.texto{
				h1 {
				  font-family: 'Open Sans Condensed', sans-serif;
				  font-size: 30px;
				  font-weight: normal;
				  line-height: 130%;
				  color: #4A4748;
				  margin: 10px 0;
				}
				h2 {
				  font-family: 'Open Sans Condensed', sans-serif;
				  font-size: 20px;
				  font-weight: normal;
				  line-height: 130%;
				  color: #4A4748;
				  margin: 10px 0;
				}
				h3 {
				  color: #000;
				  line-height: 140%;
				  font-family: 'Oxygen', 'Arial', sans-serif;
				  font-size: 24px;
				  font-weight: normal;
				}
				p {
				  font-family: 'Oxygen', 'Arial', sans-serif;
				  font-size: 14px;
				  font-weight: normal;
				  margin: 20px 0;
				  color: #4A4748;
				  line-height: 150%;
				  a{
				  	display:inline;
				  	height:auto;
				  	background:#fff;
				  	color:@vermelho;
				  	font-family: 'Oxygen', 'Arial', sans-serif;
					font-size: 14px;
					font-weight: normal;
				  	.transition;
				  	&:hover{
				  		text-decoration: underline;
				  		font-family: 'Oxygen', 'Arial', sans-serif;
						font-size: 14px;
						font-weight: normal;
						background:#fff;
				  	}
				  }
				}
				.preto{color:#4A4748 !important;}
				.vermelho,
				.vermelho {
				  color: #c61a1a !important;
				}
				.bold,
				.bold {
				  font-weight: bold !important;
				}
				.semmargem {
				  margin: 0 !important;
				}
				.semmargem-t {
				  margin-top: 0 !important;
				}
				.semmargem-b {
				  margin-bottom: 0 !important;
				}
				a {
				  text-align: center;
				  display: block;
				  height: 60px;
				  line-height: 60px;
				  background-color: #c61a1a;
				  color: #fff;
				  font-family: 'Open Sans Condensed', sans-serif;
				  font-size: 24px;
				  font-weight: normal;
				  -webkit-transition: all 0.3s ease-in;
				  -moz-transition: all 0.3s ease-in;
				  -o-transition: all 0.3s ease-in;
				  transition: all 0.3s ease-in;
				}
				a:active,
				a:visited {
				  color: #fff;
				}
				a:hover {
				  background-color: #698291;
				}
			}
		}
		.full{
			text-align:center;
			h1{
				.opensans(30px);
				line-height:130%;
				color:#4A4748;
				margin:10px 0;
			}
			h2{
				.opensans(20px);
				line-height:130%;
				color:#4A4748;
				margin:10px 0;
			}
			h3{
				color:#000;
				line-height:140%;
				.oxygen(24px);
			}
			p{
				.oxygen(16px);
				margin:35px 0;
				color:#4A4748;
				line-height:150%;
				&.vermelho, .vermelho{ color:@vermelho; }
				&.bold, .bold{ font-weight:bold; }
				&.semmargem{ margin:0;}
				&.semmargem-t{ margin-top:0;}
				&.semmargem-b{ margin-bottom:0;}
				&.w600{ width:550px; margin-right:auto; margin-left:auto; }
				&.olho{
					padding:15px 20px;
					color:#fff;
					background-color: #698291;
				}
				a{
					color:@vermelho;
					&:active, &:visited{color:@vermelho;}
					&:hover{color:@amarelo;}
					.transition;
				}
			}
			.fundo-cinza{
				background-color:#E6E6E6;
				text-align:left;
				padding:15px;
				margin-top:50px;
				p{
					margin:2px 0;
				}
			}
			.aguarde{
				height:60px;
				line-height:60px;
				background-color:@vermelho;
				color:#fff;
				margin-top:50px;
				.opensans(16px);
			}
			a.vermelho{
				margin-top:20px;
				text-align:center;
				display:block;
				height:60px;
				line-height:60px;
				background-color:@vermelho;
				color:#fff;
				.opensans(24px);
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{background-color:#698291;}
			}
		}
		.form-inscricao{
			background-color:#E6E6E6;
			padding:18px 18px 30px 18px;
			img{
				.inline;
				margin-right: 20px;
			}
			h1{
				.opensans(40px);
				color:#808080;
			}
			.aviso-form{
				width:600px;
				margin:20px auto 30px auto;
				padding:15px 20px;
				border-top:1px #B6B6B6 solid;
				border-bottom:1px #B6B6B6 solid;
				text-align:center;
				color:#423F40;
				.oxygen(14px);
				line-height:120%;
				h3{
					line-height:150%;
					font-size:25px;
				}
				h2{
					.opensans(32px);
					color:@vermelho;
				}
				&.noborder-t{border-top:0;}
			}
			form{
				padding:0 10px;
				font-size:0;
				label, .label{
					display:block;
					text-align:right;
					.oxygen(13px);
					color:#423F40;
					margin-bottom:4px;
					input[type="text"],
					input[type="email"]{
						.oxygen(15px);
						color:#423F40;
						margin:0 0 0 5px;
						padding:3px 5px;
						border:0;
						height:16px;
						line-height:16px;
						width:490px;
						&.w178{ width:178px; margin-right:312px;}
						&.w365{ width:353px; }
						&.w323{ width:323px; }
						&.menor.uf{ width:20px; margin-left:0; margin-right: 103px}
					}
					&.metade{
						width:264px;
						&.w349{ width:345px;}
						.inline;
						input[type="text"],
						input[type="email"]{
							.inline;
							margin:0;
							width:157px;
							&.menor{
								width:20px;
								margin:0 4px 0 5px;
							}
						}
					}
					&.w75{
						width:443px;
						.inline;
						input{
							margin:0 0 0 5px;
							width:289px;
						}
					}
					&.w25{
						width:166px;
						margin-left:7px;
						.inline;
						input{
							margin:0 0 0 8px;
							width:100px;
							&.menor{ width:20px; margin-right:34px;}
						}
					}
					&.separador{
						margin-top:30px;
					}
					select{
						.oxygen(15px);
						color:#423F40;
						width:500px;
						height:22px;
						margin-left:10px;
					}
					.texto{
						width:131px;
						float:left;
						line-height: 120%;
						span{ font-size:12px; }
					}
					textarea{
						.oxygen(15px);
						color:#423F40;
						margin:0 0 0 5px;
						border:0;
						padding:3px 5px;
						width:490px;
						resize:none;
						overflow:auto;
						height:100px;
					}
					&.file{
						height:32px;
						line-height:32px;
						font-size:13px;
						white-space: nowrap;
						text-indent: -11px;
						#observacao{
							height:29px;
							.oxygen(11px);
							color:#423F40;
							width:200px;
							padding-top:3px;
							line-height:130%;
							text-align:left;
							margin-right:135px;
							text-indent:0;
							.inline;
						}
					}
					&.sem-marginb{
						margin-bottom:0;
					}
					#fileinput{
						width:152px;
						margin-right:10px;
						margin-left:10px;
						text-align:center;
						.opensans(16px);
						position:relative;
						height:32px;
						line-height:32px;
						.inline;
						input[type="file"],
						.fakeinput{
							position:absolute;
							top:0;
							width:152px;
							height:32px;
							left:0;
						}
						input[type="file"]{ z-index:1; }
						.fakeinput{
							background-color:#CCCCCC;
							z-index:2;
							color:#808080;
							cursor:pointer;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							.transition;
							&:hover{
								background-color: #808080;
								color:@vermelho;
							}
						}
					}
					&.check{
						clear:both;
						line-height:130%;
						padding-left:164px;
						text-align:left;
						text-indent:-24px;
					}
				}
				p.atencao{
					font-size: 14px;
					margin:40px 0 30px 0;
					.vermelho{color:@vermelho;}
				}
				input[type="submit"]{
					height:50px;
					line-height:50px;
					margin:25px 0 0 0;
					display:block;
					text-align:center;
					.opensans(25px);
					background-color: #808080;
					color:@vermelho;
					width:100%;
					padding:0;
					border:0;
					cursor:pointer;
					.transition;
					&:hover{ color:#fff;}
				}
			}
		}
	}
	aside.agenda-interna{
		.inline;
		&.amarelo{background-color:@amarelo;}
		&.cinza{
			background-color:#E6E6E6;
			padding:30px 30px 10px 30px;
			width:290px;
			img{
				display:block;
				margin:0 auto 25px auto;
			}
			a{
				padding:8px;
				min-height:44px;
				width:234px;
				display: block;
				margin:5px auto 5px auto;
				color:#808080;
				.transition;
				&.regulamento,
				&.modelo{
					.opensans(16px);
					line-height:120%;
					background:url('../_imgs/layout/icone-pdf.png') #CCC 202px 4px no-repeat;
					span{ .opensans(12px); }
					&:hover{
						background-color:@vermelho;
						color:#fff;
					}
					&.download-zip{
						background:url('../_imgs/layout/icone-download.png') #CCC 202px 4px no-repeat;
					}
				}
			}
			h1{
				height:105px;
				text-align:center;
				color:#808080;
				line-height:130%;
				margin-top:50px;
				.opensans(24px);
			}
		}
		padding:5px 5px 0 5px;
		width:340px;
		.inline;
		h2{
			margin:15px 0 10px 0;
			padding-left:8px;
			line-height:100%;
			color:#fff;
			.opensans(16px);
		}
		.lista{
			a{
				display: block;
				padding:5px 5px 30px 5px;
				background-color:#fff;
				position:relative;
				.data{
					background:url('../_imgs/layout/setinha-cinza.png') @amarelo 3px center no-repeat;
					color:#000;
					.oxygen(20px);
					padding:1px 0 1px 22px;
					margin-bottom:6px;
					.transition;
				}
				.local{
					.oxygen(16px);
					color:#666666;
					padding-left:22px;
					line-height: 120%;
					.transition;
				}
				.titulo{
					.opensans(17px);
					color:#666666;
					padding-left:22px;
					line-height: 120%;
					.transition;
				}
				.linha{
					position:absolute;
					.transition;
					bottom:10px;
					height:1px;
					left:9px;
					width: 320px;
					background-color: @amarelo;
				}
				&:active, &.visited{
					.data{color:#000;}
					.local,
					.titulo{color:#666666;}
				}
				&:hover{
					background-color:@amarelo;
					.data{background-color:#fff;}
					.local,
					.titulo{background-color:@amarelo; color:#fff;}
					.linha{background-color: #fff;}
				}
			}
		}
		a.link-voltar{
			background-color:#fff;
			display:block;
			margin-left:-5px;
			width:335px;
			padding-left:15px;
			height:30px;
			line-height:30px;
			color:#666666;
			margin-top:20px;
			.opensans(16px);
			.transition;
			&:active, &:visited{color:#666666;}
			&:hover{
				color:@vermelho;
			}
		}
	}
	&.main-eventos-index{
		h1{
			background-color: @amarelo;
			height:43px;
			line-height:43px;
			color:#fff;
			padding-left:18px;
			margin-bottom:10px;
			.opensans(25px);
		}
		ul.lista-proximos-eventos{
			font-size:0;
			margin-bottom:60px;
			li{
				.inline;
				width:230px;
				height:210px;
				margin-right:10px;
				margin-bottom:10px;
				a{
					display: block;
					background-color: @chumbo;
					color:#fff;
					padding:10px;
					width:210px;
					height:190px;
					line-height:135%;
					overflow:hidden;
					.opensans(16px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						background-color: @vermelho;
					}
				}
			}
		}
		ul.lista-ultimos-eventos{
			font-size:0;
			margin-bottom:60px;
			li{
				.inline;
				width:470px;
				height:80px;
				margin-right:10px;
				margin-bottom:10px;
				a{
					display: block;
					background-color: @chumbo;
					color:#fff;
					padding:10px;
					width:450px;
					height:60px;
					line-height:135%;
					overflow:hidden;
					.opensans(16px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						background-color: @vermelho;
					}
					img{
						height:60px;
						float:left;
						margin-right:10px;
					}
				}
			}
		}
	}
}