@import 'vars.less';

.main{
	font-size:0;
	h1{
		.opensans(26px);
		color:@chumbo;
		margin-top:15px;
	}
	.publicacoes{
		width:530px;
		margin-right:40px;
		margin-top:30px;
		min-height:183px;
		.inline;
		&.semmargem{margin-right:0;}
		&.segLin{margin-left:10px;}
		.imagem{
			background-color:#698291;
			padding:8px;
			width:167px;
			margin-right:18px;
			float:left;
			img{
				border:1px #fff solid;
			}
		}
		h2{
			color:@vermelho;
			line-height:130%;
			.opensans(26px);
		}
		p{
			margin:10px 0;
			.oxygen(13px);
			color:#6B6869;
			line-height:135%;
		}
	}
	.downloads{
		margin:20px 0 45px 0;
		padding:22px 0;
		.texto{
			float:left;
			line-height:120%;
			.oxygen(13px);
			color:#698291;
			margin-right:44px;
			width: 131px;
		}
		.publicacao{
			margin-left:20px;
			margin-bottom:20px;
			&:nth-child(6n+1){margin-left:0px;}
			.opensans(14px);
			color:@cinza;
			line-height: 115%;
			width:165px;
			.transition;
			.inline;
			img{
				.transition;
				width:165px;
				margin-bottom:4px;
			}
			&:hover{
				color:@vermelho;
				img{
					-webkit-box-shadow: 0px 0px 8px 0px #C61A1A;
					box-shadow: 0px 0px 8px 0px #C61A1A;
				}
			}
		}
	}
	ul.lista-revistas{
		.inline;
		width:230px;
		margin-top:23px;
		margin-right:55px;
		margin-bottom:63px;
		border-bottom:1px @chumbo solid;
		li{
			border-top:1px @chumbo solid;
			min-height:50px;
			line-height:50px;
			a{
				color:@chumbo;
				display:block;
				.transition;
				.opensans(16px);
				&:active, &:visited{color:@chumbo;}
				span{
					.inline;
					margin-left:8px;
				}
				.quadrado{
					width:6px;
					height:6px;
					display:block;
					margin:22px 0;
					background-color:#fff;
					.inline;
					.transition;
					&.direita{float:right;}
				}
				&:hover, &.ativo{
					color:@vermelho;
					.quadrado{background-color:@vermelho;}
				}
			}
		}
	}
	.detalhes-revistas-container{
		width:490px;
		position:relative;
		margin-top:23px;
		margin-right:30px;
		height:320px;
		.inline;
		.detalhes-revistas{
			position:absolute;
			background-color:#fff;
			left:0;
			height:320px;
			width:490px;
			overflow:hidden;
			opacity:1;
			-webkit-transition:height .4s ease-in, opacity .3s ease-in;
		    -moz-transition:height .4s ease-in, opacity .3s ease-in;
		    -o-transition:height .4s ease-in, opacity .3s ease-in;
		    transition:height .4s ease-in, opacity .3s ease-in;
			&.escondido{
				height:0;
				opacity:0;
			}
			&.hid-up{top:0;}
			&.hid-down{bottom:0;}
			.imagem{
				float:left;
				padding:8px;
				background-color: @chumbo;
				margin:0 17px 17px 0;
				img{
					border:1px #fff solid;
				}
			}
			h2{
				color:@vermelho;
				line-height:100%;
				padding:2px 0;
				.opensans(28px);
			}
			p{
				color:#6A6869;
				line-height:130%;
				margin:10px 0;
				.calibri(14px)
			}
		}
	}
	.anuncio-placeholder{
		width:280px;
		height:380px;
		overflow:hidden;
		.inline;
	}
}