.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.main {
  font-size: 0;
}
.main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #698291;
  margin-top: 15px;
}
.main .publicacoes {
  width: 530px;
  margin-right: 40px;
  margin-top: 30px;
  min-height: 183px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .publicacoes.semmargem {
  margin-right: 0;
}
.main .publicacoes.segLin {
  margin-left: 10px;
}
.main .publicacoes .imagem {
  background-color: #698291;
  padding: 8px;
  width: 167px;
  margin-right: 18px;
  float: left;
}
.main .publicacoes .imagem img {
  border: 1px #fff solid;
}
.main .publicacoes h2 {
  color: #c61a1a;
  line-height: 130%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
}
.main .publicacoes p {
  margin: 10px 0;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #6B6869;
  line-height: 135%;
}
.main .downloads {
  margin: 20px 0 45px 0;
  padding: 22px 0;
}
.main .downloads .texto {
  float: left;
  line-height: 120%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #698291;
  margin-right: 44px;
  width: 131px;
}
.main .downloads .publicacao {
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  line-height: 115%;
  width: 165px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .downloads .publicacao:nth-child(6n+1) {
  margin-left: 0px;
}
.main .downloads .publicacao img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 165px;
  margin-bottom: 4px;
}
.main .downloads .publicacao:hover {
  color: #c61a1a;
}
.main .downloads .publicacao:hover img {
  -webkit-box-shadow: 0px 0px 8px 0px #C61A1A;
  box-shadow: 0px 0px 8px 0px #C61A1A;
}
.main ul.lista-revistas {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 230px;
  margin-top: 23px;
  margin-right: 55px;
  margin-bottom: 63px;
  border-bottom: 1px #698291 solid;
}
.main ul.lista-revistas li {
  border-top: 1px #698291 solid;
  min-height: 50px;
  line-height: 50px;
}
.main ul.lista-revistas li a {
  color: #698291;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.main ul.lista-revistas li a:active,
.main ul.lista-revistas li a:visited {
  color: #698291;
}
.main ul.lista-revistas li a span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 8px;
}
.main ul.lista-revistas li a .quadrado {
  width: 6px;
  height: 6px;
  display: block;
  margin: 22px 0;
  background-color: #fff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main ul.lista-revistas li a .quadrado.direita {
  float: right;
}
.main ul.lista-revistas li a:hover,
.main ul.lista-revistas li a.ativo {
  color: #c61a1a;
}
.main ul.lista-revistas li a:hover .quadrado,
.main ul.lista-revistas li a.ativo .quadrado {
  background-color: #c61a1a;
}
.main .detalhes-revistas-container {
  width: 490px;
  position: relative;
  margin-top: 23px;
  margin-right: 30px;
  height: 320px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .detalhes-revistas-container .detalhes-revistas {
  position: absolute;
  background-color: #fff;
  left: 0;
  height: 320px;
  width: 490px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: height 0.4s ease-in, opacity 0.3s ease-in;
  -moz-transition: height 0.4s ease-in, opacity 0.3s ease-in;
  -o-transition: height 0.4s ease-in, opacity 0.3s ease-in;
  transition: height 0.4s ease-in, opacity 0.3s ease-in;
}
.main .detalhes-revistas-container .detalhes-revistas.escondido {
  height: 0;
  opacity: 0;
}
.main .detalhes-revistas-container .detalhes-revistas.hid-up {
  top: 0;
}
.main .detalhes-revistas-container .detalhes-revistas.hid-down {
  bottom: 0;
}
.main .detalhes-revistas-container .detalhes-revistas .imagem {
  float: left;
  padding: 8px;
  background-color: #698291;
  margin: 0 17px 17px 0;
}
.main .detalhes-revistas-container .detalhes-revistas .imagem img {
  border: 1px #fff solid;
}
.main .detalhes-revistas-container .detalhes-revistas h2 {
  color: #c61a1a;
  line-height: 100%;
  padding: 2px 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
}
.main .detalhes-revistas-container .detalhes-revistas p {
  color: #6A6869;
  line-height: 130%;
  margin: 10px 0;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .anuncio-placeholder {
  width: 280px;
  height: 380px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
