.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html body .main {
  font-size: 14px !important;
}
html body .main .banner {
  padding: 50px 65px 0 412px;
  height: 245px;
  margin-bottom: 30px;
  background-color: #E6E6E6;
  background-position: -170px center;
  background-repeat: no-repeat;
}
html body .main .banner h1 {
  color: #808080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 10px;
}
html body .main .banner h2 {
  color: #808080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  margin-bottom: 20px;
}
html body .main .banner h3 {
  color: #808080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}
html body .main .banner a {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .banner a:active,
html body .main .banner a:visited {
  color: #000;
}
html body .main .banner a:hover {
  color: #c61a1a;
}
html body .main h1 {
  color: #808080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px;
}
html body .main table#lista-setores {
  width: 100%;
  border-collapse: collapse;
}
html body .main table#lista-setores thead tr {
  border-bottom: 8px #fff solid;
}
html body .main table#lista-setores thead tr td {
  text-indent: 15px;
  height: 37px;
  line-height: 37px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #808080;
}
html body .main table#lista-setores tbody tr {
  border-bottom: 8px #fff solid;
}
html body .main table#lista-setores tbody tr td {
  height: 37px;
  line-height: 37px;
}
html body .main table#lista-setores tbody tr td.cinza {
  text-indent: 15px;
  background-color: #698291;
  color: #fff;
  border-right: 8px #fff solid;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
html body .main table#lista-setores tbody tr td.vermelho {
  border-right: 8px #fff solid;
}
html body .main table#lista-setores tbody tr td.vermelho a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #C61A1A;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main table#lista-setores tbody tr td.vermelho a:active,
html body .main table#lista-setores tbody tr td.vermelho a:visited {
  color: #fff;
}
html body .main table#lista-setores tbody tr td.vermelho a:hover {
  color: #ffcc00;
}
html body .main table#lista-setores tbody tr td.escuro {
  border-right: 8px #fff solid;
}
html body .main table#lista-setores tbody tr td.escuro a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #691E1E;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main table#lista-setores tbody tr td.escuro a:active,
html body .main table#lista-setores tbody tr td.escuro a:visited {
  color: #fff;
}
html body .main table#lista-setores tbody tr td.escuro a:hover {
  color: #ffcc00;
}
html body .main .banner-baixo {
  height: 90px;
  background-color: #E6E6E6;
}
html body .main .banner-baixo h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  height: 90px;
  line-height: 90px;
  width: 505px;
  text-align: right;
  padding-right: 40px;
  background-color: #E6E6E6;
  background-position: 20px center;
  background-repeat: no-repeat;
  float: left;
}
html body .main .banner-baixo .vermelho {
  background-color: #c61a1a;
  width: 537px;
  float: left;
  height: 90px;
  padding-left: 18px;
}
html body .main .banner-baixo .vermelho .categoria {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-top: 15px;
  color: #691E1E;
  line-height: 120%;
}
html body .main .banner-baixo .vermelho .setor {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 37px;
  font-weight: normal;
  color: #fff;
  line-height: 120%;
}
html body .main .login-box {
  display: block;
  clear: both;
  margin: 30px 0;
  padding: 55px 0;
  background-color: #c61a1a;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
html body .main .login-box span {
  font-size: 40px;
}
html body .main .login-box form {
  margin: 70px auto 0 auto;
  width: 513px;
  font-size: 18px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .login-box form.aberto {
  height: 135px;
}
html body .main .login-box form input[type="email"] {
  margin: 4px 0;
  padding: 6px 0;
  text-align: center;
  width: 513px;
  border: 0;
  background: #fff;
  height: 38px;
  line-height: 38px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #808080;
}
html body .main .login-box form input[type="submit"] {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 513px;
  border: 0;
  background: #691E1E;
  color: #c61a1a;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .login-box form input[type="submit"]:hover {
  color: #ffcc00;
}
html body .main .login-box .msg-box {
  width: 900px;
  margin: 0 auto;
  background: #691E1E;
  padding: 0;
  height: 0;
  overflow: hidden;
}
html body .main .login-box .msg-box.aberto {
  padding: 40px 20px 20px 20px;
  height: 121px;
}
html body .main .login-box .msg-box span {
  display: block;
}
html body .main .login-box .msg-box span.grd {
  line-height: 160%;
  font-size: 22px;
}
html body .main .login-box .msg-box span.med {
  font-size: 18px;
  line-height: 140%;
}
html body .main .login-box .msg-box span.peq {
  font-size: 14px;
  line-height: 130%;
}
html body .main .login-box .msg-box span.peq.mrg {
  margin-top: 25px;
}
html body .main .login-box .msg-box span.peq a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .login-box .msg-box span.peq a:active,
html body .main .login-box .msg-box span.peq a:visited {
  color: #fff;
}
html body .main .login-box .msg-box span.peq a:hover {
  color: #ffcc00;
}
html body .main .login-box .msg-box a.btn-voltar {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .login-box .msg-box a.btn-voltar:active,
html body .main .login-box .msg-box a.btn-voltar:visited {
  color: #fff;
}
html body .main .login-box .msg-box a.btn-voltar:hover {
  color: #ffcc00;
}
html body .main .submenu {
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 15px;
}
html body .main .submenu a {
  border: 1px #c61a1a solid;
  margin: 0 3px;
  padding: 0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .submenu a:active,
html body .main .submenu a:visited {
  color: #000;
}
html body .main .submenu a:hover,
html body .main .submenu a.ativo {
  background-color: #c61a1a;
  color: #fff;
}
html body .main #contador-visitantes,
html body .main #contador {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  display: block;
  clear: both;
  text-align: center;
}
html body .main #contador-visitantes.sem-projetos,
html body .main #contador.sem-projetos {
  height: 400px;
}
html body .main #contador-visitantes a,
html body .main #contador a {
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #contador-visitantes a:active,
html body .main #contador a:active,
html body .main #contador-visitantes a:visited,
html body .main #contador a:visited {
  color: #000;
}
html body .main #contador-visitantes a:hover,
html body .main #contador a:hover {
  color: #c61a1a;
}
html body .main .projeto {
  display: block;
  margin-top: 30px;
  border: 1px #c61a1a solid;
  width: 1098px;
  min-height: 636px;
  font-size: 0;
  background: #c61a1a;
}
html body .main .projeto.animado {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .projeto.begone {
  height: 0;
  min-height: 0;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  padding: 0;
  border: 0;
}
html body .main .projeto.begone .descricao_obra {
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  border: 0;
}
html body .main .projeto .prancha {
  width: 905px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .projeto .prancha img {
  max-width: 905px;
  max-height: 640px;
}
html body .main .projeto .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 159px;
  padding: 23px 17px 0 17px;
}
html body .main .projeto .coluna .cod {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #691E1E;
}
html body .main .projeto .coluna .detalhes {
  padding: 15px 0;
  color: #fff;
  line-height: 150%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main .projeto .coluna .detalhes strong {
  font-weight: bold;
}
html body .main .projeto .coluna .notas {
  margin-top: 85px;
}
html body .main .projeto .coluna .notas span {
  color: #fff;
  line-height: 120%;
  display: block;
  margin-bottom: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .projeto .coluna .notas .botoes a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  behavior: url('PIE.htc');
  width: 29px;
  height: 53px;
  background-color: #c61a1a;
  margin-right: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .projeto .coluna .notas .botoes a img {
  width: 29px;
}
html body .main .projeto .coluna .notas .botoes a.lit {
  background-color: #ffcc00;
}
html body .main .projeto .coluna .notas .botoes a.lit-selecionado {
  background-color: #ffcc00;
}
html body .main .projeto .coluna .notas .botoes a:last-child {
  margin-right: 0;
}
html body .main .projeto .coluna .notas .enviar {
  margin-top: 35px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .projeto .coluna .notas .enviar a {
  display: block;
  background-color: #698291;
  color: #fff;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .projeto .coluna .notas .enviar a:active,
html body .main .projeto .coluna .notas .enviar a:visited {
  color: #fff;
}
html body .main .projeto .coluna .notas .enviar a:hover {
  color: #ffcc00;
}
html body .main .projeto .coluna .notas .enviar .data {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  behavior: url('PIE.htc');
  padding-top: 10px;
  display: block;
  background-color: #698291;
  color: #fff;
  height: 38px;
  line-height: 135%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main .projeto .descricao_obra {
  clear: both;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  width: 1078px;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
  padding: 10px;
}
html body .main .paginacao {
  margin: 40px 0;
  height: 50px;
  line-height: 50px;
  position: relative;
}
html body .main .paginacao a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 14px;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .paginacao a:active,
html body .main .paginacao a:visited {
  color: #698291;
}
html body .main .paginacao a:hover {
  color: #c61a1a;
}
html body .main .paginacao strong {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 14px;
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .paginacao a.vermais {
  height: 50px;
  line-height: 50px;
  width: 160px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #698291;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .paginacao a.vermais:active,
html body .main .paginacao a.vermais:visited {
  color: #fff;
}
html body .main .paginacao a.vermais:hover {
  color: #c61a1a;
}
