@import 'vars.less';

@verde:#99CC33;

html{
	body{
		header{
			margin:50px 0 20px 0;
			background-color:@verde;
			height:60px;
			.faixa-vermelha{
				background-color:@vermelho;
				height:60px;
				width:250px;
				float:left;
				margin-left:-9999px;
				padding-left:9999px;
				margin-right:35px;
				img{
					margin:12px 12px 0 0;
					float:right;
				}
			}
			h1{
				color:#FFF;
				.oxygen(24px);
				line-height:60px;
			}
		}
		.main{
			.centralizar;
			p{
				&.simples{ .oxygen(16px); }
				&.margem-t5{  margin-top:5px; }
				&.margem-t10{ margin-top:10px; }
				&.margem-t15{ margin-top:15px; }
				&.margem-t20{ margin-top:20px; }
				&.margem-t120{ margin-top:120px; }
				&.margem-r5{  margin-right:5px; }
				&.margem-r10{ margin-right:10px; }
				&.margem-r15{ margin-right:15px; }
				&.margem-r20{ margin-right:20px; }
				&.margem-b5{  margin-bottom:5px; }
				&.margem-b10{ margin-bottom:10px; }
				&.margem-b15{ margin-bottom:15px; }
				&.margem-b20{ margin-bottom:20px; }
				&.margem-b220{ margin-bottom:220px; }
				&.margem-l5{  margin-left:5px; }
				&.margem-l10{ margin-left:10px; }
				&.margem-l15{ margin-left:15px; }
				&.margem-l20{ margin-left:20px; }
				a{
					color:#000;
					.transition;
					&:active, &:visited{ color:#000;}
					&:hover{ color:@vermelho; }
				}
			}
			.menu-inicio{
				margin:15px 0;
				a{
					.inline;
					height:34px;
					line-height:34px;
					background-color:@chumbo;
					color:#fff;
					.opensans(22px);
					text-align:center;padding:2px 60px;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover, &.ativo{ background-color:@vermelho; }
				}
			}
			h1.titulo-pedidos{
				height:40px;
				form{
					float:right;
					background-color:@chumbo;
					height:40px;
					padding:0 0 0 25px;
					position:relative;
					label{
						.inline;
						height:40px;
						line-height:40px;
						color:#fff;
						.opensans(26px);
					}
					input[type="text"]{
						.inline;
						height:30px;
						line-height:30px;
						background:#fff;
						border:0;
						width:215px;
						padding:4px 30px 4px 10px;
						.oxygen(16px);
						color:@chumbo;
						margin:1px 1px 1px 15px;						
					}
					input[type="submit"]{
						width:23px;
						height:23px;
						line-height:23px;
						background:@chumbo;
						padding:0;
						color:#fff;
						text-align:center;
						.opensans(14px);
						position:absolute;
						right:10px;
						top:8px;
						&:hover{
							background:@vermelho;
						}
					}
				}
			}
			table.tabela-pedidos{
				border-collapse: collapse;
				width:100%;
				tr{
					.transition;
					td{
						.transition;
						&:nth-child(1){ width:9%; }
						&:nth-child(2){ width:34%; }
						&:nth-child(3){ width:34%; }
						&:nth-child(4){ width:23%; }
						.tab-pad{ padding:10px;}
						border:1px #EEF1F3 solid;
						.oxygen(16px);
						color:#383536;
						a{
							float:right;
							width:24px;
							height:24px;
							line-height:22px;
							padding:0;
							margin:0 0 0 0;
							background:@vermelho;
							color:#fff;
							display:block;
							text-align:center;
							.opensans(16px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								background:@chumbo;
							}
						}
					}
				}
				&.clicavel{
					tr{
						cursor:pointer;
						&:hover{
							td{
								border-color:#E0E5E9;
								background-color:#E0E5E9;
							}
						}
					}
				}
			}
			h2{
				.opensans(16px);
				color:@chumbo;
			}
			#banner-topo{
				background-color:@chumbo;
				height:113px;
				overflow:hidden;
				img{
					float:left;
					margin-right:17px;
				}
				h2{
					padding-top:20px;
					text-align:center;
					color:#FFF;
					.opensans(24px);
				}
			}
			#login-box{
				width:@largura;
				text-align:center;
				.oxygen(14px);
				margin:45px auto 120px auto;
				.forms-container{
					padding:25px 50px;
					margin:10px auto;
					width:460px;
					background-color: @chumbo;
					overflow:hidden;
					form{
						width:460px;
						label{
							.opensans(16px);
							color:#fff;
							margin:10px 0;
							display:block;
							input[type="text"],
							input[type="password"]{
								width:440px;
								padding:3px 10px;
								margin:0;
								text-align:center;
								border:0;
								height:24px;
								line-height:24px;
								.oxygen(16px);
							}
						}
						input[type="submit"]{
							background:@vermelho;
							color:#fff;
							text-align:center;
							border:0;
							cursor:pointer;
							display:block;
							width:460px;
							height:58px;
							line-height:58px;
							.opensans(34px);
							.transition;
							&:hover{ color:@amarelo;}
						}
						#esqueci-senha{
							.oxygen(12px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{ color:@amarelo; }
						}
					}
				}
			}
			hr{
				height:1px;
				border:0;
				background-color:@chumbo;
				margin:26px 0;
			}
			.saudacoes{
				color:@vermelho;
				.oxygen(16px, bold);
				a{
					color:@vermelho;
					.oxygen(16px, bold);
					.transition;
					&:active, &:visited{color:@vermelho;}
					&:hover{color:@chumbo;}
				}
			}
			h1{
				.opensans(24px);
				color:@chumbo;
				margin-bottom:15px;
			}
			form{
				position:relative;
				font-size:0;
				.coluna-esquerda{
					.inline;
					margin-right:28px;
					label{
						margin-bottom:5px;
						text-align:right;
						display:block;
						width:732px;
						.oxygen(14px);
						&.espacador{
							margin-top:35px;
						}
						input[type="text"],
						input[type="email"],
						input[type="password"]{
							width:545px;
							height:20px;
							line-height:20px;
							margin:0;
							border:0;
							padding:3px 5px;
							background-color:#E0E5E9;
							&.w50{width:50px;margin-right:495px;}
							&.w100{width:100px;margin-right:445px;}
							&.w274{width:274px;margin-right:271px;}
						}
						textarea{
							width:535px;
							padding:4px 10px;
							resize:none;
							overflow:auto;
							border:0;
							height:142px;
							background-color:#E0E5E9;
							vertical-align: top;
						}
					}
				}
				.coluna-direita{
					.inline;
					// position:absolute;
					// right:0;
					// top:0;
					width:340px;
					.caixa-cinza{
						width:300px;
						padding:17px 20px;
						background-color:#E0E5E9;
						margin-bottom:10px;
						.oxygen(15px);
						color:#373435;
						line-height:120%;
						img{
							max-width:300px;
							margin:5px auto;
							display:block;
						}
						ul{
							list-style:none;
							li{margin:10px 0; font-size:13px;}
						}
						p{
							font-size:11px;
							line-height: 110%;
							margin:3px 0;
							&.menor{font-size:10px;}
							#caracteres-faltam{ .oxygen(11px, bold); }
						}
						textarea{
							width:280px;
							padding:4px 10px;
							resize:none;
							overflow:auto;
							border:0;
							margin:10px 0;
							height:142px;
						}
					}
				}
				#input-keyword{
					height:30px;
					line-height:30px;
					padding:10px;
					width:430px;
					border:0;
					background-color:#E0E5E9;
					.oxygen(16px);
					.inline;
				}
				#salvar-keyword{
					.opensans(16px);
					.inline;
					.transition;
					height: 50px;
					line-height: 50px;
					width:195px;
					text-align:center;
					border:0;
					background-color:@chumbo;
					color:#fff;
					cursor: pointer;
					&:hover{color:@amarelo;}
				}
				#listar-keyword{
					list-style:none;
					font-size:0;
					margin:40px 0;
					li{
						.inline;
						width:32%;
						border:1px @chumbo solid;
						background-color:#fff;
						height:36px;
						line-height:36px;
						text-indent: 10px;
						.oxygen(16px);
						color:#000;
						.transition;
						&:hover{
							background-color:#698291;
  							color:#fff;
						}
						a{
							text-indent:0;
							float:right;
							margin:8px 10px 0 0;
							background:@vermelho;
							color:#fff;
							text-align:center;
							width:20px;
							height:20px;
							line-height:18px;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{}
						}
					}
				}
				#edit-img-preview{
					padding-left:200px;
				}
				.linha{
					color:@chumbo;
					.opensans(16px);
					display:block;
					clear:both;
					height:50px;
					line-height:50px;
					overflow: hidden;
					span{float:left;}
					&.alterar{display:none;}
					#fake-label{
						float:left;
						margin:5px 0 0 80px;
						height:40px;
						text-align:center;
						line-height:40px;
						width:880px;
						#input-imagem{
							float:left;
							width:200px;
						}
						span{float:none;}
						object{
							height:40px;
							width:200px;
						}
						.uploadify-button{
							height:40px;
							line-height:40px;
							width:200px;
						}
						#input-imagem-queue{
							float:left;
							margin:0 0 0 10px;
							width:500px;
							.uploadify-queue-item{
								margin:0;
								height:40px;
								padding:0 10px;
							}
						}
					}
					input{
						float:right;
						height:20px;
						line-height:20px;
						padding:10px 10px;
						margin-top:5px;
						border:0;
						background-color:#E0E5E9;
						color:#000;
						.oxygen(16px);
						width:880px;
					}
					a#keyword-save,
					a#keyword-edit,
					a#keyword-cancel{
						color:#fff;
						&:active, &:visited{color:#fff;}
						&:hover{color:@vermelho;}
						background-color:@chumbo;
						width:120px;
						height:40px;
						line-height:40px;
						text-align:center;
						.inline;
						margin:5px 0 0 200px;
						.transition;
					}
					a#keyword-cancel{margin-left:10px;}
				}
				#listar-imagens{
					list-style:none;
					font-size:0;
					margin:55px 0 40px 0;
					li{
						.inline;
						width:32%;
						border:1px @chumbo solid;
						background-color:#fff;
						text-indent: 10px;
						.oxygen(16px);
						color:#000;
						height:120px;
						overflow:hidden;
						img{
							float:left;
							margin-top:10px;
							margin-left:10px;
							max-height:100px;
							max-width: 150px;
						}
						p{
							float:left;
							margin-left:10px;
							width:145px;
							height:100px;
							overflow:hidden;
							margin-top:10px;
							line-height:110%;
							font-size:12px;
							text-indent:0;
						}
						a{
							text-indent:0;
							float:right;
							margin:8px 10px 0 0;
							color:#fff;
							text-align:center;
							width:20px;
							height:20px;
							line-height:18px;
							text-decoration: none;
							text-indent: -9999px;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{text-decoration: none;}
							&.excluir-imagem{
								background:url('painel/img/glyphicons-halflings-white.png') @vermelho -309px 3px no-repeat;
								&:hover{
									background:url('painel/img/glyphicons-halflings.png') @vermelho -309px 3px no-repeat;
								}
							}
							&.alterar-imagem{
								background:url('painel/img/glyphicons-halflings-white.png') @vermelho 3px -69px no-repeat;
								&:hover{
									background:url('painel/img/glyphicons-halflings.png') @vermelho 3px -69px no-repeat;
								}
							}
						}
					}
				}
				#fake-label{
					margin:15px 0 5px 0;
					height:50px;
					width:300px;
					display:block;
					position:relative;
					#fake-file{
						background-color: @chumbo;
						position:absolute;
						top:0;
						left:0;
						width:270px;
						padding:0 15px;
						overflow: hidden;
						text-overflow: ellipsis;
						height:50px;
						line-height:50px;
						text-align:center;
						z-index:9;
						color:#fff;
						cursor:pointer;
						.opensans(16px);
						.transition;
						&:hover{color:@vermelho;}
					}
					input[type="file"]{
						position:absolute;
						top:0;
						left:0;
						width:300px;
						height:50px;
						z-index:2;
					}
					#input-imagem, .swfupload{
						height:50px;
						line-height:50px;
						display:block;
					}
				}
				input[type="submit"]{
					display:block;
					border:0;
					margin:0;
					padding:0;
					.opensans(24px);
					color:#fff;
					background-color: @vermelho;
					text-align: center;
					height:50px;
					line-height:50px;
					width:400px;
					cursor:pointer;
					.transition;
					&:hover{ color:@amarelo; }
					&.final{
						height:60px;
						line-height:60px;
						margin:80px auto 0 auto;
						font-size:42px;
					}
				}
			}
			.alerta{
				padding:10px;
				display:block;
				.arredondada(3px);
				.oxygen(16px);
				text-align:center;
				&.alerta-sucesso{
					background-color: #dff0d8;
					border-color: #d6e9c6;
					color: #468847;
				}
				&.alerta-erro{
					background-color: #f2dede;
					border-color: #eed3d7;
					color: #b94a48;
				}
			}
			.historico-pedidos{
				margin-top:-16px;
				min-height:500px;
				nav{
					margin-bottom:15px;
					ul{
						list-style:none;
						li{
							.inline;
							a{
								display:block;
								width:180px;
								color:@chumbo;
								.opensans(25px);
								.transition;
								&:active, &:visited{color:@chumbo;}
								&:hover, &.ativo{color:@vermelho;}
							}
						}
					}
				}
				#box-filtros{
					background: #E0E5E9;
					padding:18px 7px;
					margin-bottom:40px;
					.coluna{
						.inline;
						width:33%;
						h2{
							.inline;
							color:@chumbo;
							.opensans(18px);
							padding-right:5px;
						}
						h3{
							display:block;
							color:#000;
							.oxygen(10px);
						}
						form{
							.inline;
							max-width:50%;
							margin-bottom:4px;
							input[type="text"]{
								.inline;
								width:26px;
								height:18px;
								padding:4px 0;
								text-align:center;
								margin-right:5px;
								border:0;
								background:#fff;
								.opensans(12px);
								.placeholder(@chumbo);
								color:@chumbo;
								&.lg{
									width:140px;
									text-align:left;
									text-indent:7px;
								}
							}
							input[type="submit"]{
								.inline;
								width:26px;
								height:26px;
								line-height:28px;
								text-align:center;
								border:0;
								background-color:@chumbo;
								.opensans(12px);
								.transition;
								&:hover{background-color:@vermelho;color:#fff;}
							}
						}
						a#download-planilha{
							.transition;
							display:block;
							height:50px;
							line-height:50px;
							width:300px;
							text-align:center;
							background:@chumbo;
							color:#fff;
							.opensans(14px);
							&:active, &:visited{color:#fff;}
							&:hover{
								background-color:@vermelho;
							}
						}
					}
				}
				.paginacao{
					text-align:center;
					padding-top:15px;
					font-size:0;
					li{
						.inline;
						width:22px;
						height:22px;
						margin:0 3px;
						a{
							display:block;
							width:22px;
							height:22px;
							text-align:center;
							background-color:@chumbo;
							color:#fff;
							.opensans(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{background-color:@vermelho;}
						}
						b{
							display:block;
							width:22px;
							height:22px;
							text-align:center;
							background-color:@vermelho;
							color:#fff;
							.opensans(14px);							
						}
					}
				}
			}
		}
		.ui-autocomplete{
			width:445px;
			background-color:#E0E5E9;
			list-style:none;
			.arredondada(0 0 3px 3px);
			li{
				a{
					padding:2px 0 2px 10px;
					font-size:12px;
					background-color:#E0E5E9 !important;
					border:none !important;
					color: #698291 !important;
					&:active, &:visited{color: #698291 !important;}
					&:hover{
						color:#000;
						background-color:#E0E5E9 !important;
						border:none !important;
					}
				}
			}
		}
		footer{
			background-color: @chumbo;
			padding-top:22px;
			height:90px;
			margin-top:50px;
			border-top:3px #FFF solid;
			position:relative;
			&:before{
				content:"";
				display:block;
				position:relative;
				left:0;
				top:-24px;
				width:100%;
				height:1px;
				background-color:@chumbo;
			}
			.contato{
				width:125px;
				float:left;
				.oxygen(11px);
				color:#fff;
				line-height:140%;
				h3{
					border-bottom:1px #fff solid;
					margin-bottom:4px;
				}
			}
			.assinatura{
				float:right;
				width:260px;
				.oxygen(11px);
				color:#fff;
				a{
					display: block;
					margin-top:4px;
					color:#fff;
					span{
						.transition;
						border-bottom:1px transparent dotted;
					}
					img{ vertical-align:-4px; margin-left:5px; }
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						span{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
		#solicitacao-modal{
			width:920px;
			min-height:440px;
			padding:40px;
			background-color:#FFFFFF;
			h2{
				.opensans(20px);
				color:@chumbo;
				margin-bottom:30px;
			}
			.linha{
				.celula{
					margin-bottom:4px;
					.oxygen(15px);
					.inline;
					&:first-child{
						color:@vermelho;
						width:150px;
						text-align: right;
					}
					&:last-child{
						max-width: 750px;
						padding-left:10px;
						a{
							display:block;
							padding:10px 40px;
							margin:20px 0;
							border:1px @chumbo solid;
							color:@chumbo;
							.opensans(18px);
							.transition;
							&:hover{
								background-color:@vermelho;
								color:#fff;
							}
						}
					}
				}
			}
			form{
				margin-top:40px;
				background-color:@chumbo;
				padding:1px;
				height:40px;
				line-height:40px;
				position:relative;
				width:635px;
				label{
					height:40px;
					flaot:left;
					padding:0 35px;
					color:#fff;
					.opensans(25px);
				}
				input[type="text"]{
					.inline;
					border:0;
					background:#fff;
					height:38px;
					line-height:38px;
					width:220px;
					color:#000;
					text-indent:10px;
					padding-right: 30px;
					.oxygen(16px);
				}
				input[type="submit"]{
					height:20px;
					line-height:20px;
					width:20px;
					padding:0;
					margin:0;
					border:0;
					display:block;
					text-align:center;
					position:absolute;
					right:10px;
					top:10px;
					background:@chumbo;
					cursor:pointer;
					color:#fff; 
					.opensans(14px);
					.transition;
					&:hover{
						background-color:@vermelho;
					}
				}
			}
		}
	}
}