@import 'vars.less';

html{
	body{
		.main{
			font-size:14px !important;
			.banner{
				padding:50px 65px 0 412px;
				height:245px;
				margin-bottom:30px;
				//background-image:url('../_imgs/eventos/marca-xgrandepremio.jpg');
				background-color:#E6E6E6;
				background-position:-170px center;
				background-repeat:no-repeat;
				h1{
					color:#808080;
					.opensans(40px);
					margin-bottom:10px;
				}
				h2{
					color:#808080;
					.opensans(20px);
					line-height:140%;
					margin-bottom:20px;
				}
				h3{
					color:#808080;
					.opensans(16px);
					line-height:140%;
				}
				a{
					color:#000;
					.opensans(16px);
					.transition;
					&:active, &:visited{color:#000;}
					&:hover{color:@vermelho;}
				}
			}
			h1{
				color:#808080;
				.opensans(26px);
				margin-bottom:20px;
			}
			table#lista-setores{
				width:100%;
				border-collapse: collapse;
				thead{
					tr{
						border-bottom:8px #fff solid;
						td{
							text-indent: 15px;
							height:37px;
							line-height:37px;
							.opensans(22px);
							color:#808080;
						}
					}
				}
				tbody{
					tr{
						border-bottom:8px #fff solid;
						td{
							height:37px;
							line-height:37px;
							&.cinza{
								text-indent: 15px;
								background-color:#698291;
								color:#fff;
								border-right:8px #fff solid;
								.opensans(20px);
							}
							&.vermelho{
								border-right:8px #fff solid;
								a{
									.opensans(20px);
									display:block;
									text-align:center;
									color:#fff;
									background-color:#C61A1A;
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{color:@amarelo;}
								}
							}
							&.escuro{
								border-right:8px #fff solid;
								a{
									.opensans(20px);
									display:block;
									text-align:center;
									color:#fff;
									background-color:#691E1E;
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{color:@amarelo;}
								}
							}
						}
					}
				}
			}
			.banner-baixo{
				height:90px;
				background-color:#E6E6E6;
				h1{
					.opensans(40px);
					height:90px;
					line-height:90px;
					width:505px;
					text-align:right;
					padding-right: 40px;
					//background-image:url('../_imgs/eventos/marca_peq-xgrandepremio.png');
					background-color:#E6E6E6;
					background-position:20px center;
					background-repeat:no-repeat;
					float:left;
				}
				.vermelho{
					background-color:@vermelho;
					width:537px;
					float:left;
					height:90px;
					padding-left:18px;
					.categoria{
						.inline;
						.opensans(18px);
						padding-top:15px;
						color:#691E1E;
						line-height:120%;
					}
					.setor{
						display:block;
						.opensans(37px);
						color:#fff;
						line-height:120%;
					}
				}
			}
			.login-box{
				display: block;
				clear:both;
				margin:30px 0;
				padding:55px 0;
				background-color: @vermelho;
				text-align: center;
				color:#fff;
				.opensans(30px);
				span{font-size:40px;}
				form{
					margin:70px auto 0 auto;
					width:513px;
					font-size:18px;
					height:0;
					overflow:hidden;
					&.aberto{
						height:135px;
					}
					.transition;
					input[type="email"]{
						margin:4px 0;
						padding:6px 0;
						text-align:center;
						width:513px;
						border:0;
						background:#fff;
						height:38px;
						line-height:38px;
						.opensans(25px);
						color:#808080;
					}
					input[type="submit"]{
						margin:0;
						padding:0;
						text-align:center;
						width:513px;
						border:0;
						background:#691E1E;
						color:@vermelho;
						height:50px;
						line-height:50px;
						cursor:pointer;
						.opensans(35px);
						.transition;
						&:hover{
							color:@amarelo;
						}
					}
				}
				.msg-box{
					width:900px;
					margin:0 auto;
					background:#691E1E;
					padding:0;
					overflow:hidden;
					height:0;
					overflow:hidden;
					&.aberto{
						padding:40px 20px 20px 20px;
						height:121px;
					}
					span{
						display:block;
						&.grd{
							line-height:160%;
							font-size:22px;
						}
						&.med{font-size:18px;line-height:140%;}
						&.peq{
							font-size:14px;
							line-height:130%;
							&.mrg{margin-top:25px;}
							a{
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@amarelo;}
							}
						}
					}
					a.btn-voltar{
						margin-top:20px;
						font-size:12px;
						color:#fff;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@amarelo;}
					}
				}
			}
			.submenu{
				display:block;
				clear:both;
				text-align:center;
				margin-bottom:15px;
				a{
					border:1px @vermelho solid;
					margin:0 3px;
					padding:0 10px;
					.opensans(16px);
					color:#000;
					background-color:#fff;
					.inline;
					.transition;
					&:active, &:visited{color:#000;}
					&:hover, &.ativo{
						background-color:@vermelho;
						color:#fff;
					}
				}
			}
			#contador-visitantes, #contador{
				.opensans(22px, bold);
				color:#000;
				display:block;
				clear:both;
				text-align:center;
				&.sem-projetos{height:400px;}
				a{
					color:#000;
					.transition;
					&:active, &:visited{color:#000;}
					&:hover{color:@vermelho;}
				}
			}
			.projeto{
				display:block;
				margin-top:30px;
				border:1px @vermelho solid;
				width:1098px;
				min-height:636px;
				font-size: 0;
				background:@vermelho;
				&.animado{
					.transition(all, .3s, ease-in);
				}
				&.begone{
					height:0;
					min-height:0;
					overflow:hidden;
					margin:0;
					opacity:0;
					padding:0;
					border:0;
					.descricao_obra{
						height:0;
						overflow:hidden;
						opacity:0;
						padding:0;
						border:0;
					}
				}
				.prancha{
					width:905px;
					.inline;
					img{
						max-width:905px;
						max-height:640px;
					}
				}
				.coluna{
					.inline;
					width:159px;
					padding:23px 17px 0 17px;
					.cod{
						.opensans(18px);
						color:#691E1E;
					}
					.detalhes{
						padding:15px 0;
						color:#fff;
						line-height: 150%;
						.oxygen(12px);
						strong{font-weight: bold;}
					}
					.notas{
						margin-top:85px;
						span{
							color:#fff;
							line-height:120%;
							display:block;
							margin-bottom:15px;
							.opensans(16px);
						}
						.botoes{
							a{
								img{width:29px;}
								.arredondada(10px);
								width:29px;
								height:53px;
								background-color: @vermelho;
								margin-right:3px;
								.inline;
								.transition;
								&:active, &:visited{}
								&.lit{background-color:@amarelo;}
								&.lit-selecionado{background-color:@amarelo;}
								&:last-child{margin-right: 0;}
							}
						}
						.enviar{
							margin-top:35px;
							.transition;
							a{
								display:block;
								background-color:#698291;
								color:#fff;
								height:48px;
								line-height:48px;
								text-align:center;
								.opensans(28px);
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@amarelo;}
							}
							.data{
								.arredondada(2px);
								padding-top:10px;
								display:block;
								background-color:#698291;
								color:#fff;
								height:38px;
								line-height:135%;
								text-align:center;
								.opensans(12px);
							}
						}
					}
				}
				.descricao_obra{
					clear:both;
					.transition;
					display:block;
					width:1078px;
					color:#fff;
					.calibri(14px);
					line-height:130%;
					padding:10px;
				}
			}
			.paginacao{
				margin:40px 0;
				height:50px;
				line-height:50px;
				position:relative;
				a{
					.inline;
					width:14px;
					color:#698291;
					.opensans(14px);
					.transition;
					&:active, &:visited{color:#698291;}
					&:hover{color:@vermelho;}
				}
				strong{
					.inline;
					width:14px;
					color:@vermelho;
					.opensans(14px);
				}
				a.vermais{
					height:50px;
					line-height:50px;
					width:160px;
					text-align: center;
					position:absolute;
					top:0;
					right:0;
					background:@chumbo;
					color:#fff;
					.opensans(20px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@vermelho;}
				}
			}
		}
	}
}