.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html body header {
  margin: 50px 0 20px 0;
  background-color: #698291;
  height: 60px;
}
html body header .faixa-vermelha {
  background-color: #c61a1a;
  height: 60px;
  width: 250px;
  float: left;
  margin-left: -9999px;
  padding-left: 9999px;
  margin-right: 35px;
}
html body header .faixa-vermelha img {
  margin: 12px 12px 0 0;
  float: right;
}
html body header h1 {
  color: #FFF;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 60px;
}
html body .main {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
html body .main #banner-topo {
  background-color: #698291;
  height: 113px;
  overflow: hidden;
}
html body .main #banner-topo img {
  float: left;
  margin-right: 17px;
}
html body .main #banner-topo h2 {
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 113px;
}
html body .main #banner-topo.empresas {
  background: #374F5E;
}
html body .main p.aviso-entrada {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  margin: 5px 0;
}
html body .main p.aviso-entrada a.seleciona-paginas {
  margin-left: 5px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 19px;
  font-weight: bold;
  background-color: #E0E5E9;
  color: #373435;
  padding: 0 15px;
  height: 24px;
  line-height: 24px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main p.aviso-entrada a.seleciona-paginas:active,
html body .main p.aviso-entrada a.seleciona-paginas:visited {
  color: #373435;
}
html body .main p.aviso-entrada a.seleciona-paginas.ativo,
html body .main p.aviso-entrada a.seleciona-paginas:hover {
  background-color: #c61a1a;
  color: #fff;
}
html body .main #tela-inicial {
  margin: 45px 0 20px 0;
  height: 500px;
  width: 1100px;
  position: relative;
  overflow: hidden;
}
html body .main #tela-inicial .coluna {
  width: 550px;
  height: 500px;
  float: left;
}
html body .main #tela-inicial .coluna.esquerda {
  background-color: #bfcad0;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main #tela-inicial .coluna.esquerda p {
  padding: 15px;
}
html body .main #tela-inicial .coluna.direita .botao.cinza {
  height: 250px;
  position: relative;
  background-color: #698291;
  text-align: center;
  overflow: hidden;
}
html body .main #tela-inicial .coluna.direita .botao.cinza .tile {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 250px;
  width: 550px;
  line-height: 250px;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #tela-inicial .coluna.direita .botao.cinza .tile:active,
html body .main #tela-inicial .coluna.direita .botao.cinza .tile:visited {
  color: #fff;
}
html body .main #tela-inicial .coluna.direita .botao.cinza .tile:hover {
  color: #ffcc00;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login {
  position: absolute;
  height: 250px;
  top: 0;
  width: 550px;
  left: 0;
  z-index: 6;
  height: 223px;
  padding-top: 27px;
  background-color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login label input[type="text"],
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login label input[type="password"] {
  display: block;
  width: 420px;
  height: 20px;
  line-height: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #698291;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login input[type="submit"] {
  width: 440px;
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login input[type="submit"]:hover {
  color: #ffcc00;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login #show-form-recovery-btn {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-login #show-form-recovery-btn:hover {
  color: #c61a1a;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery {
  position: absolute;
  height: 250px;
  top: 0;
  width: 550px;
  left: 0;
  z-index: 1;
  height: 223px;
  padding-top: 27px;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery label input[type="text"],
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery label input[type="password"] {
  display: block;
  width: 420px;
  height: 20px;
  line-height: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #698291;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery input[type="submit"] {
  width: 440px;
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
}
html body .main #tela-inicial .coluna.direita .botao.cinza form#form-recovery input[type="submit"]:hover {
  color: #ffcc00;
}
html body .main #tela-inicial .coluna.direita .botao.vermelha {
  height: 250px;
  position: relative;
  background-color: #c61a1a;
  text-align: center;
}
html body .main #tela-inicial .coluna.direita .botao.vermelha a {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 250px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #tela-inicial .coluna.direita .botao.vermelha a:active,
html body .main #tela-inicial .coluna.direita .botao.vermelha a:visited {
  color: #fff;
}
html body .main #tela-inicial .coluna.direita .botao.vermelha a:hover {
  color: #ffcc00;
}
html body .main .caixa-cinza-escuro {
  padding: 50px;
  background-color: #698291;
  margin: 40px 0;
}
html body .main .caixa-cinza-escuro h2 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}
html body .main .caixa-cinza-escuro p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 150%;
  color: #fff;
}
html body .main .caixa-cinza-escuro p.metade {
  width: 50%;
}
html body .main .caixa-cinza-escuro a.visualizar-diagramacao {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  float: right;
  background-color: #698291;
  margin-top: -90px;
  color: #fff;
  width: 370px;
  height: 75px;
  line-height: 75px;
  border: 1px #fff solid;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .caixa-cinza-escuro a.visualizar-diagramacao:active,
html body .main .caixa-cinza-escuro a.visualizar-diagramacao:visited {
  color: #fff;
}
html body .main .caixa-cinza-escuro a.visualizar-diagramacao:hover {
  background-color: #ffcc00;
}
html body .main .caixa-cinza-escuro .caixa-aprovacao {
  margin: 40px 0 10px 0;
  border: 1px #fff solid;
  padding: 20px;
}
html body .main .caixa-cinza-escuro .caixa-aprovacao p {
  text-align: center;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  line-height: 160%;
}
html body .main .caixa-cinza-escuro .caixa-aprovacao a {
  width: 650px;
  height: 75px;
  line-height: 75px;
  border: 1px #fff solid;
  display: block;
  text-align: center;
  margin: 10px auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  background-color: #d7df36;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .caixa-cinza-escuro .caixa-aprovacao a:active,
html body .main .caixa-cinza-escuro .caixa-aprovacao a:visited {
  color: #000;
}
html body .main .caixa-cinza-escuro .caixa-aprovacao a:hover {
  background-color: #fff;
}
html body .main .caixa-cinza-escuro .revisar {
  border: 1px #fff solid;
  padding: 20px;
}
html body .main .caixa-cinza-escuro .revisar h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
html body .main .caixa-cinza-escuro .revisar p {
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
html body .main .caixa-cinza-escuro .revisar form {
  width: 752px;
  margin: 0 auto;
}
html body .main .caixa-cinza-escuro .revisar form textarea {
  padding: 5px 10px;
  width: 730px;
  height: 140px;
  resize: none;
  overflow: auto;
  border: 0;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
html body .main .caixa-cinza-escuro .revisar form input[type="submit"] {
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  margin: 15px auto 0 auto;
  display: block;
  cursor: pointer;
  border: 0;
  background: #698291;
  border: 1px #fff solid;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .caixa-cinza-escuro .revisar form input[type="submit"]:hover {
  background-color: #ffcc00;
}
html body .main #faixa-superior {
  height: 80px;
  margin: 30px 0;
}
html body .main #faixa-superior #primeiro-passo {
  float: left;
  width: 366px;
  text-indent: -9999px;
  height: 80px;
  background: url('../_imgs/layout/anuario/seta-1passo.png') left top no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #faixa-superior #primeiro-passo.ativo {
  background: url('../_imgs/layout/anuario/seta-1passo.png') left -80px no-repeat;
}
html body .main #faixa-superior a#primeiro-passo:hover {
  background: url('../_imgs/layout/anuario/seta-1passo.png') left -80px no-repeat;
}
html body .main #faixa-superior #segundo-passo {
  float: left;
  width: 366px;
  text-indent: -9999px;
  height: 80px;
  cursor: pointer;
  background: url('../_imgs/layout/anuario/seta-2passo.png') left top no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #faixa-superior #segundo-passo:hover,
html body .main #faixa-superior #segundo-passo.ativo {
  background: url('../_imgs/layout/anuario/seta-2passo.png') left -80px no-repeat;
}
html body .main #faixa-superior a#segundo-passo:hover {
  background: url('../_imgs/layout/anuario/seta-2passo.png') left -80px no-repeat;
}
html body .main #faixa-superior #terceiro-passo {
  float: left;
  width: 366px;
  text-indent: -9999px;
  height: 80px;
  background: url('../_imgs/layout/anuario/seta-3passo.png') left top no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #faixa-superior #terceiro-passo.ativo {
  background: url('../_imgs/layout/anuario/seta-3passo.png') left -80px no-repeat;
}
html body .main #faixa-superior a#terceiro-passo:hover {
  background: url('../_imgs/layout/anuario/seta-3passo.png') left -80px no-repeat;
}
html body .main #conteudo form {
  position: relative;
  font-size: 0;
}
html body .main #conteudo form .coluna-esquerda {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 28px;
}
html body .main #conteudo form .coluna-esquerda label {
  margin-bottom: 5px;
  text-align: right;
  display: block;
  width: 732px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main #conteudo form .coluna-esquerda label.espacador {
  margin-top: 35px;
}
html body .main #conteudo form .coluna-esquerda label input[type="text"],
html body .main #conteudo form .coluna-esquerda label input[type="email"],
html body .main #conteudo form .coluna-esquerda label input[type="password"] {
  width: 545px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  border: 0;
  padding: 3px 5px;
  background-color: #E0E5E9;
}
html body .main #conteudo form .coluna-esquerda label input[type="text"].w50,
html body .main #conteudo form .coluna-esquerda label input[type="email"].w50,
html body .main #conteudo form .coluna-esquerda label input[type="password"].w50 {
  width: 50px;
  margin-right: 495px;
}
html body .main #conteudo form .coluna-esquerda label input[type="text"].w100,
html body .main #conteudo form .coluna-esquerda label input[type="email"].w100,
html body .main #conteudo form .coluna-esquerda label input[type="password"].w100 {
  width: 100px;
  margin-right: 445px;
}
html body .main #conteudo form .coluna-esquerda label input[type="text"].w274,
html body .main #conteudo form .coluna-esquerda label input[type="email"].w274,
html body .main #conteudo form .coluna-esquerda label input[type="password"].w274 {
  width: 274px;
  margin-right: 271px;
}
html body .main #conteudo form .coluna-direita {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 340px;
}
html body .main #conteudo form .coluna-direita .caixa-cinza {
  width: 300px;
  padding: 17px 20px;
  background-color: #E0E5E9;
  margin-bottom: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #373435;
  line-height: 120%;
}
html body .main #conteudo form .coluna-direita .caixa-cinza img {
  max-width: 300px;
  margin: 5px auto;
  display: block;
}
html body .main #conteudo form .coluna-direita .caixa-cinza ul {
  list-style: none;
}
html body .main #conteudo form .coluna-direita .caixa-cinza ul li {
  margin: 10px 0;
  font-size: 13px;
}
html body .main #conteudo form .coluna-direita .caixa-cinza #fake-label {
  margin: 15px 0 5px 0;
  height: 50px;
  width: 300px;
  display: block;
  position: relative;
}
html body .main #conteudo form .coluna-direita .caixa-cinza #fake-label #fake-file {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 9;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #conteudo form .coluna-direita .caixa-cinza #fake-label #fake-file:hover {
  color: #c61a1a;
}
html body .main #conteudo form .coluna-direita .caixa-cinza #fake-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 50px;
  z-index: 2;
}
html body .main #conteudo form .coluna-direita .caixa-cinza p {
  font-size: 11px;
  line-height: 110%;
  margin: 3px 0;
}
html body .main #conteudo form .coluna-direita .caixa-cinza p.menor {
  font-size: 10px;
}
html body .main #conteudo form .coluna-direita .caixa-cinza p #caracteres-faltam {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: bold;
}
html body .main #conteudo form .coluna-direita .caixa-cinza textarea {
  width: 280px;
  padding: 4px 10px;
  resize: none;
  overflow: auto;
  border: 0;
  margin: 10px 0;
  height: 142px;
}
html body .main #conteudo form #faixa-inferior {
  clear: both;
  height: 80px;
  margin: 30px 0 80px 0;
  background: url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left -500px no-repeat;
}
html body .main #conteudo form #faixa-inferior #primeiro-passo {
  height: 80px;
  float: left;
  width: 366px;
}
html body .main #conteudo form #faixa-inferior #primeiro-passo input[type="submit"] {
  height: 80px;
  width: 366px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../_imgs/layout/anuario/botao-prosseguir-normal.png') left top no-repeat;
}
html body .main #conteudo form #faixa-inferior #primeiro-passo input[type="submit"]:hover {
  background: url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left top no-repeat;
}
html body .main #conteudo form #faixa-inferior #segundo-passo {
  height: 80px;
  float: left;
  width: 366px;
  text-indent: -9999px;
  background: url('../_imgs/layout/anuario/botao-marcacao-2passo.png') left top no-repeat;
}
html body .main #conteudo form #faixa-inferior #terceiro-passo {
  height: 80px;
  float: left;
  width: 366px;
  text-indent: -9999px;
  background: url('../_imgs/layout/anuario/botao-marcacao-3passo.png') left top no-repeat;
}
html body .main #conteudo form p.pequeno {
  color: #3B3839;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 0 0 177px;
  color: #c61a1a;
}
html body .main .fundo-cinza {
  margin: 10px 0;
  background: #E0E5E9;
}
html body .main .fundo-cinza #frase-inicial {
  padding: 280px 0;
  line-height: 125%;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #373435;
  text-align: center;
}
html body .main .fundo-cinza.iniciado {
  padding: 20px 0;
}
html body .main .fundo-cinza .resetar-pagina {
  width: 97px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border: 1px #8A8B8D solid;
  height: 20px;
  line-height: 20px;
  padding: 0 13px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #8A8B8D;
  background-color: #E0E5E9;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .resetar-pagina:active,
html body .main .fundo-cinza .resetar-pagina:visited {
  color: #8A8B8D;
}
html body .main .fundo-cinza .resetar-pagina:hover {
  background-color: #c61a1a;
  color: #fff;
}
html body .main .fundo-cinza .paginas-placeholder {
  margin: 15px 0;
  height: 635px;
  position: relative;
  overflow: hidden;
}
html body .main .fundo-cinza .paginas-placeholder .pagina {
  height: 635px;
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .aviso-lateral {
  text-align: right;
  left: 3px;
  background: url('../_imgs/layout/anuario/setafina-esquerda.png') right bottom no-repeat;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .seleciona-layout {
  float: right;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .numero-pagina {
  padding: 5px 0 0 100px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .opcoes-layout {
  left: 550px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .opcoes-layout.aberto {
  left: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .layout-fill {
  right: 550px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .layout-fill.aberto {
  right: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.esquerda .layout-fill .resetar-pagina {
  float: right;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .aviso-lateral {
  text-align: left;
  right: 3px;
  background: url('../_imgs/layout/anuario/setafina-direita.png') left bottom no-repeat;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .seleciona-layout {
  float: left;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .numero-pagina {
  text-align: right;
  padding: 5px 100px 0 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .opcoes-layout {
  left: -550px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .opcoes-layout.aberto {
  left: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .layout-fill {
  left: 550px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .layout-fill.aberto {
  left: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.direita .layout-fill .resetar-pagina {
  float: left;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial {
  text-align: center;
  width: 896px;
  left: 101px;
  height: 570px;
  padding-top: 30px;
  border: 1px #8A8B8D solid;
  top: 635px;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #698291;
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial span {
  font-size: 15px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial.aberto {
  top: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes {
  border: 1px #373435 solid;
  background-color: #698291;
  padding: 10px;
  font-size: 0;
  height: 433px;
  overflow: hidden;
  text-align: left;
  position: relative;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a {
  width: 134px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(215, 44, 44, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a .overlay .windows8 {
  display: none;
  left: 55px !important;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a:hover .overlay {
  top: 0;
  left: 0;
  height: 90px;
  width: 134px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a.ativo .overlay {
  top: 0;
  left: 0;
  height: 90px;
  width: 134px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .opcoes a.ativo .overlay .windows8 {
  display: block;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill {
  width: 896px;
  height: 570px;
  top: 635px;
  position: absolute;
  z-index: 999999;
  background-color: #fff;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill.aberto {
  top: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill .target {
  width: 896px;
  position: relative;
  z-index: 9999;
  background-color: transparent;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill .target .layout {
  text-align: left;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.w320 {
  width: 621px;
  margin: -70px 20px 0 -30px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.w296 {
  width: 591px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.h245 {
  height: 466px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina.sel-especial .layout-fill #linha-bg {
  height: 600px;
  width: 1px;
  background: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .aviso-lateral {
  width: 90px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #69686A;
  line-height: 120%;
  position: absolute;
  top: 0;
  padding-bottom: 23px;
  margin-top: 50px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .seleciona-layout {
  display: block;
  background-color: #FFF;
  border: 1px #8A8B8D solid;
  width: 448px;
  height: 425px;
  color: #698291;
  text-align: center;
  padding-top: 175px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .seleciona-layout:active,
html body .main .fundo-cinza .paginas-placeholder .pagina .seleciona-layout:visited {
  color: #698291;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .seleciona-layout:hover {
  color: #c61a1a;
  background-color: #FCFCFC;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .numero-pagina {
  clear: both;
  color: #698291;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout span {
  display: block;
  margin: 10px 0 10px 130px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes {
  height: 490px;
  border: 1px #373435 solid;
  background-color: #698291;
  padding: 10px;
  font-size: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a {
  width: 67px;
  height: 89px;
  position: relative;
  margin: 0 9px 9px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(215, 44, 44, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a .overlay .windows8 {
  display: none;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a:nth-child(7n) {
  margin-right: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a:hover .overlay {
  top: 0;
  left: 0;
  height: 89px;
  width: 67px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a.ativo .overlay {
  top: 0;
  left: 0;
  height: 89px;
  width: 67px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .opcoes-layout .opcoes a.ativo .overlay .windows8 {
  display: block;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill {
  position: absolute;
  top: 0;
  display: block;
  width: 450px;
  height: 627px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target {
  border: 1px #8A8B8D solid;
  width: 448px;
  height: 600px;
  background-color: #fff;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout {
  height: 465px;
  padding: 70px 25px 65px 30px;
  font-size: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo {
  padding: 0 22px;
  background-color: #698291;
  overflow: hidden;
  position: relative;
  clear: both;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.noclear {
  clear: none;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220 {
  width: 450px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w190 {
  width: 348px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w90 {
  width: 142px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w90 label {
  padding: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 {
  height: 602px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 label {
  margin-top: 200px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 .imagem img {
  margin-top: 100px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 {
  height: 461px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 label {
  margin-top: 155px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 .imagem img {
  margin-top: 70px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 {
  height: 300px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 label {
  margin-top: 90px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 .imagem img {
  margin-top: 50px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 {
  height: 140px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 label {
  margin-top: 10px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 .imagem img {
  margin-top: 0px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220.h290 {
  margin: -70px 0 0 -30px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220.h290 .imagem .troca-imagem {
  right: 50px !important;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.mb {
  margin-bottom: 20px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.mr {
  margin-right: 20px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.fr {
  float: right;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.fl {
  float: left;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto {
  background-color: #D2D3D5;
  text-align: center;
  color: #000;
  padding-top: 85px;
  height: 215px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 8px !important;
  height: 132px !important;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 p {
  line-height: 105%;
  margin-top: 3px !important;
  font-family: 'Verdana', 'Arial', sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 p span {
  font-size: 11px !important;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto p {
  line-height: 120%;
  margin-top: 15px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto p span {
  font-size: 13px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .dimensoes {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  text-align: center;
  padding-top: 15px;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label {
  position: relative;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 5px;
  border: 1px #fff solid;
  min-height: 15px;
  height: auto;
  cursor: pointer;
  z-index: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .file-label {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 25px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .file-label:hover {
  color: #c61a1a;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label object {
  cursor: pointer;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label input {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 25px;
  z-index: 1;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .uploadify-button {
  line-height: 130%;
  padding: 5px 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background: url('../_imgs/layout/anuario/bg-diagonal.png') left top repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem.aberto {
  top: 0;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .aviso-tamanho {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 3px;
  width: 165px;
  top: 0;
  left: 0;
  z-index: 9;
  line-height: 105%;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem {
  position: absolute;
  bottom: 25px;
  right: 2px;
  width: 90px;
  display: block;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  background: #fff;
  color: #000;
  text-align: center;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:active,
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:visited {
  color: #000;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:hover {
  background-color: #c61a1a;
  color: #fff;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
html body .main .fundo-cinza .paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem input {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: #698291;
  margin: 0;
  padding: 3px 0;
  border: 0;
  outline: 1px #464C52 solid;
  color: #000;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0;
}
html body .main .fundo-cinza .paginas-placeholder .especial {
  width: 400px;
  height: 133px;
  display: block;
  background-color: #FFF;
  border: 1px #8A8B8D solid;
  color: #698291;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  position: absolute;
  z-index: 9;
  top: 405px;
  left: 350px;
  padding-top: 27px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .fundo-cinza .paginas-placeholder .especial span {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  line-height: 140%;
}
html body .main .fundo-cinza .paginas-placeholder .especial:active,
html body .main .fundo-cinza .paginas-placeholder .especial:visited {
  color: #698291;
}
html body .main .fundo-cinza .paginas-placeholder .especial:hover {
  color: #c61a1a;
  background-color: #FCFCFC;
}
html body .main #faixa-inferior-layout {
  height: 0;
  overflow: hidden;
  background: url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left -500px no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #faixa-inferior-layout.aberto {
  height: 80px;
}
html body .main #faixa-inferior-layout .primeiro-passo-inferior {
  height: 80px;
  float: left;
  width: 366px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-indent: -9999px;
  background: url('../_imgs/layout/anuario/botao-marcacao-1passo.png') left center no-repeat;
}
html body .main #faixa-inferior-layout .segundo-passo-inferior {
  height: 80px;
  float: left;
  width: 366px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-indent: -9999px;
  background: url('../_imgs/layout/anuario/botao-prosseguir-normal.png') left top no-repeat;
}
html body .main #faixa-inferior-layout .segundo-passo-inferior:hover {
  background: url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left top no-repeat;
}
html body .main #faixa-inferior-layout .terceiro-passo-inferior {
  height: 80px;
  float: left;
  width: 366px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-indent: -9999px;
  background: url('../_imgs/layout/anuario/botao-marcacao-3passo.png') left center no-repeat;
}
html body .main #dialog-confirm {
  display: none;
}
html body .main #overlay-salvar {
  width: 100%;
  height: 0;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(215, 44, 44, 0.4);
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #overlay-salvar span {
  display: block;
  margin-top: 200px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
html body .main #overlay-salvar.aberto {
  height: 100%;
}
html body .main #overlay-salvar .windows8 {
  top: 0;
  left: 0;
  position: relative !important;
  display: block;
  margin: 5px auto;
}
html body .main #form-finalizacao {
  margin: 20px auto;
}
html body .main #form-finalizacao .centro {
  width: 745px;
}
html body .main #form-finalizacao label {
  display: block;
  height: 26px;
  margin-bottom: 5px;
  text-align: right;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main #form-finalizacao label.inline-label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #form-finalizacao label.medium-label {
  width: 677px;
}
html body .main #form-finalizacao label.medium-label input {
  width: 477px;
}
html body .main #form-finalizacao label.small-label {
  width: 64px;
}
html body .main #form-finalizacao label.small-label input {
  width: 20px;
}
html body .main #form-finalizacao label.no-inset {
  float: left;
  width: 180px;
}
html body .main #form-finalizacao label.no-inset span {
  font-size: 13px;
}
html body .main #form-finalizacao label input {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  float: right;
  text-align: left;
  width: 545px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 0 10px;
  border: 0;
  padding: 3px 5px;
  background-color: #E0E5E9;
}
html body .main #form-finalizacao textarea {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  width: 545px;
  height: 70px;
  resize: none;
  overflow: auto;
  line-height: 20px;
  margin: 0 0 0 10px;
  border: 0;
  padding: 3px 5px;
  background-color: #E0E5E9;
}
html body .main #form-finalizacao textarea.alto {
  height: 200px;
}
html body .main #form-finalizacao p.menor {
  clear: both;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-left: 191px;
  margin-top: -5px;
  margin-bottom: 30px;
}
html body .main #form-finalizacao p.menor span {
  font-weight: bold;
}
html body .main #form-finalizacao .obs.vermelho {
  text-align: center;
  margin: 30px auto;
  color: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main #form-finalizacao .caixa-vermelha {
  background-color: #c61a1a;
  padding: 25px 145px;
  text-align: center;
  color: #fff;
}
html body .main #form-finalizacao .caixa-vermelha h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
html body .main #form-finalizacao .caixa-vermelha .botao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 30px;
  background-color: #c61a1a;
  color: #fff;
  width: 305px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #form-finalizacao .caixa-vermelha .botao:active,
html body .main #form-finalizacao .caixa-vermelha .botao:visited {
  color: #fff;
}
html body .main #form-finalizacao .caixa-vermelha .botao a {
  display: block;
  margin: 19px auto 10px auto;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-size: 25px;
  border: 1px #fff solid;
  color: #fff;
  background: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #form-finalizacao .caixa-vermelha .botao a:active,
html body .main #form-finalizacao .caixa-vermelha .botao a:visited {
  color: #fff;
}
html body .main #form-finalizacao .caixa-vermelha .botao a:hover {
  color: #000;
  background-color: #fff;
}
html body .main #form-finalizacao .caixa-vermelha .botao input[type='submit'] {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 52px;
  line-height: 52px;
  width: 300px;
  font-size: 25px;
  border: 1px #fff solid;
  color: #000;
  background: #ffcc00;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #form-finalizacao .caixa-vermelha .botao input[type='submit']:hover {
  background-color: #fff;
}
html body .main .caixa-cinza-final {
  margin: 30px 0;
  background: #698291;
  color: #fff;
  padding: 44px 100px;
  text-align: center;
}
html body .main .caixa-cinza-final h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 20px 0;
  display: block;
}
html body .main .caixa-cinza-final p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 20px 0;
  display: block;
}
html body .main .caixa-cinza-final a {
  display: block;
  border: 1px #fff solid;
  width: 310px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 40px auto;
  height: 56px;
  line-height: 56px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .caixa-cinza-final a:active,
html body .main .caixa-cinza-final a:visited {
  color: #fff;
}
html body .main .caixa-cinza-final a:hover {
  color: #000;
}
html body .main .caixa-cinza-final #redefinicaoSenhaForm label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
html body .main .caixa-cinza-final #redefinicaoSenhaForm label input[type="text"],
html body .main .caixa-cinza-final #redefinicaoSenhaForm label input[type="password"] {
  display: block;
  width: 420px;
  height: 20px;
  line-height: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #698291;
}
html body .main .caixa-cinza-final #redefinicaoSenhaForm input[type="submit"] {
  width: 440px;
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #c61a1a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
}
html body .main .caixa-cinza-final #redefinicaoSenhaForm input[type="submit"]:hover {
  color: #ffcc00;
}
html body footer {
  background-color: #698291;
  padding-top: 22px;
  height: 90px;
  margin-top: 50px;
  border-top: 3px #FFF solid;
  position: relative;
}
html body footer:before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: -24px;
  width: 100%;
  height: 1px;
  background-color: #698291;
}
html body footer .contato {
  width: 125px;
  float: left;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
html body footer .contato h3 {
  border-bottom: 1px #fff solid;
  margin-bottom: 4px;
}
html body footer .assinatura {
  float: right;
  width: 260px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
html body footer .assinatura a {
  display: block;
  margin-top: 4px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .assinatura a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px transparent dotted;
}
html body footer .assinatura a img {
  vertical-align: -4px;
  margin-left: 5px;
}
html body footer .assinatura a:active,
html body footer .assinatura a:visited {
  color: #fff;
}
html body footer .assinatura a:hover span {
  border-bottom: 1px #fff dotted;
}
.uploadify-button-text {
  cursor: pointer;
}
.windows8 {
  position: absolute;
  left: 23px;
  top: 34px;
  width: 20px;
  height: 20px;
}
.windows8 .wBall {
  position: absolute;
  width: 19px;
  height: 19px;
  opacity: 0;
  -moz-transform: rotate(225deg);
  -moz-animation: orbit 3.3s infinite;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 3.3s infinite;
  -ms-transform: rotate(225deg);
  -ms-animation: orbit 3.3s infinite;
  -o-transform: rotate(225deg);
  -o-animation: orbit 3.3s infinite;
  transform: rotate(225deg);
  animation: orbit 3.3s infinite;
}
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #FFFFFF;
  left: 0px;
  top: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.windows8 #wBall_1 {
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  -ms-animation-delay: 0.72s;
  -o-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
.windows8 #wBall_2 {
  -moz-animation-delay: 0.14s;
  -webkit-animation-delay: 0.14s;
  -ms-animation-delay: 0.14s;
  -o-animation-delay: 0.14s;
  animation-delay: 0.14s;
}
.windows8 #wBall_3 {
  -moz-animation-delay: 0.29s;
  -webkit-animation-delay: 0.29s;
  -ms-animation-delay: 0.29s;
  -o-animation-delay: 0.29s;
  animation-delay: 0.29s;
}
.windows8 #wBall_4 {
  -moz-animation-delay: 0.43s;
  -webkit-animation-delay: 0.43s;
  -ms-animation-delay: 0.43s;
  -o-animation-delay: 0.43s;
  animation-delay: 0.43s;
}
.windows8 #wBall_5 {
  -moz-animation-delay: 0.58s;
  -webkit-animation-delay: 0.58s;
  -ms-animation-delay: 0.58s;
  -o-animation-delay: 0.58s;
  animation-delay: 0.58s;
}
@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
#botao-logout {
  width: 97px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border: 1px #8A8B8D solid;
  height: 20px;
  line-height: 20px;
  padding: 0 13px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  background-color: #E0E5E9;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#botao-logout:active,
#botao-logout:visited {
  color: #000;
}
#botao-logout:hover {
  background-color: #c61a1a;
  color: #fff;
}
.resetar-pagina-f {
  width: 126px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border: 1px #8A8B8D solid;
  height: 20px;
  line-height: 20px;
  padding: 0 13px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #8A8B8D;
  background-color: #E0E5E9;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.resetar-pagina-f:active,
.resetar-pagina-f:visited {
  color: #8A8B8D;
}
.resetar-pagina-f:hover {
  background-color: #c61a1a;
  color: #fff;
}
.aviso-navegadores {
  text-align: center;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  margin-bottom: 80px;
}
