@import 'vars.less';

html{
	body{
		header{
			margin:50px 0 20px 0;
			background-color:@chumbo;
			height:60px;
			.faixa-vermelha{
				background-color:@vermelho;
				height:60px;
				width:250px;
				float:left;
				margin-left:-9999px;
				padding-left:9999px;
				margin-right:35px;
				img{
					margin:12px 12px 0 0;
					float:right;
				}
			}
			h1{
				color:#FFF;
				.oxygen(24px);
				line-height:60px;
			}
		}
		.main{
			.centralizar;
			#banner-topo{
				background-color:@chumbo;
				height:113px;
				overflow:hidden;
				img{
					float:left;
					margin-right:17px;
				}
				h2{
					color:#FFF;
					.opensans(24px);
					line-height:113px;
				}
				&.empresas{background:#374F5E;}
			}
			p.aviso-entrada{
				.oxygen(14px);
				color:#000;
				margin:5px 0;
				a.seleciona-paginas{
					margin-left:5px;
					.oxygen(19px, bold);
					background-color:#E0E5E9;
					color:#373435;
					padding:0 15px;
					height:24px;
					line-height:24px;
					.transition;
					&:active, &:visited{color:#373435;}
					&.ativo, &:hover{
						background-color:@vermelho;
						color:#fff;
					}
				}
			}
			#tela-inicial{
				margin:45px 0 20px 0;
				height:500px;
				width:1100px;
				position:relative;
				overflow:hidden;
				.coluna{
					width:550px;
					height:500px;
					float:left;
					&.esquerda{
						background-color: #bfcad0;
						color:#000;
						.oxygen(14px);
						p{
							padding:15px;
						}
					}
					&.direita{
						.botao.cinza{
							height:250px;
							position:relative;
							background-color:@chumbo;
							text-align:center;
							overflow:hidden;
							.tile{
								background-color:@chumbo;
								position:absolute;
								top:0;
								left:0;
								z-index:9;
								height:250px;
								width:550px;
								line-height:250px;
								display:block;
								.opensans(24px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{ color:@amarelo; }
							}
							form#form-login{
								position:absolute;
								height:250px;
								top:0;
								width:550px;
								left:0;
								z-index:6;
								height:223px;
								padding-top:27px;
								background-color:@chumbo;
								.transition;
								label{
									.opensans(16px);
									color:#fff;
									text-align:center;
									display:block;
									margin-bottom:10px;
									input[type="text"],input[type="password"]{
										display:block;
										width:420px;
										height:20px;
										line-height:20px;
										border:0;
										padding:5px 10px;
										margin:0 auto;
										text-align:center;
										.opensans(18px);
										color:@chumbo;
									}
								}
								input[type="submit"]{
									width:440px;
									padding:0;
									border:0;
									margin:0 auto;
									height:50px;
									line-height:50px;
									text-align:center;
									color:#fff;
									cursor:pointer;
									display: block;
									.transition;
									background:@vermelho;
									.opensans(36px);
									&:hover{color:@amarelo;}
								}
								#show-form-recovery-btn{
									color:#fff;
									.transition;
									.oxygen(12px);
									&:hover{color:@vermelho;}
								}
							}
							form#form-recovery{
								position:absolute;
								height:250px;
								top:0;
								width:550px;
								left:0;
								z-index:1;
								height:223px;
								padding-top:27px;
								label{
									.opensans(16px);
									color:#fff;
									text-align:center;
									display:block;
									margin-bottom:10px;
									input[type="text"],input[type="password"]{
										display:block;
										width:420px;
										height:20px;
										line-height:20px;
										border:0;
										padding:5px 10px;
										margin:0 auto;
										text-align:center;
										.opensans(18px);
										color:@chumbo;
									}
								}
								input[type="submit"]{
									width:440px;
									padding:0;
									border:0;
									margin:0 auto;
									height:50px;
									line-height:50px;
									text-align:center;
									color:#fff;
									cursor:pointer;
									display: block;
									.transition;
									background:@vermelho;
									.opensans(36px);
									&:hover{color:@amarelo;}
								}
							}
						}
						.botao.vermelha{
							height:250px;
							position:relative;
							background-color:@vermelho;
							text-align:center;
							a{
								display:block;
								.opensans(36px);
								line-height:250px;
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{ color:@amarelo; }
							}
						}

					}
				}
			}
			.caixa-cinza-escuro{
				padding:50px;
				background-color:@chumbo;
				margin:40px 0;
				h2{
					color:#fff;
					.opensans(36px);
					text-align:center;
					margin:0 0 20px 0;
				}
				p{
					.opensans(20px);
					line-height:150%;
					color:#fff;
					&.metade{
						width:50%;
					}
				}
				a.visualizar-diagramacao{
					.opensans(36px);
					float:right;
					background-color:@chumbo;
					margin-top:-90px;
					color:#fff;
					width:370px;
					height:75px;
					line-height:75px;
					border:1px #fff solid;
					text-align:center;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{background-color:@amarelo;}
				}
				.caixa-aprovacao{
					margin:40px 0 10px 0;
					border:1px #fff solid;
					padding:20px;
					p{
						text-align:center;
						.calibri(16px, normal);
						color:#fff;
						line-height:160%;
					}
					a{
						width:650px;
						height:75px;
						line-height:75px;
						border:1px #fff solid;
						display:block;
						text-align:center;
						margin:10px auto;
						.opensans(36px);
						color:#000;
						background-color:#d7df36;
						.transition;
						&:active, &:visited{color:#000;}
						&:hover{ background-color:#fff;}
					}
				}
				.revisar{
					border:1px #fff solid;
					padding:20px;
					h3{
						.opensans(24px);
						color:#fff;
						text-align:center;
					}
					p{
						color:#fff;
						.calibri(16px, normal);
						text-align:center;
					}
					form{
						width:752px;
						margin:0 auto;
						textarea{
							padding:5px 10px;
							width:730px;
							height:140px;
							resize:none;
							overflow:auto;
							border:0;
							.calibri(16px);
							color:#000;
						}
						input[type="submit"]{
							width:150px;
							height:50px;
							line-height:50px;
							color:#fff;
							margin:15px auto 0 auto;
							display:block;
							cursor: pointer;
							border:0;
							background:@chumbo;
							border:1px #fff solid;
							.opensans(24px);
							.transition;
							&:hover{ background-color:@amarelo; }
						}
					}
				}
			}
			#faixa-superior{
				height:80px;
				margin:30px 0;
				#primeiro-passo{
					float:left;
					width:366px;
					text-indent: -9999px;
					height:80px;
					background:url('../_imgs/layout/anuario/seta-1passo.png') left top no-repeat;
					.transition;
					&.ativo{background:url('../_imgs/layout/anuario/seta-1passo.png') left -80px no-repeat;}
				}
				a#primeiro-passo:hover{background:url('../_imgs/layout/anuario/seta-1passo.png') left -80px no-repeat;}
				#segundo-passo{
					float:left;
					width:366px;
					text-indent: -9999px;
					height:80px;
					cursor:pointer;
					background:url('../_imgs/layout/anuario/seta-2passo.png') left top no-repeat;
					.transition;
					&:hover, &.ativo{background:url('../_imgs/layout/anuario/seta-2passo.png') left -80px no-repeat;}
				}
				a#segundo-passo:hover{background:url('../_imgs/layout/anuario/seta-2passo.png') left -80px no-repeat;}
				#terceiro-passo{
					float:left;
					width:366px;
					text-indent: -9999px;
					height:80px;
					background:url('../_imgs/layout/anuario/seta-3passo.png') left top no-repeat;
					.transition;
					&.ativo{background:url('../_imgs/layout/anuario/seta-3passo.png') left -80px no-repeat;}
				}
				a#terceiro-passo:hover{background:url('../_imgs/layout/anuario/seta-3passo.png') left -80px no-repeat;}
			}
			#conteudo{
				form{
					position:relative;
					font-size:0;
					.coluna-esquerda{
						.inline;
						margin-right:28px;
						label{
							margin-bottom:5px;
							text-align:right;
							display:block;
							width:732px;
							.oxygen(14px);
							&.espacador{
								margin-top:35px;
							}
							input[type="text"],
							input[type="email"],
							input[type="password"]{
								width:545px;
								height:20px;
								line-height:20px;
								margin:0;
								border:0;
								padding:3px 5px;
								background-color:#E0E5E9;
								&.w50{width:50px;margin-right:495px;}
								&.w100{width:100px;margin-right:445px;}
								&.w274{width:274px;margin-right:271px;}
							}
						}
					}
					.coluna-direita{
						.inline;
						// position:absolute;
						// right:0;
						// top:0;
						width:340px;
						.caixa-cinza{
							width:300px;
							padding:17px 20px;
							background-color:#E0E5E9;
							margin-bottom:10px;
							.oxygen(15px);
							color:#373435;
							line-height:120%;
							img{
								max-width:300px;
								margin:5px auto;
								display:block;
							}
							ul{
								list-style:none;
								li{margin:10px 0; font-size:13px;}
							}
							#fake-label{
								margin:15px 0 5px 0;
								height:50px;
								width:300px;
								display:block;
								position:relative;
								#fake-file{
									background-color: @chumbo;
									position:absolute;
									top:0;
									left:0;
									width:270px;
									padding:0 15px;
									overflow: hidden;
									text-overflow: ellipsis;
									height:50px;
									line-height:50px;
									text-align:center;
									z-index:9;
									color:#fff;
									cursor:pointer;
									.opensans(16px);
									.transition;
									&:hover{color:@vermelho;}
								}
								input[type="file"]{
									position:absolute;
									top:0;
									left:0;
									width:300px;
									height:50px;
									z-index:2;
								}
							}
							p{
								font-size:11px;
								line-height: 110%;
								margin:3px 0;
								&.menor{font-size:10px;}
								#caracteres-faltam{ .oxygen(11px, bold); }
							}
							textarea{
								width:280px;
								padding:4px 10px;
								resize:none;
								overflow:auto;
								border:0;
								margin:10px 0;
								height:142px;
							}
						}
					}
					#faixa-inferior{
						clear:both;
						height:80px;
						margin:30px 0 80px 0;
						background:url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left -500px no-repeat;
						#primeiro-passo{
							height:80px;
							float:left;
							width:366px;
							input[type="submit"]{
								height:80px;
								width:366px;
								border:0;
								padding:0;
								margin:0;
								cursor:pointer;
								text-indent: -9999px;
								.transition;
								background:url('../_imgs/layout/anuario/botao-prosseguir-normal.png') left top no-repeat;
								&:hover{background:url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left top no-repeat;}
							}
						}
						#segundo-passo{
							height:80px;
							float:left;
							width:366px;
							text-indent: -9999px;
							background:url('../_imgs/layout/anuario/botao-marcacao-2passo.png') left top no-repeat;
						}
						#terceiro-passo{
							height:80px;
							float:left;
							width:366px;
							text-indent: -9999px;
							background:url('../_imgs/layout/anuario/botao-marcacao-3passo.png') left top no-repeat;
						}
					}
					p.pequeno{
						color:#3B3839;
						.oxygen(12px);
						margin:20px 0 0 177px;
						color:@vermelho;
					}
				}
			}
			.fundo-cinza{
				margin:10px 0;
				background:#E0E5E9;
				#frase-inicial{
					padding:280px 0;
					line-height:125%;
					.oxygen(20px);
					color:#373435;
					text-align:center;
				}
				&.iniciado{padding:20px 0;}
				.resetar-pagina{
					width:97px;
					text-align:center;
					display:block;
					margin:10px auto;
					border:1px #8A8B8D solid;
					height:20px;
					line-height:20px;
					padding:0 13px;
					.opensans(13px);
					color:#8A8B8D;
					background-color:#E0E5E9;
					.transition;
					&:active, &:visited{color:#8A8B8D;}
					&:hover{background-color:@vermelho;color:#fff;}
				}
				.paginas-placeholder{
					margin:15px 0;
					height:635px;
					position:relative;
					overflow: hidden;
					.pagina{
						height:635px;
						float:left;
						width:50%;
						position:relative;
						overflow:hidden;
						&.esquerda{
							.aviso-lateral{
								text-align: right;
								left:3px;
								background:url('../_imgs/layout/anuario/setafina-esquerda.png') right bottom no-repeat;
							}
							.seleciona-layout{float:right;}
							.numero-pagina{
								padding:5px 0 0 100px;
							}
							.opcoes-layout{
								left:550px;
								&.aberto{left:0;}
							}
							.layout-fill{
								right:550px;
								&.aberto{right:0;}
								.resetar-pagina{
									float:right;
								}
							}
						}
						&.direita{
							.aviso-lateral{
								text-align: left;
								right:3px;
								background:url('../_imgs/layout/anuario/setafina-direita.png') left bottom no-repeat;
							}
							.seleciona-layout{float:left;}
							.numero-pagina{
								text-align:right;
								padding:5px 100px 0 0;
							}
							.opcoes-layout{
								left:-550px;
								&.aberto{left:0;}
							}
							.layout-fill{
								left:550px;
								&.aberto{left:0;}
								.resetar-pagina{
									float:left;
								}
							}
						}
						&.sel-especial{
							text-align:center;
							width:896px;
							left:101px;
							height:570px;
							padding-top:30px;
							border:1px #8A8B8D solid;
							top:635px;
							position:absolute;
							z-index:9999;
							background-color:#fff;
							.opensans(28px);
							color:#698291;
							line-height:100%;
							.transition;
							span{font-size:15px;}
							&.aberto{
								top:0;
							}
							.opcoes{
								border:1px #373435 solid;
								background-color:#698291;
								padding:10px;
								font-size:0;
								height:433px;
								overflow:hidden;
								text-align:left;
								position:relative;
								a{
									width:134px;
									height:90px;
									margin-right:10px;
									margin-bottom:10px;
									position:relative;
									.inline;
									img{
										position:absolute;
										top:0;
										left:0;
										z-index:1;
									}
									.overlay{
										position:absolute;
										top:50%;
										left:50%;
										width:0;
										height:0;
										background:rgba(215, 44, 44, 0.5);
										.transition;
										z-index:2;
										.windows8{display:none;left:55px !important;}
									}
									&:hover{
										.overlay{
											top:0;
											left:0;
											height:90px;
											width:134px;
										}
									}
									&.ativo .overlay{
										top:0;
										left:0;
										height:90px;
										width:134px;
										.windows8{display:block;}
									}
								}
							}
							.layout-fill{
								width:896px;
								height:570px;
								top:635px;
								position:absolute;
								z-index:999999;
								background-color:#fff;
								&.aberto{
									top:0;
								}
								.target{
									width:896px;
									position:relative;
									z-index:9999;
									background-color:transparent;
									.layout{
										text-align:left;
										.arquivo{
											&.w320{
												width:621px;
												margin:-70px 20px 0 -30px;
											}
											&.w296{width:591px;}
											&.h245{height:466px;}
										}
									}
								}
								#linha-bg{
									height:600px;
									width:1px;
									background: #000;
									position:absolute;
									z-index:1;
									top:0;
									left:50%;
								}
							}
						}
						.aviso-lateral{
							width:90px;
							.oxygen(12px);
							color:#69686A;
							line-height:120%;
							position:absolute;
							top:0;
							padding-bottom:23px;
							margin-top:50px;
						}
						.seleciona-layout{
							display:block;
							background-color:#FFF;
							border:1px #8A8B8D solid;
							width:448px;
							height:425px;
							color:#698291;
							text-align:center;
							padding-top:175px;
							.opensans(25px);
							line-height:120%;
							.transition;
							&:active, &:visited{color:#698291;}
							&:hover{color:@vermelho;background-color:#FCFCFC;}
						}
						.numero-pagina{
							clear:both;
							color:#698291;
							.oxygen(13px);
						}
						.opcoes-layout{
							width:100%;
							top:0;
							overflow:hidden;
							position:absolute;
							z-index:99;
							.opensans(16px);
							color:#698291;
							.transition;
							span{
								display:block;
								margin:10px 0 10px 130px;
							}
							.opcoes{
								height:490px;
								border:1px #373435 solid;
								background-color:#698291;
								padding:10px;
								font-size:0;
								a{
									width:67px;
									height:89px;
									position:relative;
									img{
										position:absolute;
										top:0;
										left:0;
										z-index:1;
									}
									.overlay{
										position:absolute;
										top:50%;
										left:50%;
										width:0;
										height:0;
										background:rgba(215, 44, 44, 0.5);
										.transition;
										z-index:2;
										.windows8{display:none;}
									}
									margin:0 9px 9px 0;
									&:nth-child(7n){margin-right:0;}
									.inline;
									.transition;
									&:hover{
										.overlay{
											top:0;
											left:0;
											height:89px;
											width:67px;
										}
									}
									&.ativo .overlay{
										top:0;
										left:0;
										height:89px;
										width:67px;
										.windows8{display:block;}
									}
								}
							}
						}
						.layout-fill{
							position:absolute;
							top:0;
							display:block;
							width:450px;
							height:627px;
							.opensans(25px);
							line-height:120%;
							.transition;
							.target{
								border:1px #8A8B8D solid;
								width:448px;
								height:600px;
								background-color:#fff;
								.layout{
									height:465px;
									padding:70px 25px 65px 30px;
									font-size:0;
									.arquivo{
										padding:0 22px;
										background-color:#698291;
										overflow:hidden;
										position:relative;
										clear:both;
										&.noclear{clear:none;}
										.inline;
										&.w220{width:450px;}
										&.w190{ width:348px; }
										&.w90{
											width:142px;
											label{padding:0;}
										}
										&.h290{
											height:602px;
											label{margin-top:200px;}
											.imagem{
												img{margin-top:100px;}
											}
										}
										&.h245{
											height:461px;
											label{margin-top:155px;}
											.imagem{
												img{margin-top:70px;}
											}
										}
										&.h160{
											height:300px;
											label{margin-top:90px;}
											.imagem{
												img{margin-top:50px;}
											}
										}
										&.h75{
											height:140px;
											label{margin-top:10px;}
											.imagem{
												img{margin-top:0px;}
											}
										}
										&.w220.h290{
											margin:-70px 0 0 -30px;
											.imagem{
												.troca-imagem{right:50px !important;}
											}
										}
										&.mb{margin-bottom:20px;}
										&.mr{margin-right:20px;}
										&.fr{float:right;}
										&.fl{float:left;}
										&.texto{
											background-color:#D2D3D5;
											text-align:center;
											color:#000;
											padding-top:85px;
											height:215px;
											&.h75{
												.opensans(14px);
												padding-top:8px !important;
												height: 132px !important;
												p{
													line-height:105%;
													margin-top:3px !important;
													.verdana(12px) !important;
													span{font-size:11px !important;}
												}
											}
											.opensans(17px);
											p{
												line-height:120%;
												margin-top:15px;
												.verdana(14px);
												span{font-size:13px;}
											}
										}
										.dimensoes{
											.opensans(18px);
											color:#000;
											text-align:center;
											padding-top:15px;
										}
										label{
											position:relative;
											max-width:250px;
											margin-right:auto;
											margin-left:auto;
											display:block;
											padding-top:5px;
											border:1px #fff solid;
											min-height:15px;
											height:auto;
											cursor:pointer;
											z-index: 0;
											.file-label{
												background-color:#698291;
												position:absolute;
												top:0;
												left:0;
												text-align:center;
												.opensans(15px);
												color:#fff;
												width:100%;
												height:100%;
												min-height:25px;
												z-index:2;
												cursor:pointer;
												.transition;
												&:hover{color:@vermelho;}
											}
											object{cursor:pointer;}
											input{
												position:absolute;
												top:0;
												left:0;
												text-align:center;
												width:100%;
												height:100%;
												min-height:25px;
												z-index:1;
											}
											.uploadify-button{
												line-height:130%;
												padding:5px 0;
											}
										}
										.imagem{
											position:absolute;
											width:100%;
											height:100%;
											top:100%;
											left:0;
											background:url('../_imgs/layout/anuario/bg-diagonal.png') left top repeat;
											.transition;
											&.aberto{top:0;}
											.aviso-tamanho{
												position:absolute;
												background:rgba(255,255,255,.8);
												color:#000;
												.calibri(11px);
												padding:3px;
												width:165px;
												top:0;
												left:0;
												z-index:9;
												line-height:105%;
											}
											.troca-imagem{
												position:absolute;
												bottom:25px;
												right:2px;
												width:90px;
												display:block;
												height:18px;
												line-height:18px;
												.arredondada(5px);
												background:#fff;
												color:#000;
												text-align:center;
												.calibri(11px);
												.transition;
												&:active, &:visited{color:#000;}
												&:hover{background-color:@vermelho;color:#fff;}
											}
											img{
												display: block;
												margin-right:auto;
												margin-left:auto;
											}
											input{
												width:100%;
												text-align: center;
												font-size:14px;
												background:#698291;
												margin:0;
												padding:3px 0;
												border:0;
												outline:1px #464C52 solid;
												color:#000;
												.verdana(11px);
												position:absolute;
												left:0;
												bottom:0;
											}
										}
									}
								}
							}
						}
					}
					.especial{
						width:400px;
						height:133px;
						display:block;
						background-color:#FFF;
						border:1px #8A8B8D solid;
						color:#698291;
						text-align:center;
						.opensans(25px);
						line-height:120%;
						position:absolute;
						z-index: 9;
						top:405px;
						left:350px;
						padding-top:27px;
						cursor: pointer;
						span{
							margin-top:10px;
							display:block;
							font-size:12px;
							line-height:140%;
						}
						.transition;
						&:active, &:visited{color:#698291;}
						&:hover{color:@vermelho;background-color:#FCFCFC;}
					}
				}
			}
			#faixa-inferior-layout{
				height:0;
				overflow:hidden;
				background:url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left -500px no-repeat;
				.transition;
				&.aberto{height:80px;}
				.primeiro-passo-inferior{
					height:80px;
					float:left;
					width:366px;
					.transition;
					text-indent:-9999px;
					background:url('../_imgs/layout/anuario/botao-marcacao-1passo.png') left center no-repeat;
				}
				.segundo-passo-inferior{
					height:80px;
					float:left;
					width:366px;
					.transition;
					text-indent:-9999px;
					background:url('../_imgs/layout/anuario/botao-prosseguir-normal.png') left top no-repeat;
					&:hover{background:url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left top no-repeat;}
				}
				.terceiro-passo-inferior{
					height:80px;
					float:left;
					width:366px;
					.transition;
					text-indent:-9999px;
					background:url('../_imgs/layout/anuario/botao-marcacao-3passo.png') left center no-repeat;
				}
			}
			#dialog-confirm{
				display:none;
			}
			#overlay-salvar{
				width:100%;
				height:0;
				z-index:9999;
				position:absolute;
				top:0;
				left:0;
				background:rgba(215, 44, 44, 0.4);
				text-align:center;
				overflow:hidden;
				span{
					display:block;
					margin-top:200px;
					.opensans(30px, bold);
					color:#fff;
				}
				&.aberto{height:100%;}
				.windows8{
					top:0;
					left:0;
					position:relative !important;
					display:block;
					margin:5px auto;
				}
				.transition;
			}
			#form-finalizacao{
				margin:20px auto;
				.centro{
					width:745px;
				}
				label{
					display:block;
					height:26px;
					margin-bottom:5px;
					text-align:right;
					.oxygen(16px);
					&.inline-label{
						.inline;
					}
					&.medium-label{
						width:677px;
						input{width:477px;}
					}
					&.small-label{
						width:64px;
						input{width:20px;}
					}
					&.no-inset{
						float:left;
						width:180px;
						span{font-size:13px;}
					}
					input{
						.oxygen(16px);
						float:right;
						text-align:left;
						width:545px;
						height:20px;
						line-height:20px;
						margin:0 0 0 10px;
						border:0;
						padding:3px 5px;
						background-color:#E0E5E9;
					}
				}
				textarea{
					.oxygen(16px);
					text-align:left;
					width:545px;
					height:70px;
					resize:none;
					overflow:auto;
					line-height:20px;
					margin:0 0 0 10px;
					border:0;
					padding:3px 5px;
					background-color:#E0E5E9;
					&.alto{height:200px;}
				}
				p.menor{
					clear:both;
					.oxygen(12px);
					padding-left:191px;
					margin-top:-5px;
					margin-bottom:30px;
					span{font-weight: bold}
				}
				.obs.vermelho{
					text-align:center;
					margin:30px auto;
					color:@vermelho;
					.opensans(16px);
				}
				.caixa-vermelha{
					background-color:@vermelho;
					padding:25px 145px;
					text-align:center;
					color:#fff;
					h1{
						.opensans(24px);
					}
					.botao{
						.inline;
						margin:30px;
						background-color:@vermelho;
						color:#fff;
						width:305px;
						.oxygen(14px);
						.transition;
						&:active, &:visited{color:#fff;}
						a{
							display:block;
							margin:19px auto 10px auto;
							margin-bottom:10px;
							height:40px;
							line-height:40px;
							width:200px;
							font-size:25px;
							border:1px #fff solid;
							color:#fff;
							background:@vermelho;
							.opensans(16px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								color:#000;
								background-color:#fff;
							}
						}
						input[type='submit']{
							display:block;
							margin-top:15px;
							margin-bottom:10px;
							height:52px;
							line-height:52px;
							width:300px;
							font-size:25px;
							border:1px #fff solid;
							color:#000;
							background:@amarelo;
							.opensans(26px);
							cursor:pointer;
							.transition;
							&:hover{ background-color:#fff;}
						}
					}
				}
			}
			.caixa-cinza-final{
				margin:30px 0;
				background:#698291;
				color:#fff;
				padding:44px 100px;
				text-align:center;
				h1{
					.opensans(40px);
					margin:20px 0;
					display:block;
				}
				p{
					.opensans(22px);
					margin:20px 0;
					display:block;
				}
				a{
					display:block;
					border:1px #fff solid;
					width:310px;
					text-align:center;
					.opensans(22px);
					margin:40px auto;
					height:56px;
					line-height:56px;
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						color:#000;
					}
				}
				#redefinicaoSenhaForm{
					label{
						.opensans(16px);
						color:#fff;
						text-align:center;
						display:block;
						margin-bottom:10px;
						input[type="text"],input[type="password"]{
							display:block;
							width:420px;
							height:20px;
							line-height:20px;
							border:0;
							padding:5px 10px;
							margin:0 auto;
							text-align:center;
							.opensans(18px);
							color:@chumbo;
						}
					}
					input[type="submit"]{
						width:440px;
						padding:0;
						border:0;
						margin:0 auto;
						height:50px;
						line-height:50px;
						text-align:center;
						color:#fff;
						cursor:pointer;
						display: block;
						.transition;
						background:@vermelho;
						.opensans(36px);
						&:hover{color:@amarelo;}
					}
				}
			}
		}
		footer{
			background-color: @chumbo;
			padding-top:22px;
			height:90px;
			margin-top:50px;
			border-top:3px #FFF solid;
			position:relative;
			&:before{
				content:"";
				display:block;
				position:relative;
				left:0;
				top:-24px;
				width:100%;
				height:1px;
				background-color:@chumbo;
			}
			.contato{
				width:125px;
				float:left;
				.oxygen(11px);
				color:#fff;
				line-height:140%;
				h3{
					border-bottom:1px #fff solid;
					margin-bottom:4px;
				}
			}
			.assinatura{
				float:right;
				width:260px;
				.oxygen(11px);
				color:#fff;
				a{
					display: block;
					margin-top:4px;
					color:#fff;
					span{
						.transition;
						border-bottom:1px transparent dotted;
					}
					img{ vertical-align:-4px; margin-left:5px; }
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						span{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}

.uploadify-button-text{cursor:pointer;}
// AJAX LOADER
.windows8 {
position: absolute;
left:23px;
top:34px;
width: 20px;
height:20px;
}

.windows8 .wBall {
position: absolute;
width: 19px;
height: 19px;
opacity: 0;
-moz-transform: rotate(225deg);
-moz-animation: orbit 3.3s infinite;
-webkit-transform: rotate(225deg);
-webkit-animation: orbit 3.3s infinite;
-ms-transform: rotate(225deg);
-ms-animation: orbit 3.3s infinite;
-o-transform: rotate(225deg);
-o-animation: orbit 3.3s infinite;
transform: rotate(225deg);
animation: orbit 3.3s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 3px;
height: 3px;
background: #FFFFFF;
left:0px;
top:0px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}

.windows8 #wBall_1 {
-moz-animation-delay: 0.72s;
-webkit-animation-delay: 0.72s;
-ms-animation-delay: 0.72s;
-o-animation-delay: 0.72s;
animation-delay: 0.72s;
}

.windows8 #wBall_2 {
-moz-animation-delay: 0.14s;
-webkit-animation-delay: 0.14s;
-ms-animation-delay: 0.14s;
-o-animation-delay: 0.14s;
animation-delay: 0.14s;
}

.windows8 #wBall_3 {
-moz-animation-delay: 0.29s;
-webkit-animation-delay: 0.29s;
-ms-animation-delay: 0.29s;
-o-animation-delay: 0.29s;
animation-delay: 0.29s;
}

.windows8 #wBall_4 {
-moz-animation-delay: 0.43s;
-webkit-animation-delay: 0.43s;
-ms-animation-delay: 0.43s;
-o-animation-delay: 0.43s;
animation-delay: 0.43s;
}

.windows8 #wBall_5 {
-moz-animation-delay: 0.58s;
-webkit-animation-delay: 0.58s;
-ms-animation-delay: 0.58s;
-o-animation-delay: 0.58s;
animation-delay: 0.58s;
}

@-moz-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-moz-transform: rotate(180deg);
-moz-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-moz-transform: rotate(300deg);
-moz-animation-timing-function: linear;
-moz-origin:0%;
}

30% {
opacity: 1;
-moz-transform:rotate(410deg);
-moz-animation-timing-function: ease-in-out;
-moz-origin:7%;
}

39% {
opacity: 1;
-moz-transform: rotate(645deg);
-moz-animation-timing-function: linear;
-moz-origin:30%;
}

70% {
opacity: 1;
-moz-transform: rotate(770deg);
-moz-animation-timing-function: ease-out;
-moz-origin:39%;
}

75% {
opacity: 1;
-moz-transform: rotate(900deg);
-moz-animation-timing-function: ease-out;
-moz-origin:70%;
}

76% {
opacity: 0;
-moz-transform:rotate(900deg);
}

100% {
opacity: 0;
-moz-transform: rotate(900deg);
}

}

@-webkit-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-webkit-transform: rotate(180deg);
-webkit-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-webkit-transform: rotate(300deg);
-webkit-animation-timing-function: linear;
-webkit-origin:0%;
}

30% {
opacity: 1;
-webkit-transform:rotate(410deg);
-webkit-animation-timing-function: ease-in-out;
-webkit-origin:7%;
}

39% {
opacity: 1;
-webkit-transform: rotate(645deg);
-webkit-animation-timing-function: linear;
-webkit-origin:30%;
}

70% {
opacity: 1;
-webkit-transform: rotate(770deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:39%;
}

75% {
opacity: 1;
-webkit-transform: rotate(900deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:70%;
}

76% {
opacity: 0;
-webkit-transform:rotate(900deg);
}

100% {
opacity: 0;
-webkit-transform: rotate(900deg);
}

}

@-ms-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-ms-transform: rotate(180deg);
-ms-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-ms-transform: rotate(300deg);
-ms-animation-timing-function: linear;
-ms-origin:0%;
}

30% {
opacity: 1;
-ms-transform:rotate(410deg);
-ms-animation-timing-function: ease-in-out;
-ms-origin:7%;
}

39% {
opacity: 1;
-ms-transform: rotate(645deg);
-ms-animation-timing-function: linear;
-ms-origin:30%;
}

70% {
opacity: 1;
-ms-transform: rotate(770deg);
-ms-animation-timing-function: ease-out;
-ms-origin:39%;
}

75% {
opacity: 1;
-ms-transform: rotate(900deg);
-ms-animation-timing-function: ease-out;
-ms-origin:70%;
}

76% {
opacity: 0;
-ms-transform:rotate(900deg);
}

100% {
opacity: 0;
-ms-transform: rotate(900deg);
}

}

@-o-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-o-transform: rotate(180deg);
-o-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-o-transform: rotate(300deg);
-o-animation-timing-function: linear;
-o-origin:0%;
}

30% {
opacity: 1;
-o-transform:rotate(410deg);
-o-animation-timing-function: ease-in-out;
-o-origin:7%;
}

39% {
opacity: 1;
-o-transform: rotate(645deg);
-o-animation-timing-function: linear;
-o-origin:30%;
}

70% {
opacity: 1;
-o-transform: rotate(770deg);
-o-animation-timing-function: ease-out;
-o-origin:39%;
}

75% {
opacity: 1;
-o-transform: rotate(900deg);
-o-animation-timing-function: ease-out;
-o-origin:70%;
}

76% {
opacity: 0;
-o-transform:rotate(900deg);
}

100% {
opacity: 0;
-o-transform: rotate(900deg);
}

}

@keyframes orbit {
0% {
opacity: 1;
z-index:99;
transform: rotate(180deg);
animation-timing-function: ease-out;
}

7% {
opacity: 1;
transform: rotate(300deg);
animation-timing-function: linear;
origin:0%;
}

30% {
opacity: 1;
transform:rotate(410deg);
animation-timing-function: ease-in-out;
origin:7%;
}

39% {
opacity: 1;
transform: rotate(645deg);
animation-timing-function: linear;
origin:30%;
}

70% {
opacity: 1;
transform: rotate(770deg);
animation-timing-function: ease-out;
origin:39%;
}

75% {
opacity: 1;
transform: rotate(900deg);
animation-timing-function: ease-out;
origin:70%;
}

76% {
opacity: 0;
transform:rotate(900deg);
}

100% {
opacity: 0;
transform: rotate(900deg);
}

}

#botao-logout{
	width:97px;
	text-align:center;
	display:block;
	margin:10px auto;
	border:1px #8A8B8D solid;
	height:20px;
	line-height:20px;
	padding:0 13px;
	.opensans(13px);
	color:#000;
	background-color:#E0E5E9;
	.transition;
	&:active, &:visited{color:#000;}
	&:hover{background-color:@vermelho;color:#fff;}
}

.resetar-pagina-f{
	width:126px;
	text-align:center;
	display:block;
	margin:10px auto;
	border:1px #8A8B8D solid;
	height:20px;
	line-height:20px;
	padding:0 13px;
	.opensans(13px);
	color:#8A8B8D;
	background-color:#E0E5E9;
	.transition;
	&:active, &:visited{color:#8A8B8D;}
	&:hover{background-color:@vermelho;color:#fff;}
}

.aviso-navegadores{
	text-align: center;
	.calibri(12px);
	color:#000;
	margin-bottom:80px;
}