.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
html body header {
  margin: 50px 0 20px 0;
  background-color: #99cc33;
  height: 60px;
}
html body header .faixa-vermelha {
  background-color: #c61a1a;
  height: 60px;
  width: 250px;
  float: left;
  margin-left: -9999px;
  padding-left: 9999px;
  margin-right: 35px;
}
html body header .faixa-vermelha img {
  margin: 12px 12px 0 0;
  float: right;
}
html body header h1 {
  color: #FFF;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 60px;
}
html body .main {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
html body .main p.simples {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main p.margem-t5 {
  margin-top: 5px;
}
html body .main p.margem-t10 {
  margin-top: 10px;
}
html body .main p.margem-t15 {
  margin-top: 15px;
}
html body .main p.margem-t20 {
  margin-top: 20px;
}
html body .main p.margem-t120 {
  margin-top: 120px;
}
html body .main p.margem-r5 {
  margin-right: 5px;
}
html body .main p.margem-r10 {
  margin-right: 10px;
}
html body .main p.margem-r15 {
  margin-right: 15px;
}
html body .main p.margem-r20 {
  margin-right: 20px;
}
html body .main p.margem-b5 {
  margin-bottom: 5px;
}
html body .main p.margem-b10 {
  margin-bottom: 10px;
}
html body .main p.margem-b15 {
  margin-bottom: 15px;
}
html body .main p.margem-b20 {
  margin-bottom: 20px;
}
html body .main p.margem-b220 {
  margin-bottom: 220px;
}
html body .main p.margem-l5 {
  margin-left: 5px;
}
html body .main p.margem-l10 {
  margin-left: 10px;
}
html body .main p.margem-l15 {
  margin-left: 15px;
}
html body .main p.margem-l20 {
  margin-left: 20px;
}
html body .main p a {
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main p a:active,
html body .main p a:visited {
  color: #000;
}
html body .main p a:hover {
  color: #c61a1a;
}
html body .main .menu-inicio {
  margin: 15px 0;
}
html body .main .menu-inicio a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 34px;
  line-height: 34px;
  background-color: #698291;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding: 2px 60px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .menu-inicio a:active,
html body .main .menu-inicio a:visited {
  color: #fff;
}
html body .main .menu-inicio a:hover,
html body .main .menu-inicio a.ativo {
  background-color: #c61a1a;
}
html body .main h1.titulo-pedidos {
  height: 40px;
}
html body .main h1.titulo-pedidos form {
  float: right;
  background-color: #698291;
  height: 40px;
  padding: 0 0 0 25px;
  position: relative;
}
html body .main h1.titulo-pedidos form label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: normal;
}
html body .main h1.titulo-pedidos form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 0;
  width: 215px;
  padding: 4px 30px 4px 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
  margin: 1px 1px 1px 15px;
}
html body .main h1.titulo-pedidos form input[type="submit"] {
  width: 23px;
  height: 23px;
  line-height: 23px;
  background: #698291;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 8px;
}
html body .main h1.titulo-pedidos form input[type="submit"]:hover {
  background: #c61a1a;
}
html body .main table.tabela-pedidos {
  border-collapse: collapse;
  width: 100%;
}
html body .main table.tabela-pedidos tr {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main table.tabela-pedidos tr td {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px #EEF1F3 solid;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #383536;
}
html body .main table.tabela-pedidos tr td:nth-child(1) {
  width: 9%;
}
html body .main table.tabela-pedidos tr td:nth-child(2) {
  width: 34%;
}
html body .main table.tabela-pedidos tr td:nth-child(3) {
  width: 34%;
}
html body .main table.tabela-pedidos tr td:nth-child(4) {
  width: 23%;
}
html body .main table.tabela-pedidos tr td .tab-pad {
  padding: 10px;
}
html body .main table.tabela-pedidos tr td a {
  float: right;
  width: 24px;
  height: 24px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 0 0;
  background: #c61a1a;
  color: #fff;
  display: block;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main table.tabela-pedidos tr td a:active,
html body .main table.tabela-pedidos tr td a:visited {
  color: #fff;
}
html body .main table.tabela-pedidos tr td a:hover {
  background: #698291;
}
html body .main table.tabela-pedidos.clicavel tr {
  cursor: pointer;
}
html body .main table.tabela-pedidos.clicavel tr:hover td {
  border-color: #E0E5E9;
  background-color: #E0E5E9;
}
html body .main h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
}
html body .main #banner-topo {
  background-color: #698291;
  height: 113px;
  overflow: hidden;
}
html body .main #banner-topo img {
  float: left;
  margin-right: 17px;
}
html body .main #banner-topo h2 {
  padding-top: 20px;
  text-align: center;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
html body .main #login-box {
  width: 1100px;
  text-align: center;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 45px auto 120px auto;
}
html body .main #login-box .forms-container {
  padding: 25px 50px;
  margin: 10px auto;
  width: 460px;
  background-color: #698291;
  overflow: hidden;
}
html body .main #login-box .forms-container form {
  width: 460px;
}
html body .main #login-box .forms-container form label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin: 10px 0;
  display: block;
}
html body .main #login-box .forms-container form label input[type="text"],
html body .main #login-box .forms-container form label input[type="password"] {
  width: 440px;
  padding: 3px 10px;
  margin: 0;
  text-align: center;
  border: 0;
  height: 24px;
  line-height: 24px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main #login-box .forms-container form input[type="submit"] {
  background: #c61a1a;
  color: #fff;
  text-align: center;
  border: 0;
  cursor: pointer;
  display: block;
  width: 460px;
  height: 58px;
  line-height: 58px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 34px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #login-box .forms-container form input[type="submit"]:hover {
  color: #ffcc00;
}
html body .main #login-box .forms-container form #esqueci-senha {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #login-box .forms-container form #esqueci-senha:active,
html body .main #login-box .forms-container form #esqueci-senha:visited {
  color: #fff;
}
html body .main #login-box .forms-container form #esqueci-senha:hover {
  color: #ffcc00;
}
html body .main hr {
  height: 1px;
  border: 0;
  background-color: #698291;
  margin: 26px 0;
}
html body .main .saudacoes {
  color: #c61a1a;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
html body .main .saudacoes a {
  color: #c61a1a;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .saudacoes a:active,
html body .main .saudacoes a:visited {
  color: #c61a1a;
}
html body .main .saudacoes a:hover {
  color: #698291;
}
html body .main h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #698291;
  margin-bottom: 15px;
}
html body .main form {
  position: relative;
  font-size: 0;
}
html body .main form .coluna-esquerda {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 28px;
}
html body .main form .coluna-esquerda label {
  margin-bottom: 5px;
  text-align: right;
  display: block;
  width: 732px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main form .coluna-esquerda label.espacador {
  margin-top: 35px;
}
html body .main form .coluna-esquerda label input[type="text"],
html body .main form .coluna-esquerda label input[type="email"],
html body .main form .coluna-esquerda label input[type="password"] {
  width: 545px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  border: 0;
  padding: 3px 5px;
  background-color: #E0E5E9;
}
html body .main form .coluna-esquerda label input[type="text"].w50,
html body .main form .coluna-esquerda label input[type="email"].w50,
html body .main form .coluna-esquerda label input[type="password"].w50 {
  width: 50px;
  margin-right: 495px;
}
html body .main form .coluna-esquerda label input[type="text"].w100,
html body .main form .coluna-esquerda label input[type="email"].w100,
html body .main form .coluna-esquerda label input[type="password"].w100 {
  width: 100px;
  margin-right: 445px;
}
html body .main form .coluna-esquerda label input[type="text"].w274,
html body .main form .coluna-esquerda label input[type="email"].w274,
html body .main form .coluna-esquerda label input[type="password"].w274 {
  width: 274px;
  margin-right: 271px;
}
html body .main form .coluna-esquerda label textarea {
  width: 535px;
  padding: 4px 10px;
  resize: none;
  overflow: auto;
  border: 0;
  height: 142px;
  background-color: #E0E5E9;
  vertical-align: top;
}
html body .main form .coluna-direita {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 340px;
}
html body .main form .coluna-direita .caixa-cinza {
  width: 300px;
  padding: 17px 20px;
  background-color: #E0E5E9;
  margin-bottom: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #373435;
  line-height: 120%;
}
html body .main form .coluna-direita .caixa-cinza img {
  max-width: 300px;
  margin: 5px auto;
  display: block;
}
html body .main form .coluna-direita .caixa-cinza ul {
  list-style: none;
}
html body .main form .coluna-direita .caixa-cinza ul li {
  margin: 10px 0;
  font-size: 13px;
}
html body .main form .coluna-direita .caixa-cinza p {
  font-size: 11px;
  line-height: 110%;
  margin: 3px 0;
}
html body .main form .coluna-direita .caixa-cinza p.menor {
  font-size: 10px;
}
html body .main form .coluna-direita .caixa-cinza p #caracteres-faltam {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: bold;
}
html body .main form .coluna-direita .caixa-cinza textarea {
  width: 280px;
  padding: 4px 10px;
  resize: none;
  overflow: auto;
  border: 0;
  margin: 10px 0;
  height: 142px;
}
html body .main form #input-keyword {
  height: 30px;
  line-height: 30px;
  padding: 10px;
  width: 430px;
  border: 0;
  background-color: #E0E5E9;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main form #salvar-keyword {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 50px;
  line-height: 50px;
  width: 195px;
  text-align: center;
  border: 0;
  background-color: #698291;
  color: #fff;
  cursor: pointer;
}
html body .main form #salvar-keyword:hover {
  color: #ffcc00;
}
html body .main form #listar-keyword {
  list-style: none;
  font-size: 0;
  margin: 40px 0;
}
html body .main form #listar-keyword li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 32%;
  border: 1px #698291 solid;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form #listar-keyword li:hover {
  background-color: #698291;
  color: #fff;
}
html body .main form #listar-keyword li a {
  text-indent: 0;
  float: right;
  margin: 8px 10px 0 0;
  background: #c61a1a;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 18px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form #listar-keyword li a:active,
html body .main form #listar-keyword li a:visited {
  color: #fff;
}
html body .main form #edit-img-preview {
  padding-left: 200px;
}
html body .main form .linha {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: block;
  clear: both;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
html body .main form .linha span {
  float: left;
}
html body .main form .linha.alterar {
  display: none;
}
html body .main form .linha #fake-label {
  float: left;
  margin: 5px 0 0 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 880px;
}
html body .main form .linha #fake-label #input-imagem {
  float: left;
  width: 200px;
}
html body .main form .linha #fake-label span {
  float: none;
}
html body .main form .linha #fake-label object {
  height: 40px;
  width: 200px;
}
html body .main form .linha #fake-label .uploadify-button {
  height: 40px;
  line-height: 40px;
  width: 200px;
}
html body .main form .linha #fake-label #input-imagem-queue {
  float: left;
  margin: 0 0 0 10px;
  width: 500px;
}
html body .main form .linha #fake-label #input-imagem-queue .uploadify-queue-item {
  margin: 0;
  height: 40px;
  padding: 0 10px;
}
html body .main form .linha input {
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 10px 10px;
  margin-top: 5px;
  border: 0;
  background-color: #E0E5E9;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  width: 880px;
}
html body .main form .linha a#keyword-save,
html body .main form .linha a#keyword-edit,
html body .main form .linha a#keyword-cancel {
  color: #fff;
  background-color: #698291;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 5px 0 0 200px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form .linha a#keyword-save:active,
html body .main form .linha a#keyword-edit:active,
html body .main form .linha a#keyword-cancel:active,
html body .main form .linha a#keyword-save:visited,
html body .main form .linha a#keyword-edit:visited,
html body .main form .linha a#keyword-cancel:visited {
  color: #fff;
}
html body .main form .linha a#keyword-save:hover,
html body .main form .linha a#keyword-edit:hover,
html body .main form .linha a#keyword-cancel:hover {
  color: #c61a1a;
}
html body .main form .linha a#keyword-cancel {
  margin-left: 10px;
}
html body .main form #listar-imagens {
  list-style: none;
  font-size: 0;
  margin: 55px 0 40px 0;
}
html body .main form #listar-imagens li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 32%;
  border: 1px #698291 solid;
  background-color: #fff;
  text-indent: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  height: 120px;
  overflow: hidden;
}
html body .main form #listar-imagens li img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 100px;
  max-width: 150px;
}
html body .main form #listar-imagens li p {
  float: left;
  margin-left: 10px;
  width: 145px;
  height: 100px;
  overflow: hidden;
  margin-top: 10px;
  line-height: 110%;
  font-size: 12px;
  text-indent: 0;
}
html body .main form #listar-imagens li a {
  text-indent: 0;
  float: right;
  margin: 8px 10px 0 0;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-decoration: none;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form #listar-imagens li a:active,
html body .main form #listar-imagens li a:visited {
  color: #fff;
}
html body .main form #listar-imagens li a:hover {
  text-decoration: none;
}
html body .main form #listar-imagens li a.excluir-imagem {
  background: url('painel/img/glyphicons-halflings-white.png') #c61a1a -309px 3px no-repeat;
}
html body .main form #listar-imagens li a.excluir-imagem:hover {
  background: url('painel/img/glyphicons-halflings.png') #c61a1a -309px 3px no-repeat;
}
html body .main form #listar-imagens li a.alterar-imagem {
  background: url('painel/img/glyphicons-halflings-white.png') #c61a1a 3px -69px no-repeat;
}
html body .main form #listar-imagens li a.alterar-imagem:hover {
  background: url('painel/img/glyphicons-halflings.png') #c61a1a 3px -69px no-repeat;
}
html body .main form #fake-label {
  margin: 15px 0 5px 0;
  height: 50px;
  width: 300px;
  display: block;
  position: relative;
}
html body .main form #fake-label #fake-file {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 9;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form #fake-label #fake-file:hover {
  color: #c61a1a;
}
html body .main form #fake-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 50px;
  z-index: 2;
}
html body .main form #fake-label #input-imagem,
html body .main form #fake-label .swfupload {
  height: 50px;
  line-height: 50px;
  display: block;
}
html body .main form input[type="submit"] {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  background-color: #c61a1a;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 400px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main form input[type="submit"]:hover {
  color: #ffcc00;
}
html body .main form input[type="submit"].final {
  height: 60px;
  line-height: 60px;
  margin: 80px auto 0 auto;
  font-size: 42px;
}
html body .main .alerta {
  padding: 10px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
html body .main .alerta.alerta-sucesso {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
html body .main .alerta.alerta-erro {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
html body .main .historico-pedidos {
  margin-top: -16px;
  min-height: 500px;
}
html body .main .historico-pedidos nav {
  margin-bottom: 15px;
}
html body .main .historico-pedidos nav ul {
  list-style: none;
}
html body .main .historico-pedidos nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .historico-pedidos nav ul li a {
  display: block;
  width: 180px;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .historico-pedidos nav ul li a:active,
html body .main .historico-pedidos nav ul li a:visited {
  color: #698291;
}
html body .main .historico-pedidos nav ul li a:hover,
html body .main .historico-pedidos nav ul li a.ativo {
  color: #c61a1a;
}
html body .main .historico-pedidos #box-filtros {
  background: #E0E5E9;
  padding: 18px 7px;
  margin-bottom: 40px;
}
html body .main .historico-pedidos #box-filtros .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33%;
}
html body .main .historico-pedidos #box-filtros .coluna h2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-right: 5px;
}
html body .main .historico-pedidos #box-filtros .coluna h3 {
  display: block;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
html body .main .historico-pedidos #box-filtros .coluna form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  max-width: 50%;
  margin-bottom: 4px;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 26px;
  height: 18px;
  padding: 4px 0;
  text-align: center;
  margin-right: 5px;
  border: 0;
  background: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #698291;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"]::-webkit-input-placeholder {
  color: #698291;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"]:-moz-placeholder {
  color: #698291;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"]::-moz-placeholder {
  color: #698291;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"]:-ms-input-placeholder {
  color: #698291;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="text"].lg {
  width: 140px;
  text-align: left;
  text-indent: 7px;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 26px;
  height: 26px;
  line-height: 28px;
  text-align: center;
  border: 0;
  background-color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .historico-pedidos #box-filtros .coluna form input[type="submit"]:hover {
  background-color: #c61a1a;
  color: #fff;
}
html body .main .historico-pedidos #box-filtros .coluna a#download-planilha {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  height: 50px;
  line-height: 50px;
  width: 300px;
  text-align: center;
  background: #698291;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .historico-pedidos #box-filtros .coluna a#download-planilha:active,
html body .main .historico-pedidos #box-filtros .coluna a#download-planilha:visited {
  color: #fff;
}
html body .main .historico-pedidos #box-filtros .coluna a#download-planilha:hover {
  background-color: #c61a1a;
}
html body .main .historico-pedidos .paginacao {
  text-align: center;
  padding-top: 15px;
  font-size: 0;
}
html body .main .historico-pedidos .paginacao li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
html body .main .historico-pedidos .paginacao li a {
  display: block;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: #698291;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .historico-pedidos .paginacao li a:active,
html body .main .historico-pedidos .paginacao li a:visited {
  color: #fff;
}
html body .main .historico-pedidos .paginacao li a:hover {
  background-color: #c61a1a;
}
html body .main .historico-pedidos .paginacao li b {
  display: block;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: #c61a1a;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .ui-autocomplete {
  width: 445px;
  background-color: #E0E5E9;
  list-style: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  behavior: url('PIE.htc');
}
html body .ui-autocomplete li a {
  padding: 2px 0 2px 10px;
  font-size: 12px;
  background-color: #E0E5E9 !important;
  border: none !important;
  color: #698291 !important;
}
html body .ui-autocomplete li a:active,
html body .ui-autocomplete li a:visited {
  color: #698291 !important;
}
html body .ui-autocomplete li a:hover {
  color: #000;
  background-color: #E0E5E9 !important;
  border: none !important;
}
html body footer {
  background-color: #698291;
  padding-top: 22px;
  height: 90px;
  margin-top: 50px;
  border-top: 3px #FFF solid;
  position: relative;
}
html body footer:before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: -24px;
  width: 100%;
  height: 1px;
  background-color: #698291;
}
html body footer .contato {
  width: 125px;
  float: left;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
html body footer .contato h3 {
  border-bottom: 1px #fff solid;
  margin-bottom: 4px;
}
html body footer .assinatura {
  float: right;
  width: 260px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}
html body footer .assinatura a {
  display: block;
  margin-top: 4px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .assinatura a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px transparent dotted;
}
html body footer .assinatura a img {
  vertical-align: -4px;
  margin-left: 5px;
}
html body footer .assinatura a:active,
html body footer .assinatura a:visited {
  color: #fff;
}
html body footer .assinatura a:hover span {
  border-bottom: 1px #fff dotted;
}
html body #solicitacao-modal {
  width: 920px;
  min-height: 440px;
  padding: 40px;
  background-color: #FFFFFF;
}
html body #solicitacao-modal h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #698291;
  margin-bottom: 30px;
}
html body #solicitacao-modal .linha .celula {
  margin-bottom: 4px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #solicitacao-modal .linha .celula:first-child {
  color: #c61a1a;
  width: 150px;
  text-align: right;
}
html body #solicitacao-modal .linha .celula:last-child {
  max-width: 750px;
  padding-left: 10px;
}
html body #solicitacao-modal .linha .celula:last-child a {
  display: block;
  padding: 10px 40px;
  margin: 20px 0;
  border: 1px #698291 solid;
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #solicitacao-modal .linha .celula:last-child a:hover {
  background-color: #c61a1a;
  color: #fff;
}
html body #solicitacao-modal form {
  margin-top: 40px;
  background-color: #698291;
  padding: 1px;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 635px;
}
html body #solicitacao-modal form label {
  height: 40px;
  flaot: left;
  padding: 0 35px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
}
html body #solicitacao-modal form input[type="text"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 0;
  background: #fff;
  height: 38px;
  line-height: 38px;
  width: 220px;
  color: #000;
  text-indent: 10px;
  padding-right: 30px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body #solicitacao-modal form input[type="submit"] {
  height: 20px;
  line-height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #698291;
  cursor: pointer;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #solicitacao-modal form input[type="submit"]:hover {
  background-color: #c61a1a;
}
