html.login, html.login body{ background-color:#888; }
html.login form{ margin-bottom:0; }
html.login div.modal{ position:relative;margin:48px auto;top:0;left:0; }
#modal-recovery{ display:none; }
.dropdown-menu{ display:none; }
.container.top{ margin-top:18px; }
.center{ text-align:center; }
form.
h2.nofloat a{ float:none !important; }
h2.nofloat ul .dropdown-menu{ font-size:12px !important; text-align:right !important; float:none; min-width:90px;}
h2.nofloat ul .dropdown-menu a{ float:none; }

#modal-login{
  width:393px;
}
#modal-login .modal-header{ text-align:center; }

.crud-actions{ width:133px; }
.move-actions{ width:60px; }

#footer {
  margin:30px 0 30px 0;
  background-color: #fff;
  background-repeat: no-repeat;
}

body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  color: #CCC;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

textarea.pequeno{ min-width:520px !important; height:200px !important; }
textarea.medio{ min-width:690px !important; height:450px !important; }
textarea.grande{ min-width:940px !important; height:380px !important; }
td.nowrap{  max-width:290px; }
td.titulo{  width:150px; }
table.table-sortable tr{ width:100% !important; }
.btn.mrg-d{ margin-bottom:5px; }
#form-ins{
  display:none;
  border:1px #ccc solid;
  width:530px;
  padding:15px 20px;
}

.paginas-placeholder {
  margin: 15px 0;
  height: 635px;
  position: relative;
  overflow: hidden;
}
.paginas-placeholder .pagina {
  height: 635px;
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.paginas-placeholder .pagina.esquerda .aviso-lateral {
  text-align: right;
  left: 3px;
  background: url('../_imgs/layout/anuario/setafina-esquerda.png') right bottom no-repeat;
}
.paginas-placeholder .pagina.esquerda .seleciona-layout {
  float: right;
}
.paginas-placeholder .pagina.esquerda .numero-pagina {
  padding: 5px 0 0 100px;
}
.paginas-placeholder .pagina.esquerda .opcoes-layout {
  left: 550px;
}
.paginas-placeholder .pagina.esquerda .opcoes-layout.aberto {
  left: 0;
}
.paginas-placeholder .pagina.esquerda .layout-fill {
  right: 550px;
}
.paginas-placeholder .pagina.esquerda .layout-fill.aberto {
  right: 0;
}
.paginas-placeholder .pagina.esquerda .layout-fill .resetar-pagina {
  float: right;
}
.paginas-placeholder .pagina.direita .aviso-lateral {
  text-align: left;
  right: 3px;
  background: url('../_imgs/layout/anuario/setafina-direita.png') left bottom no-repeat;
}
.paginas-placeholder .pagina.direita .seleciona-layout {
  float: left;
}
.paginas-placeholder .pagina.direita .numero-pagina {
  text-align: right;
  padding: 5px 100px 0 0;
}
.paginas-placeholder .pagina.direita .opcoes-layout {
  left: -550px;
}
.paginas-placeholder .pagina.direita .opcoes-layout.aberto {
  left: 0;
}
.paginas-placeholder .pagina.direita .layout-fill {
  left: 550px;
}
.paginas-placeholder .pagina.direita .layout-fill.aberto {
  left: 0;
}
.paginas-placeholder .pagina.direita .layout-fill .resetar-pagina {
  float: left;
}
.paginas-placeholder .pagina.sel-especial {
  text-align: center;
  width: 896px;
  left: 101px;
  height: 570px;
  padding-top: 30px;
  border: 1px #8A8B8D solid;
  top: 635px;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #698291;
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina.sel-especial span {
  font-size: 15px;
}
.paginas-placeholder .pagina.sel-especial.aberto {
  top: 0;
  left:19px;
}
.paginas-placeholder .pagina.sel-especial .opcoes {
  border: 1px #373435 solid;
  background-color: #698291;
  padding: 10px;
  font-size: 0;
  height: 433px;
  overflow: hidden;
  text-align: left;
  position: relative;
}
.paginas-placeholder .pagina.sel-especial .opcoes a {
  width: 134px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.paginas-placeholder .pagina.sel-especial .opcoes a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.paginas-placeholder .pagina.sel-especial .opcoes a .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(215, 44, 44, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
}
.paginas-placeholder .pagina.sel-especial .opcoes a .overlay .windows8 {
  display: none;
  left: 55px !important;
}
.paginas-placeholder .pagina.sel-especial .opcoes a:hover .overlay {
  top: 0;
  left: 0;
  height: 90px;
  width: 134px;
}
.paginas-placeholder .pagina.sel-especial .opcoes a.ativo .overlay {
  top: 0;
  left: 0;
  height: 90px;
  width: 134px;
}
.paginas-placeholder .pagina.sel-especial .opcoes a.ativo .overlay .windows8 {
  display: block;
}
.paginas-placeholder .pagina.sel-especial .layout-fill {
  width: 896px;
  height: 570px;
  top: 635px;
  position: absolute;
  z-index: 999999;
  background-color: #fff;
}
.paginas-placeholder .pagina.sel-especial .layout-fill.aberto {
  top: 0;
}
.paginas-placeholder .pagina.sel-especial .layout-fill .target {
  width: 896px;
  position: relative;
  z-index: 9999;
  background-color: transparent;
}
.paginas-placeholder .pagina.sel-especial .layout-fill .target .layout {
  text-align: left;
}
.paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.w320 {
  width: 621px;
  margin: -70px 20px 0 -30px;
}
.paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.w296 {
  width: 591px;
}
.paginas-placeholder .pagina.sel-especial .layout-fill .target .layout .arquivo.h245 {
  height: 466px;
}
.paginas-placeholder .pagina.sel-especial .layout-fill #linha-bg {
  height: 600px;
  width: 1px;
  background: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}
.paginas-placeholder .pagina .aviso-lateral {
  width: 90px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #69686A;
  line-height: 120%;
  position: absolute;
  top: 0;
  padding-bottom: 23px;
  margin-top: 50px;
}
.paginas-placeholder .pagina .seleciona-layout {
  display: block;
  background-color: #FFF;
  border: 1px #8A8B8D solid;
  width: 448px;
  height: 425px;
  color: #698291;
  text-align: center;
  padding-top: 175px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .seleciona-layout:active,
.paginas-placeholder .pagina .seleciona-layout:visited {
  color: #698291;
}
.paginas-placeholder .pagina .seleciona-layout:hover {
  color: #c61a1a;
  background-color: #FCFCFC;
}
.paginas-placeholder .pagina .numero-pagina {
  clear: both;
  color: #698291;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.paginas-placeholder .pagina .opcoes-layout {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #698291;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .opcoes-layout span {
  display: block;
  margin: 10px 0 10px 130px;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes {
  height: 490px;
  border: 1px #373435 solid;
  background-color: #698291;
  padding: 10px;
  font-size: 0;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a {
  width: 67px;
  height: 89px;
  position: relative;
  margin: 0 9px 9px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(215, 44, 44, 0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a .overlay .windows8 {
  display: none;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a:nth-child(7n) {
  margin-right: 0;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a:hover .overlay {
  top: 0;
  left: 0;
  height: 89px;
  width: 67px;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a.ativo .overlay {
  top: 0;
  left: 0;
  height: 89px;
  width: 67px;
}
.paginas-placeholder .pagina .opcoes-layout .opcoes a.ativo .overlay .windows8 {
  display: block;
}
.paginas-placeholder .pagina .layout-fill {
  position: absolute;
  top: 0;
  display: block;
  width: 450px;
  height: 627px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .layout-fill .target {
  border: 1px #8A8B8D solid;
  width: 448px;
  height: 600px;
  background-color: #fff;
}
.paginas-placeholder .pagina .layout-fill .target .layout {
  height: 465px;
  padding: 70px 25px 65px 30px;
  font-size: 0;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo {
  padding: 0 22px;
  background-color: #698291;
  overflow: hidden;
  position: relative;
  clear: both;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.noclear {
  clear: none;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220 {
  width: 450px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w190 {
  width: 348px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w90 {
  width: 142px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w90 label {
  padding: 0;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 {
  height: 602px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 label {
  margin-top: 200px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h290 .imagem img {
  margin-top: 100px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 {
  height: 461px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 label {
  margin-top: 155px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h245 .imagem img {
  margin-top: 70px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 {
  height: 300px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 label {
  margin-top: 90px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h160 .imagem img {
  margin-top: 50px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 {
  height: 140px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 label {
  margin-top: 10px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.h75 .imagem img {
  margin-top: 0px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220.h290 {
  margin: -70px 0 0 -30px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.w220.h290 .imagem .troca-imagem {
  right: 50px !important;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.mb {
  margin-bottom: 20px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.mr {
  margin-right: 20px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.fr {
  float: right;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.fl {
  float: left;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto {
  background-color: #D2D3D5;
  text-align: center;
  color: #000;
  padding-top: 85px;
  height: 215px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 8px !important;
  height: 132px !important;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 p {
  line-height: 105%;
  margin-top: 3px !important;
  font-family: 'Verdana', 'Arial', sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto.h75 p span {
  font-size: 11px !important;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto p {
  line-height: 120%;
  margin-top: 15px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo.texto p span {
  font-size: 13px;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .dimensoes {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  text-align: center;
  padding-top: 15px;
  position:relative;
  z-index:99999999999999999;
  text-shadow: 0px 0px 6px #FFFFFF;
  filter: dropshadow(color=#FFFFFF, offx=0, offy=0);
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label {
  position: relative;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 5px;
  border: 1px #fff solid;
  min-height: 15px;
  height: auto;
  cursor: pointer;
  z-index: 0;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .file-label {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 25px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .file-label:hover {
  color: #c61a1a;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label object {
  cursor: pointer;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label input {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 25px;
  z-index: 1;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo label .uploadify-button {
  line-height: 130%;
  padding: 5px 0;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background: url('../_imgs/layout/anuario/bg-diagonal.png') left top repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem.aberto {
  top: 0;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .aviso-tamanho {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 3px;
  width: 165px;
  top: 0;
  left: 0;
  z-index: 9;
  line-height: 105%;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem {
  position: absolute;
  bottom: 25px;
  right: 2px;
  width: 90px;
  display: block;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  background: #fff;
  color: #000;
  text-align: center;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:active,
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:visited {
  color: #000;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem .troca-imagem:hover {
  background-color: #c61a1a;
  color: #fff;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.paginas-placeholder .pagina .layout-fill .target .layout .arquivo .imagem input {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: #698291;
  margin: 0;
  padding: 3px 0;
  border: 0;
  outline: 1px #464C52 solid;
  color: #000;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0;
}
.paginas-placeholder .especial {
  width: 400px;
  height: 133px;
  display: block;
  background-color: #FFF;
  border: 1px #8A8B8D solid;
  color: #698291;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 120%;
  position: absolute;
  z-index: 9;
  top: 405px;
  left: 350px;
  padding-top: 27px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.paginas-placeholder .especial span {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  line-height: 140%;
}
.paginas-placeholder .especial:active,
.paginas-placeholder .especial:visited {
  color: #698291;
}
.paginas-placeholder .especial:hover {
  color: #c61a1a;
  background-color: #FCFCFC;
}
html body .main #faixa-inferior-layout {
  height: 0;
  overflow: hidden;
  background: url('../_imgs/layout/anuario/botao-prosseguir-hover.png') left -500px no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #faixa-inferior-layout.aberto {
  height: 80px;
}

.txt-formatado{
  display: block;
  padding:10px;
  margin:2px 10px;
  width:400px;
  background:#D2D3D5;
  border:1px #8A8B8D solid;
}
.txt-formatado.inline{
display: inline-block;
  *display:inline;
  zoom:1;
  vertical-align:top;
}


tr.baixado td{background-color:#C0D9AF !important;}
tr.baixado td img{
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  transition:all .3s ease-in;
  width:50px !important;
}

#span-exemplo-2destaques,
#span-exemplo-1destaque-1halfbanner,
#span-exemplo-1button,
#span-exemplo-1publiespecial{
  position:relative; cursor:pointer;
  -webkit-transition:all .3s ease-in;  
  -moz-transition:all .3s ease-in;  
  -o-transition:all .3s ease-in;  
  transition:all .3s ease-in;
  font-weight:bold;
  text-decoration: underline;
}

#span-exemplo-2destaques:hover:after,
#span-exemplo-1destaque-1halfbanner:hover:after,
#span-exemplo-1button:hover:after,
#span-exemplo-1publiespecial:hover:after{
  opacity:1;
  height:auto;
  width:auto;
  padding:10px;
  display:block;
}

#span-exemplo-2destaques:after,
#span-exemplo-1destaque-1halfbanner:after,
#span-exemplo-1button:after,
#span-exemplo-1publiespecial:after{
  display:none;
  z-index:99;
  position:absolute;
  left:130%;
  top:-120px;
  background-color:#CCC;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  width:0;
  height:0;
  padding:0;
  opacity:0;
}

#span-exemplo-2destaques:after{
  content:url('../../../_imgs/layout/exemplo-2destaques.png');  
}

#span-exemplo-1destaque-1halfbanner:after{
  content:url('../../../_imgs/layout/exemplo-1destaque-2halfbanners.png');  
}

#span-exemplo-1button:after{
  content:url('../../../_imgs/layout/exemplo-1button.png');  
}

#span-exemplo-1publiespecial:after{
  content:url('../../../_imgs/layout/exemplo-1publiespecial.png');  
}
