
/*********************************************************/
form.edit-fornecedor{
  width:1100px;
  margin-left:-80px;
}

form.edit-fornecedor input, form.edit-fornecedor textarea{
  display:inline;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 1100px;
  padding: 0 0;
  margin: 0 auto;
}
.clear {
  clear: both;
}
form {
  position: relative;
  font-size: 0;
}
form .coluna-esquerda {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 28px;
}
form .coluna-esquerda label {
  margin-bottom: 5px;
  text-align: right;
  display: block;
  width: 732px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
form .coluna-esquerda label.espacador {
  margin-top: 35px;
}
form .coluna-esquerda label input[type="text"],
form .coluna-esquerda label input[type="email"],
form .coluna-esquerda label input[type="password"] {
  width: 545px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  border: 0;
  padding: 3px 5px;
  background-color: #E0E5E9;
}
form .coluna-esquerda label input[type="text"].w50,
form .coluna-esquerda label input[type="email"].w50,
form .coluna-esquerda label input[type="password"].w50 {
  width: 50px;
  margin-right: 495px;
}
form .coluna-esquerda label input[type="text"].w100,
form .coluna-esquerda label input[type="email"].w100,
form .coluna-esquerda label input[type="password"].w100 {
  width: 100px;
  margin-right: 445px;
}
form .coluna-esquerda label input[type="text"].w274,
form .coluna-esquerda label input[type="email"].w274,
form .coluna-esquerda label input[type="password"].w274 {
  width: 274px;
  margin-right: 271px;
}
form .coluna-esquerda label textarea {
  width: 535px;
  padding: 4px 10px;
  resize: none;
  overflow: auto;
  border: 0;
  height: 142px;
  background-color: #E0E5E9;
  vertical-align: top;
}
form .coluna-direita {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 340px;
}
form .coluna-direita .caixa-cinza {
  width: 300px;
  padding: 17px 20px;
  background-color: #E0E5E9;
  margin-bottom: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #373435;
  line-height: 120%;
}
form .coluna-direita .caixa-cinza img {
  max-width: 300px;
  margin: 5px auto;
  display: block;
}
form .coluna-direita .caixa-cinza ul {
  list-style: none;
}
form .coluna-direita .caixa-cinza ul li {
  margin: 10px 0;
  font-size: 13px;
}
form .coluna-direita .caixa-cinza p {
  font-size: 11px;
  line-height: 110%;
  margin: 3px 0;
}
form .coluna-direita .caixa-cinza p.menor {
  font-size: 10px;
}
form .coluna-direita .caixa-cinza p #caracteres-faltam {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: bold;
}
form .coluna-direita .caixa-cinza textarea {
  width: 280px;
  padding: 4px 10px;
  resize: none;
  overflow: auto;
  border: 0;
  margin: 10px 0;
  height: 142px;
}
form p.simples {
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
form #input-keyword {
  height: 30px;
  line-height: 30px;
  padding: 10px;
  width: 430px;
  border: 0;
  background-color: #E0E5E9;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
form #salvar-keyword {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 50px;
  line-height: 50px;
  width: 195px;
  text-align: center;
  border: 0;
  background-color: #698291;
  color: #fff;
  cursor: pointer;
}
form #salvar-keyword:hover {
  color: #ffcc00;
}
form #listar-keyword {
  list-style: none;
  font-size: 0;
  margin: 40px 0;
}
form #listar-keyword li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 32%;
  border: 1px #698291 solid;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form #listar-keyword li:hover {
  background-color: #698291;
  color: #fff;
}
form #listar-keyword li a {
  text-indent: 0;
  float: right;
  margin: 8px 10px 0 0;
  background: #c61a1a;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 18px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form #listar-keyword li a:active,
form #listar-keyword li a:visited {
  color: #fff;
}
form #edit-img-preview {
  padding-left: 200px;
}
form .linha {
  color: #698291;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: block;
  clear: both;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
form .linha span {
  float: left;
}
form .linha.alterar {
  display: none;
}
form .linha #fake-label {
  float: left;
  margin: 5px 0 0 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 880px;
}
form .linha #fake-label #input-imagem {
  float: left;
  width: 200px;
}
form .linha #fake-label span {
  float: none;
}
form .linha #fake-label object {
  height: 40px;
  width: 200px;
}
form .linha #fake-label .uploadify-button {
  height: 40px;
  line-height: 40px;
  width: 200px;
}
form .linha #fake-label #input-imagem-queue {
  float: left;
  margin: 0 0 0 10px;
  width: 500px;
}
form .linha #fake-label #input-imagem-queue .uploadify-queue-item {
  margin: 0;
  height: 40px;
  padding: 0 10px;
}
form .linha input {
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 10px 10px;
  margin-top: 5px;
  border: 0;
  background-color: #E0E5E9;
  color: #000;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  width: 880px;
}
form .linha a#keyword-save,
form .linha a#keyword-edit,
form .linha a#keyword-cancel {
  color: #fff;
  background-color: #698291;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 5px 0 0 200px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form .linha a#keyword-save:active,
form .linha a#keyword-edit:active,
form .linha a#keyword-cancel:active,
form .linha a#keyword-save:visited,
form .linha a#keyword-edit:visited,
form .linha a#keyword-cancel:visited {
  color: #fff;
}
form .linha a#keyword-save:hover,
form .linha a#keyword-edit:hover,
form .linha a#keyword-cancel:hover {
  color: #c61a1a;
}
form .linha a#keyword-cancel {
  margin-left: 10px;
}
form #listar-imagens {
  list-style: none;
  font-size: 0;
  margin: 55px 0 40px 0;
}
form #listar-imagens li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 32%;
  border: 1px #698291 solid;
  background-color: #fff;
  text-indent: 10px;
  font-family: 'Oxygen', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  height: 120px;
  overflow: hidden;
}
form #listar-imagens li img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 100px;
  max-width: 150px;
}
form #listar-imagens li p {
  float: left;
  margin-left: 10px;
  width: 145px;
  height: 100px;
  overflow: hidden;
  margin-top: 10px;
  line-height: 110%;
  font-size: 12px;
  text-indent: 0;
}
form #listar-imagens li a {
  text-indent: 0;
  float: right;
  margin: 8px 10px 0 0;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-decoration: none;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form #listar-imagens li a:active,
form #listar-imagens li a:visited {
  color: #fff;
}
form #listar-imagens li a:hover {
  text-decoration: none;
}
form #listar-imagens li a.excluir-imagem {
  background: url('../img/glyphicons-halflings-white.png') #c61a1a -309px 3px no-repeat;
}
form #listar-imagens li a.excluir-imagem:hover {
  background: url('../img/glyphicons-halflings.png') #c61a1a -309px 3px no-repeat;
}
form #listar-imagens li a.alterar-imagem {
  background: url('../img/glyphicons-halflings-white.png') #c61a1a 3px -69px no-repeat;
}
form #listar-imagens li a.alterar-imagem:hover {
  background: url('../img/glyphicons-halflings.png') #c61a1a 3px -69px no-repeat;
}
form #fake-label {
  margin: 15px 0 5px 0;
  height: 50px;
  width: 300px;
  display: block;
  position: relative;
}
form #fake-label #fake-file {
  background-color: #698291;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 9;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form #fake-label #fake-file:hover {
  color: #c61a1a;
}
form #fake-label input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 50px;
  z-index: 2;
}
form #fake-label #input-imagem,
form #fake-label .swfupload {
  height: 50px;
  line-height: 50px;
  display: block;
}
form input[type="submit"] {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  background-color: #c61a1a;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 400px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form input[type="submit"]:hover {
  color: #ffcc00;
}
form input[type="submit"].final {
  height: 60px;
  line-height: 60px;
  margin: 80px auto 0 auto;
  font-size: 42px;
}
.ui-autocomplete {
  width: 445px;
  background-color: #E0E5E9;
  list-style: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  behavior: url('PIE.htc');
}
.ui-autocomplete li a {
  padding: 2px 0 2px 10px;
  font-size: 12px;
  background-color: #E0E5E9 !important;
  border: none !important;
  color: #698291 !important;
}
.ui-autocomplete li a:active,
.ui-autocomplete li a:visited {
  color: #698291 !important;
}
.ui-autocomplete li a:hover {
  color: #000;
  background-color: #E0E5E9 !important;
  border: none !important;
}
